Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt

release notes update
  assemblies/assembly-release-notes-breaking-changes.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3048.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

RHIDP-3401 - Release notes for release 1.3
  assemblies/assembly-release-notes-breaking-changes.adoc
  assemblies/assembly-release-notes-fixed-issues.adoc
  assemblies/assembly-release-notes-fixed-security-issues.adoc
  assemblies/assembly-release-notes-known-issues.adoc
  assemblies/assembly-release-notes-new-features.adoc
  assemblies/assembly-release-notes-technology-preview.adoc
  build/scripts/single-source-release-notes.py
  build/templates/assembly.adoc.jinja
  build/templates/snippet.adoc.jinja2
  jira2asciidoc.yml
  modules/release-notes/con-breaking-changes.adoc
  modules/release-notes/con-relnotes-fixed-issues.adoc
  modules/release-notes/con-relnotes-known-issues.adoc
  modules/release-notes/con-relnotes-notable-features.adoc
  modules/release-notes/con-relnotes-techpreview-features.adoc
  modules/release-notes/snip-bug-fix-rhidp-2716.adoc
  modules/release-notes/snip-bug-fix-rhidp-3159.adoc
  modules/release-notes/snip-bug-fix-rhidp-3217.adoc
  modules/release-notes/snip-bug-fix-rhidp-3260.adoc
  modules/release-notes/snip-bug-fix-rhidp-3458.adoc
  modules/release-notes/snip-bug-fix-rhidp-3471.adoc
  modules/release-notes/snip-bug-fix-rhidp-3580.adoc
  modules/release-notes/snip-bug-fix-rhidp-3601.adoc
  modules/release-notes/snip-bug-fix-rhidp-3612.adoc
  modules/release-notes/snip-bug-fix-rhidp-3735.adoc
  modules/release-notes/snip-bug-fix-rhidp-3896.adoc
  modules/release-notes/snip-bug-fix-rhidp-4013.adoc
  modules/release-notes/snip-bug-fix-rhidp-4046.adoc
  modules/release-notes/snip-bug-fix-rhidp-4200.adoc
  modules/release-notes/snip-deprecated-functionality-rhidp-2794.adoc
  modules/release-notes/snip-deprecated-functionality-rhidp-2847.adoc
  modules/release-notes/snip-enhancement-rhidp-3728.adoc
  modules/release-notes/snip-feature-rhidp-2644.adoc
  modules/release-notes/snip-feature-rhidp-2888.adoc
  modules/release-notes/snip-feature-rhidp-3666.adoc
  requirements.txt
  titles/rel-notes-rhdh/title-rhdh-release-notes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @nickboldt

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-feature-rhidp-2341.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
  assemblies/assembly-release-notes-new-features.adoc
  build/scripts/single-source-release-notes.py
  build/templates/assembly.adoc.jinja
  build/templates/snippet-cve.adoc.jinja2
  build/templates/snippet.adoc.jinja2
  modules/release-notes/snip-enhancement-rhidp-2695.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @nickboldt

release notes update
  modules/release-notes/snip-feature-rhidp-2888.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  build/templates/snippet-cve.adoc.jinja2
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

release notes update
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-feature-rhidp-2865.adoc
  modules/release-notes/snip-feature-rhidp-3062.adoc
  modules/release-notes/snip-feature-rhidp-3177.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-enhancement-rhidp-3826.adoc
  modules/release-notes/snip-feature-rhidp-2865.adoc
  modules/release-notes/snip-feature-rhidp-3062.adoc
  modules/release-notes/snip-feature-rhidp-3177.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-breaking-changes.adoc
  assemblies/assembly-release-notes-fixed-issues.adoc
  modules/release-notes/snip-bug-fix-rhidp-1334.adoc
  modules/release-notes/snip-bug-fix-rhidp-2139.adoc
  modules/release-notes/snip-bug-fix-rhidp-2374.adoc
  modules/release-notes/snip-bug-fix-rhidp-2412.adoc
  modules/release-notes/snip-bug-fix-rhidp-2438.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-enhancement-rhidp-2819.adoc
  modules/release-notes/snip-enhancement-rhidp-3125.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  modules/release-notes/snip-feature-rhidp-3666.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-enhancement-rhidp-2819.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-breaking-changes.adoc
  assemblies/assembly-release-notes-fixed-issues.adoc
  modules/release-notes/snip-bug-fix-rhidp-2529.adoc
  modules/release-notes/snip-bug-fix-rhidp-2728.adoc
  modules/release-notes/snip-deprecated-functionality-rhidp-1138.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-feature-rhidp-3062.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
  modules/release-notes/snip-enhancement-rhidp-3826.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  modules/release-notes/snip-feature-rhidp-3569.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  assemblies/assembly-release-notes-breaking-changes.adoc
  assemblies/assembly-release-notes-deprecated-functionalities.adoc
  assemblies/assembly-release-notes-fixed-issues.adoc
  assemblies/assembly-release-notes-fixed-security-issues.adoc
  assemblies/assembly-release-notes-known-issues.adoc
  assemblies/assembly-release-notes-new-features.adoc
  assemblies/assembly-release-notes-technology-preview.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  assemblies/assembly-release-notes-breaking-changes.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2796.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-breaking-changes.adoc
  assemblies/assembly-release-notes-fixed-issues.adoc
  jira2asciidoc.yml
  modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-enhancement-rhidp-2615.adoc
  modules/release-notes/snip-enhancement-rhidp-2736.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-breaking-changes.adoc
  assemblies/assembly-release-notes-deprecated-functionalities.adoc
  assemblies/assembly-release-notes-fixed-issues.adoc
  jira2asciidoc.yml
  modules/release-notes/snip-feature-rhidp-2341.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2794.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2847.adoc
  titles/rel-notes-rhdh/title-rhdh-release-notes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
  jira2asciidoc.yml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  modules/release-notes/snip-deprecated-functionality-rhidp-1138.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
  build/scripts/single-source-release-notes.py
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @nickboldt

release notes update
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-feature-rhidp-3569.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
  assemblies/assembly-release-notes-technology-preview.adoc
  jira2asciidoc.yml
  modules/release-notes/snip-technology-preview-rhidp-3713.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-feature-rhidp-1397.adoc
  modules/release-notes/snip-feature-rhidp-2232.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
  modules/release-notes/snip-enhancement-rhidp-3826.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-enhancement-rhidp-2723.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  build/scripts/single-source-release-notes.py
  build/templates/snippet-security.adoc.jinja2
  build/templates/snippet-with-jira-link.adoc.jinja2
  build/templates/snippet-without-jira-link.adoc.jinja2
  jira2asciidoc.yml
  modules/release-notes/snip-bug-fix-rhidp-1334.adoc
  modules/release-notes/snip-bug-fix-rhidp-2139.adoc
  modules/release-notes/snip-bug-fix-rhidp-2374.adoc
  modules/release-notes/snip-bug-fix-rhidp-2412.adoc
  modules/release-notes/snip-bug-fix-rhidp-2438.adoc
  modules/release-notes/snip-bug-fix-rhidp-2529.adoc
  modules/release-notes/snip-bug-fix-rhidp-2716.adoc
  modules/release-notes/snip-bug-fix-rhidp-2728.adoc
  modules/release-notes/snip-bug-fix-rhidp-3159.adoc
  modules/release-notes/snip-bug-fix-rhidp-3217.adoc
  modules/release-notes/snip-bug-fix-rhidp-3260.adoc
  modules/release-notes/snip-bug-fix-rhidp-3458.adoc
  modules/release-notes/snip-bug-fix-rhidp-3471.adoc
  modules/release-notes/snip-bug-fix-rhidp-3580.adoc
  modules/release-notes/snip-bug-fix-rhidp-3601.adoc
  modules/release-notes/snip-bug-fix-rhidp-3612.adoc
  modules/release-notes/snip-bug-fix-rhidp-3735.adoc
  modules/release-notes/snip-bug-fix-rhidp-3896.adoc
  modules/release-notes/snip-bug-fix-rhidp-4013.adoc
  modules/release-notes/snip-bug-fix-rhidp-4046.adoc
  modules/release-notes/snip-bug-fix-rhidp-4200.adoc
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt, @redhat-developer/rhdh-team, @josephca

release notes update
  modules/release-notes/snip-deprecated-functionality-rhidp-1138.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  assemblies/assembly-release-notes-new-features.adoc
  assemblies/assembly-release-notes-technology-preview.adoc
  modules/release-notes/snip-technology-preview-rhidp-1397.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  artifacts/attributes.adoc
  assemblies/assembly-release-notes-fixed-issues.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  modules/release-notes/snip-deprecated-functionality-rhidp-1138.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-enhancement-rhidp-2768.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  modules/release-notes/snip-enhancement-rhidp-3064.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
  modules/release-notes/snip-deprecated-functionality-rhidp-1138.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  modules/release-notes/snip-enhancement-rhidp-2768.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt
