Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

deploy: 18273cd3e97b27cf8bc1884478da322d51957b9c
  1.3.x/admin-rhdh/index.html
  1.3.x/authentication/index.html
  1.3.x/authorization/index.html
  1.3.x/getting-started-rhdh/index.html
  1.3.x/install-rhdh-air-gapped/index.html
  1.3.x/install-rhdh-aks/index.html
  1.3.x/install-rhdh-eks/index.html
  1.3.x/install-rhdh-ocp/index.html
  1.3.x/plugin-rhdh/index.html
  1.3.x/rel-notes-rhdh/index.html
  1.3.x/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-494/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-494/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-494/admin-rhdh/images/rhdh/operator-install-2.png
  pr-494/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-494/admin-rhdh/images/rhdh/template-editor.png
  pr-494/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-494/admin-rhdh/index.html
  pr-494/authentication/index.html
  pr-494/authorization/index.html
  pr-494/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-494/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-494/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-494/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-494/getting-started-rhdh/index.html
  pr-494/index.html
  pr-494/install-rhdh-air-gapped/index.html
  pr-494/install-rhdh-aks/index.html
  pr-494/install-rhdh-eks/index.html
  pr-494/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-494/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-494/install-rhdh-ocp/index.html
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-494/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-494/plugin-rhdh/index.html
  pr-494/rel-notes-rhdh/index.html
  pr-494/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3a5edad4138d6a41862b20db545f84e83713408b
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3a5edad4138d6a41862b20db545f84e83713408b
  pr-495/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-495/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-495/admin-rhdh/images/rhdh/operator-install-2.png
  pr-495/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-495/admin-rhdh/images/rhdh/template-editor.png
  pr-495/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-495/admin-rhdh/index.html
  pr-495/authentication/index.html
  pr-495/authorization/index.html
  pr-495/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-495/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-495/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-495/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-495/getting-started-rhdh/index.html
  pr-495/index.html
  pr-495/install-rhdh-air-gapped/index.html
  pr-495/install-rhdh-aks/index.html
  pr-495/install-rhdh-eks/index.html
  pr-495/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-495/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-495/install-rhdh-ocp/index.html
  pr-495/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-495/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-495/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-495/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-495/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-495/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-495/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-495/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-495/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-495/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-495/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-495/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-495/plugin-rhdh/index.html
  pr-495/rel-notes-rhdh/index.html
  pr-495/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

incorporated fabrice's comments
  artifacts/attributes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3a5edad4138d6a41862b20db545f84e83713408b
  pr-491/admin-rhdh/index.html
  pr-491/authentication/index.html
  pr-491/authorization/index.html
  pr-491/getting-started-rhdh/index.html
  pr-491/install-rhdh-air-gapped/index.html
  pr-491/install-rhdh-aks/index.html
  pr-491/install-rhdh-eks/index.html
  pr-491/install-rhdh-ocp/index.html
  pr-491/plugin-rhdh/index.html
  pr-491/rel-notes-rhdh/index.html
  pr-491/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

incorporating new changes
  modules/getting-started/proc-add-source-control-rhdh-catalog.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 3a5edad4138d6a41862b20db545f84e83713408b
  pr-495/admin-rhdh/index.html
  pr-495/authentication/index.html
  pr-495/authorization/index.html
  pr-495/getting-started-rhdh/index.html
  pr-495/install-rhdh-air-gapped/index.html
  pr-495/install-rhdh-aks/index.html
  pr-495/install-rhdh-eks/index.html
  pr-495/install-rhdh-ocp/index.html
  pr-495/plugin-rhdh/index.html
  pr-495/rel-notes-rhdh/index.html
  pr-495/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3a5edad4138d6a41862b20db545f84e83713408b
  pr-496/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-496/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-496/admin-rhdh/images/rhdh/operator-install-2.png
  pr-496/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-496/admin-rhdh/images/rhdh/template-editor.png
  pr-496/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-496/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-496/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-496/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-496/getting-started-rhdh/index.html
  pr-496/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-496/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-496/install-rhdh-ocp/index.html
  pr-496/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-496/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-496/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-496/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-496/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-496/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-496/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-496/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-496/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-496/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-496/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-496/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

added the required attributes - rhidp-3968 (#491)
  artifacts/attributes.adoc
  modules/dynamic-plugins/con-ansible-plugin.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-491/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-491/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-491/admin-rhdh/images/rhdh/operator-install-2.png
  pr-491/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-491/admin-rhdh/images/rhdh/template-editor.png
  pr-491/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-491/admin-rhdh/index.html
  pr-491/authentication/index.html
  pr-491/authorization/index.html
  pr-491/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-491/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-491/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-491/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-491/getting-started-rhdh/index.html
  pr-491/index.html
  pr-491/install-rhdh-air-gapped/index.html
  pr-491/install-rhdh-aks/index.html
  pr-491/install-rhdh-eks/index.html
  pr-491/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-491/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-491/install-rhdh-ocp/index.html
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-491/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-491/plugin-rhdh/index.html
  pr-491/rel-notes-rhdh/index.html
  pr-491/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3a5edad4138d6a41862b20db545f84e83713408b
  pr-491/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-491/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-491/admin-rhdh/images/rhdh/operator-install-2.png
  pr-491/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-491/admin-rhdh/images/rhdh/template-editor.png
  pr-491/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-491/admin-rhdh/index.html
  pr-491/authentication/index.html
  pr-491/authorization/index.html
  pr-491/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-491/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-491/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-491/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-491/getting-started-rhdh/index.html
  pr-491/index.html
  pr-491/install-rhdh-air-gapped/index.html
  pr-491/install-rhdh-aks/index.html
  pr-491/install-rhdh-eks/index.html
  pr-491/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-491/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-491/install-rhdh-ocp/index.html
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-491/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-491/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-491/plugin-rhdh/index.html
  pr-491/rel-notes-rhdh/index.html
  pr-491/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

incorporated fabrice's comments
  artifacts/attributes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

added the required attributes
  artifacts/attributes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

incorporated Heena's changes
  artifacts/attributes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

rhidp-3963 fixing typo
  modules/dynamic-plugins/con-ansible-plugin.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

incorporated Heena's comments - 2
  artifacts/attributes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

incorporated peer review comments
  artifacts/attributes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 18273cd3e97b27cf8bc1884478da322d51957b9c
  pr-497/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-497/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-497/admin-rhdh/images/rhdh/operator-install-2.png
  pr-497/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-497/admin-rhdh/images/rhdh/template-editor.png
  pr-497/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-497/admin-rhdh/index.html
  pr-497/authentication/index.html
  pr-497/authorization/index.html
  pr-497/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-497/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-497/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-497/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-497/getting-started-rhdh/index.html
  pr-497/index.html
  pr-497/install-rhdh-air-gapped/index.html
  pr-497/install-rhdh-aks/index.html
  pr-497/install-rhdh-eks/index.html
  pr-497/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-497/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-497/install-rhdh-ocp/index.html
  pr-497/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-497/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-497/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-497/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-497/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-497/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-497/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-497/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-497/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-497/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-497/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-497/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-497/plugin-rhdh/index.html
  pr-497/rel-notes-rhdh/index.html
  pr-497/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[1.3.x] added the required attributes - rhidp-3968 (#497)
  artifacts/attributes.adoc
  modules/dynamic-plugins/con-ansible-plugin.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: e2f641940911e62d9a5ea6e7cc1033f3c1f8c693
  1.3.x/admin-rhdh/index.html
  1.3.x/authentication/index.html
  1.3.x/authorization/index.html
  1.3.x/getting-started-rhdh/index.html
  1.3.x/install-rhdh-air-gapped/index.html
  1.3.x/install-rhdh-aks/index.html
  1.3.x/install-rhdh-eks/index.html
  1.3.x/install-rhdh-ocp/index.html
  1.3.x/plugin-rhdh/index.html
  1.3.x/rel-notes-rhdh/index.html
  1.3.x/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-466/admin-rhdh/index.html
  pr-466/authentication/index.html
  pr-466/authorization/index.html
  pr-466/getting-started-rhdh/index.html
  pr-466/install-rhdh-air-gapped/index.html
  pr-466/install-rhdh-aks/index.html
  pr-466/install-rhdh-eks/index.html
  pr-466/install-rhdh-ocp/index.html
  pr-466/plugin-rhdh/index.html
  pr-466/rel-notes-rhdh/index.html
  pr-466/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Review comments incorporated
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

Incorporated review suggestions
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

RHIDP-3425 3426: RBAC conditional policies in 1.3
  modules/admin/con-rbac-conditional-policies-rhdh.adoc
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

File added in assembly
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

fix minor typo
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

Incorporated review suggestions
  modules/admin/con-rbac-conditional-policies-rhdh.adoc
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

Review comments
  modules/admin/con-rbac-conditional-policies-rhdh.adoc
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

QE review incorporated
  modules/admin/con-rbac-conditional-policies-rhdh.adoc
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-466/admin-rhdh/index.html
  pr-466/authentication/index.html
  pr-466/authorization/index.html
  pr-466/getting-started-rhdh/index.html
  pr-466/install-rhdh-air-gapped/index.html
  pr-466/install-rhdh-aks/index.html
  pr-466/install-rhdh-eks/index.html
  pr-466/install-rhdh-ocp/index.html
  pr-466/plugin-rhdh/index.html
  pr-466/rel-notes-rhdh/index.html
  pr-466/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-490/admin-rhdh/index.html
  pr-490/authentication/index.html
  pr-490/authorization/index.html
  pr-490/getting-started-rhdh/index.html
  pr-490/install-rhdh-air-gapped/index.html
  pr-490/install-rhdh-aks/index.html
  pr-490/install-rhdh-eks/index.html
  pr-490/install-rhdh-ocp/index.html
  pr-490/plugin-rhdh/index.html
  pr-490/rel-notes-rhdh/index.html
  pr-490/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-498/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-498/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-498/admin-rhdh/images/rhdh/operator-install-2.png
  pr-498/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-498/admin-rhdh/images/rhdh/template-editor.png
  pr-498/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-498/admin-rhdh/index.html
  pr-498/authentication/index.html
  pr-498/authorization/index.html
  pr-498/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-498/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-498/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-498/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-498/getting-started-rhdh/index.html
  pr-498/index.html
  pr-498/install-rhdh-air-gapped/index.html
  pr-498/install-rhdh-aks/index.html
  pr-498/install-rhdh-eks/index.html
  pr-498/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-498/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-498/install-rhdh-ocp/index.html
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-498/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-498/plugin-rhdh/index.html
  pr-498/rel-notes-rhdh/index.html
  pr-498/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-499/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-499/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-499/admin-rhdh/images/rhdh/operator-install-2.png
  pr-499/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-499/admin-rhdh/images/rhdh/template-editor.png
  pr-499/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-499/admin-rhdh/index.html
  pr-499/authentication/index.html
  pr-499/authorization/index.html
  pr-499/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-499/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-499/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-499/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-499/getting-started-rhdh/index.html
  pr-499/index.html
  pr-499/install-rhdh-air-gapped/index.html
  pr-499/install-rhdh-aks/index.html
  pr-499/install-rhdh-eks/index.html
  pr-499/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-499/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-499/install-rhdh-ocp/index.html
  pr-499/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-499/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-499/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-499/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-499/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-499/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-499/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-499/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-499/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-499/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-499/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-499/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-499/plugin-rhdh/index.html
  pr-499/rel-notes-rhdh/index.html
  pr-499/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-499/admin-rhdh/index.html
  pr-499/authentication/index.html
  pr-499/authorization/index.html
  pr-499/getting-started-rhdh/index.html
  pr-499/install-rhdh-air-gapped/index.html
  pr-499/install-rhdh-aks/index.html
  pr-499/install-rhdh-eks/index.html
  pr-499/install-rhdh-ocp/index.html
  pr-499/plugin-rhdh/index.html
  pr-499/rel-notes-rhdh/index.html
  pr-499/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3970 Authenticating with Microsoft Azure
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
