Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

RHIDP-3970 Authenticating with Microsoft Azure
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/auth/proc-enabling-authentication-with-rhsso.adoc
  modules/auth/proc-enabling-authentication-with-rhsso.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @schultzp2020, @PatAKnight

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-480/admin-rhdh/index.html
  pr-480/authentication/index.html
  pr-480/authorization/index.html
  pr-480/getting-started-rhdh/index.html
  pr-480/install-rhdh-air-gapped/index.html
  pr-480/install-rhdh-aks/index.html
  pr-480/install-rhdh-eks/index.html
  pr-480/install-rhdh-ocp/index.html
  pr-480/plugin-rhdh/index.html
  pr-480/rel-notes-rhdh/index.html
  pr-480/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

added sugestions
  assemblies/assembly-enabling-authentication.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-460/admin-rhdh/index.html
  pr-460/authentication/index.html
  pr-460/authorization/index.html
  pr-460/getting-started-rhdh/index.html
  pr-460/install-rhdh-air-gapped/index.html
  pr-460/install-rhdh-aks/index.html
  pr-460/install-rhdh-eks/index.html
  pr-460/install-rhdh-ocp/index.html
  pr-460/plugin-rhdh/index.html
  pr-460/rel-notes-rhdh/index.html
  pr-460/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: e2f641940911e62d9a5ea6e7cc1033f3c1f8c693
  pr-500/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-500/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-500/admin-rhdh/images/rhdh/operator-install-2.png
  pr-500/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-500/admin-rhdh/images/rhdh/template-editor.png
  pr-500/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-500/admin-rhdh/index.html
  pr-500/authentication/index.html
  pr-500/authorization/index.html
  pr-500/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-500/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-500/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-500/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-500/getting-started-rhdh/index.html
  pr-500/index.html
  pr-500/install-rhdh-air-gapped/index.html
  pr-500/install-rhdh-aks/index.html
  pr-500/install-rhdh-eks/index.html
  pr-500/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-500/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-500/install-rhdh-ocp/index.html
  pr-500/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-500/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-500/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-500/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-500/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-500/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-500/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-500/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-500/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-500/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-500/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-500/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-500/plugin-rhdh/index.html
  pr-500/rel-notes-rhdh/index.html
  pr-500/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(plugins table): bump to latest plugin versions
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: e2f641940911e62d9a5ea6e7cc1033f3c1f8c693
  pr-500/admin-rhdh/index.html
  pr-500/authentication/index.html
  pr-500/authorization/index.html
  pr-500/getting-started-rhdh/index.html
  pr-500/install-rhdh-air-gapped/index.html
  pr-500/install-rhdh-aks/index.html
  pr-500/install-rhdh-eks/index.html
  pr-500/install-rhdh-ocp/index.html
  pr-500/plugin-rhdh/index.html
  pr-500/rel-notes-rhdh/index.html
  pr-500/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(plugins table): bump to latest plugin versions - main branch
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-501/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-501/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-501/admin-rhdh/images/rhdh/operator-install-2.png
  pr-501/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-501/admin-rhdh/images/rhdh/template-editor.png
  pr-501/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-501/admin-rhdh/index.html
  pr-501/authentication/index.html
  pr-501/authorization/index.html
  pr-501/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-501/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-501/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-501/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-501/getting-started-rhdh/index.html
  pr-501/index.html
  pr-501/install-rhdh-air-gapped/index.html
  pr-501/install-rhdh-aks/index.html
  pr-501/install-rhdh-eks/index.html
  pr-501/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-501/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-501/install-rhdh-ocp/index.html
  pr-501/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-501/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-501/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-501/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-501/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-501/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-501/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-501/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-501/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-501/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-501/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-501/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-501/plugin-rhdh/index.html
  pr-501/rel-notes-rhdh/index.html
  pr-501/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(pr comments): reuse pr comments so we don't have dozens of identical links
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-502/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-502/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-502/admin-rhdh/images/rhdh/operator-install-2.png
  pr-502/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-502/admin-rhdh/images/rhdh/template-editor.png
  pr-502/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-502/admin-rhdh/index.html
  pr-502/authentication/index.html
  pr-502/authorization/index.html
  pr-502/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-502/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-502/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-502/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-502/getting-started-rhdh/index.html
  pr-502/index.html
  pr-502/install-rhdh-air-gapped/index.html
  pr-502/install-rhdh-aks/index.html
  pr-502/install-rhdh-eks/index.html
  pr-502/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-502/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-502/install-rhdh-ocp/index.html
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-502/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-502/plugin-rhdh/index.html
  pr-502/rel-notes-rhdh/index.html
  pr-502/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

tweak the copy
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-502/admin-rhdh/index.html
  pr-502/authentication/index.html
  pr-502/authorization/index.html
  pr-502/getting-started-rhdh/index.html
  pr-502/install-rhdh-air-gapped/index.html
  pr-502/install-rhdh-aks/index.html
  pr-502/install-rhdh-eks/index.html
  pr-502/install-rhdh-ocp/index.html
  pr-502/plugin-rhdh/index.html
  pr-502/rel-notes-rhdh/index.html
  pr-502/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-1 CX: Reorganize the Dynamic Plugin Support Matrix based on the Support Level
  .gitignore
  artifacts/snip-dynamic-plugins-support.adoc
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/ref-community-plugins.template.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.template.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.template.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

CX: Reorganize the Dynamic Plugin Support Matrix based on the Support Level
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

RHIDP-3440-1 Move con-rhdh-plugins.adoc module to dynamic-plugins subfolder
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

RHIDP-3440-1: Edit supported plugins table intro text.
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

added the required attributes - rhidp-3968 (#491)
  artifacts/attributes.adoc
  modules/dynamic-plugins/con-ansible-plugin.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

RHIDP-3874 Authenticating with the guest user (#479)
  assemblies/assembly-authenticationg-with-the-guest-user.adoc
  assemblies/assembly-enabling-authentication.adoc
  modules/authentication/proc-authenticationg-with-the-guest-user-on-a-helm-based-installation.adoc
  modules/authentication/proc-authenticationg-with-the-guest-user-on-an-operator-based-installation.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @hmanwani-rh, @themr0c, @kim-tsao, @JessicaJHee, @04kash

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-484/admin-rhdh/index.html
  pr-484/authentication/index.html
  pr-484/authorization/index.html
  pr-484/getting-started-rhdh/index.html
  pr-484/install-rhdh-air-gapped/index.html
  pr-484/install-rhdh-aks/index.html
  pr-484/install-rhdh-eks/index.html
  pr-484/install-rhdh-ocp/index.html
  pr-484/plugin-rhdh/index.html
  pr-484/rel-notes-rhdh/index.html
  pr-484/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-2 CX: Reorganize the Dynamic Plugin Support Matrix based on the Support Level
  artifacts/snip-dynamic-plugins-support.adoc
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/ref-community-plugins.template.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.template.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.template.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-503/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-503/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-503/admin-rhdh/images/rhdh/operator-install-2.png
  pr-503/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-503/admin-rhdh/images/rhdh/template-editor.png
  pr-503/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-503/admin-rhdh/index.html
  pr-503/authentication/index.html
  pr-503/authorization/index.html
  pr-503/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-503/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-503/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-503/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-503/getting-started-rhdh/index.html
  pr-503/index.html
  pr-503/install-rhdh-air-gapped/index.html
  pr-503/install-rhdh-aks/index.html
  pr-503/install-rhdh-eks/index.html
  pr-503/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-503/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-503/install-rhdh-ocp/index.html
  pr-503/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-503/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-503/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-503/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-503/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-503/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-503/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-503/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-503/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-503/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-503/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-503/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-503/plugin-rhdh/index.html
  pr-503/rel-notes-rhdh/index.html
  pr-503/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-499/admin-rhdh/index.html
  pr-499/authentication/index.html
  pr-499/authorization/index.html
  pr-499/getting-started-rhdh/index.html
  pr-499/install-rhdh-air-gapped/index.html
  pr-499/install-rhdh-aks/index.html
  pr-499/install-rhdh-eks/index.html
  pr-499/install-rhdh-ocp/index.html
  pr-499/plugin-rhdh/index.html
  pr-499/rel-notes-rhdh/index.html
  pr-499/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: b88c40ecc9c52514bceb35359670534f68e73c56
  pr-499/admin-rhdh/index.html
  pr-499/authentication/index.html
  pr-499/authorization/index.html
  pr-499/getting-started-rhdh/index.html
  pr-499/install-rhdh-air-gapped/index.html
  pr-499/install-rhdh-aks/index.html
  pr-499/install-rhdh-eks/index.html
  pr-499/install-rhdh-ocp/index.html
  pr-499/plugin-rhdh/index.html
  pr-499/rel-notes-rhdh/index.html
  pr-499/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3425 3426: RBAC conditional policies in 1.3 (#466)
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
  modules/admin/con-rbac-conditional-policies-rhdh.adoc
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-466/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-466/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-466/admin-rhdh/images/rhdh/operator-install-2.png
  pr-466/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-466/admin-rhdh/images/rhdh/template-editor.png
  pr-466/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-466/admin-rhdh/index.html
  pr-466/authentication/index.html
  pr-466/authorization/index.html
  pr-466/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-466/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-466/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-466/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-466/getting-started-rhdh/index.html
  pr-466/index.html
  pr-466/install-rhdh-air-gapped/index.html
  pr-466/install-rhdh-aks/index.html
  pr-466/install-rhdh-eks/index.html
  pr-466/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-466/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-466/install-rhdh-ocp/index.html
  pr-466/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-466/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-466/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-466/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-466/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-466/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-466/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-466/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-466/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-466/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-466/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-466/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-466/plugin-rhdh/index.html
  pr-466/rel-notes-rhdh/index.html
  pr-466/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

QE review incorporated
  modules/admin/con-rbac-conditional-policies-rhdh.adoc
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

Incorporated review suggestions
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

Review comments
  modules/admin/con-rbac-conditional-policies-rhdh.adoc
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

fix minor typo
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

RHIDP-3425 3426: RBAC conditional policies in 1.3
  modules/admin/con-rbac-conditional-policies-rhdh.adoc
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

File added in assembly
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Review comments incorporated
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
