Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt

RHIDP-3709: how admins can track RHDH usage by users (#498)
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
  modules/admin/con-rbac-rest-api.adoc
  modules/admin/con-user-stats-rhdh.adoc
  modules/admin/proc-download-user-stats-rhdh.adoc
  modules/admin/ref-rbac-rest-api-endpoints.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

chore:typo (#522)
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

RHIDP-3900 Document caching for dynamic plugins
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/dynamic-plugins/con-dynamic-plugins-cache.adoc
  modules/dynamic-plugins/proc-using-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

chore: replace local references to owner/repo (#520)
  .github/workflows/build-asciidoc.yml
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

chore(pr comments): reuse pr comments so we don't have dozens of identical links (#502)
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

chore(plugins): regen table (#517)
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-513/admin-rhdh/index.html
  pr-513/authentication/index.html
  pr-513/authorization/index.html
  pr-513/getting-started-rhdh/index.html
  pr-513/install-rhdh-air-gapped/index.html
  pr-513/install-rhdh-aks/index.html
  pr-513/install-rhdh-eks/index.html
  pr-513/install-rhdh-ocp/index.html
  pr-513/plugin-rhdh/index.html
  pr-513/rel-notes-rhdh/index.html
  pr-513/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-513/admin-rhdh/index.html
  pr-513/authentication/index.html
  pr-513/authorization/index.html
  pr-513/getting-started-rhdh/index.html
  pr-513/install-rhdh-air-gapped/index.html
  pr-513/install-rhdh-aks/index.html
  pr-513/install-rhdh-eks/index.html
  pr-513/install-rhdh-ocp/index.html
  pr-513/plugin-rhdh/index.html
  pr-513/rel-notes-rhdh/index.html
  pr-513/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-525/admin-rhdh/index.html
  pr-525/authentication/index.html
  pr-525/authorization/index.html
  pr-525/getting-started-rhdh/index.html
  pr-525/install-rhdh-air-gapped/index.html
  pr-525/install-rhdh-aks/index.html
  pr-525/install-rhdh-eks/index.html
  pr-525/install-rhdh-ocp/index.html
  pr-525/plugin-rhdh/index.html
  pr-525/rel-notes-rhdh/index.html
  pr-525/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-525/admin-rhdh/index.html
  pr-525/authentication/index.html
  pr-525/authorization/index.html
  pr-525/getting-started-rhdh/index.html
  pr-525/install-rhdh-air-gapped/index.html
  pr-525/install-rhdh-aks/index.html
  pr-525/install-rhdh-eks/index.html
  pr-525/install-rhdh-ocp/index.html
  pr-525/plugin-rhdh/index.html
  pr-525/rel-notes-rhdh/index.html
  pr-525/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-525/admin-rhdh/index.html
  pr-525/authentication/index.html
  pr-525/authorization/index.html
  pr-525/getting-started-rhdh/index.html
  pr-525/install-rhdh-air-gapped/index.html
  pr-525/install-rhdh-aks/index.html
  pr-525/install-rhdh-eks/index.html
  pr-525/install-rhdh-ocp/index.html
  pr-525/plugin-rhdh/index.html
  pr-525/rel-notes-rhdh/index.html
  pr-525/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

feat: add doc about compatible plugins (RHIDP-4150)
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
  modules/release-notes/con-relnotes-notable-features.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

apply Preeti's suggestions
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/release-notes/con-relnotes-notable-features.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

cross-link the AAP plugin in TP section with the new AAP plugin in compatible section; add notes
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-525/admin-rhdh/index.html
  pr-525/authentication/index.html
  pr-525/authorization/index.html
  pr-525/getting-started-rhdh/index.html
  pr-525/install-rhdh-air-gapped/index.html
  pr-525/install-rhdh-aks/index.html
  pr-525/install-rhdh-eks/index.html
  pr-525/install-rhdh-ocp/index.html
  pr-525/plugin-rhdh/index.html
  pr-525/rel-notes-rhdh/index.html
  pr-525/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

fix link to 1.2-rc
  modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-525/admin-rhdh/index.html
  pr-525/authentication/index.html
  pr-525/authorization/index.html
  pr-525/getting-started-rhdh/index.html
  pr-525/install-rhdh-air-gapped/index.html
  pr-525/install-rhdh-aks/index.html
  pr-525/install-rhdh-eks/index.html
  pr-525/install-rhdh-ocp/index.html
  pr-525/plugin-rhdh/index.html
  pr-525/rel-notes-rhdh/index.html
  pr-525/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: tagRelease.sh: bump to 1.2.4 in 1.2.x branch
  artifacts/attributes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 200840d298d177b9b843c7f657062fca5e3b1ae2
  pr-532/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-532/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-532/admin-rhdh/images/rhdh/operator-install-2.png
  pr-532/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-532/admin-rhdh/images/rhdh/template-editor.png
  pr-532/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-532/admin-rhdh/index.html
  pr-532/authentication/index.html
  pr-532/authorization/index.html
  pr-532/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-532/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-532/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-532/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-532/getting-started-rhdh/index.html
  pr-532/index.html
  pr-532/install-rhdh-air-gapped/index.html
  pr-532/install-rhdh-aks/index.html
  pr-532/install-rhdh-eks/index.html
  pr-532/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-532/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-532/install-rhdh-ocp/index.html
  pr-532/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-532/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-532/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-532/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-532/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-532/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-532/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-532/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-532/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-532/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-532/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-532/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-532/plugin-rhdh/index.html
  pr-532/rel-notes-rhdh/index.html
  pr-532/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-485/admin-rhdh/index.html
  pr-485/authentication/index.html
  pr-485/authorization/index.html
  pr-485/getting-started-rhdh/index.html
  pr-485/install-rhdh-air-gapped/index.html
  pr-485/install-rhdh-aks/index.html
  pr-485/install-rhdh-eks/index.html
  pr-485/install-rhdh-ocp/index.html
  pr-485/plugin-rhdh/index.html
  pr-485/rel-notes-rhdh/index.html
  pr-485/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-480/admin-rhdh/index.html
  pr-480/authentication/index.html
  pr-480/authorization/index.html
  pr-480/getting-started-rhdh/index.html
  pr-480/install-rhdh-air-gapped/index.html
  pr-480/install-rhdh-aks/index.html
  pr-480/install-rhdh-eks/index.html
  pr-480/install-rhdh-ocp/index.html
  pr-480/plugin-rhdh/index.html
  pr-480/rel-notes-rhdh/index.html
  pr-480/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update assemblies/assembly-enabling-authentication.adoc
  assemblies/assembly-enabling-authentication.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-460/admin-rhdh/index.html
  pr-460/authentication/index.html
  pr-460/authorization/index.html
  pr-460/getting-started-rhdh/index.html
  pr-460/install-rhdh-air-gapped/index.html
  pr-460/install-rhdh-aks/index.html
  pr-460/install-rhdh-eks/index.html
  pr-460/install-rhdh-ocp/index.html
  pr-460/plugin-rhdh/index.html
  pr-460/rel-notes-rhdh/index.html
  pr-460/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3794 - update Authentication book introduction (#460)
  artifacts/attributes.adoc
  assemblies/assembly-enabling-authentication.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: db9704c81200ad1c96defae7c2230896d7707e5e
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-460/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-460/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-460/admin-rhdh/images/rhdh/operator-install-2.png
  pr-460/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-460/admin-rhdh/images/rhdh/template-editor.png
  pr-460/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-460/admin-rhdh/index.html
  pr-460/authentication/index.html
  pr-460/authorization/index.html
  pr-460/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-460/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-460/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-460/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-460/getting-started-rhdh/index.html
  pr-460/index.html
  pr-460/install-rhdh-air-gapped/index.html
  pr-460/install-rhdh-aks/index.html
  pr-460/install-rhdh-eks/index.html
  pr-460/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-460/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-460/install-rhdh-ocp/index.html
  pr-460/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-460/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-460/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-460/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-460/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-460/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-460/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-460/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-460/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-460/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-460/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-460/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-460/plugin-rhdh/index.html
  pr-460/rel-notes-rhdh/index.html
  pr-460/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: tagRelease.sh: bump to 1.2.4 in 1.2.x branch (#532)
  artifacts/attributes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 428eb5ededaa63f5af8ad090be889575aa8af932
  1.2.x/admin-rhdh/index.html
  1.2.x/authentication/index.html
  1.2.x/authorization/index.html
  1.2.x/getting-started-rhdh/index.html
  1.2.x/install-rhdh-air-gapped/index.html
  1.2.x/install-rhdh-aks/index.html
  1.2.x/install-rhdh-eks/index.html
  1.2.x/install-rhdh-ocp/index.html
  1.2.x/plugin-rhdh/index.html
  1.2.x/rel-notes-rhdh/index.html
  1.2.x/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Apply suggestions from code review
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
  modules/admin/proc-mounting-the-policy-csv-file-using-the-operator.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

deploy: db9704c81200ad1c96defae7c2230896d7707e5e
  pr-499/admin-rhdh/index.html
  pr-499/authentication/index.html
  pr-499/authorization/index.html
  pr-499/getting-started-rhdh/index.html
  pr-499/install-rhdh-air-gapped/index.html
  pr-499/install-rhdh-aks/index.html
  pr-499/install-rhdh-eks/index.html
  pr-499/install-rhdh-ocp/index.html
  pr-499/plugin-rhdh/index.html
  pr-499/rel-notes-rhdh/index.html
  pr-499/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: db9704c81200ad1c96defae7c2230896d7707e5e
  pr-499/admin-rhdh/index.html
  pr-499/authentication/index.html
  pr-499/authorization/index.html
  pr-499/getting-started-rhdh/index.html
  pr-499/install-rhdh-air-gapped/index.html
  pr-499/install-rhdh-aks/index.html
  pr-499/install-rhdh-eks/index.html
  pr-499/install-rhdh-ocp/index.html
  pr-499/plugin-rhdh/index.html
  pr-499/rel-notes-rhdh/index.html
  pr-499/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: db9704c81200ad1c96defae7c2230896d7707e5e
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Fix how `Verification` renders after the Operator procedure
  modules/admin/proc-mounting-the-policy-csv-file-using-the-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: db9704c81200ad1c96defae7c2230896d7707e5e
  pr-499/admin-rhdh/index.html
  pr-499/authentication/index.html
  pr-499/authorization/index.html
  pr-499/getting-started-rhdh/index.html
  pr-499/install-rhdh-air-gapped/index.html
  pr-499/install-rhdh-aks/index.html
  pr-499/install-rhdh-eks/index.html
  pr-499/install-rhdh-ocp/index.html
  pr-499/plugin-rhdh/index.html
  pr-499/rel-notes-rhdh/index.html
  pr-499/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: db9704c81200ad1c96defae7c2230896d7707e5e
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca
