Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

Fixed link in OSD GCP doc
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
  modules/installation/proc-install-rhdh-osd-gcp-operator.adoc
Owners: @redhat-developer/rhdh-content, @themr0c, @josephca, @schultzp2020

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-539/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-539/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-539/admin-rhdh/images/rhdh/operator-install-2.png
  pr-539/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-539/admin-rhdh/images/rhdh/template-editor.png
  pr-539/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-539/admin-rhdh/index.html
  pr-539/authentication/index.html
  pr-539/authorization/index.html
  pr-539/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-539/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-539/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-539/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-539/getting-started-rhdh/index.html
  pr-539/index.html
  pr-539/install-rhdh-air-gapped/index.html
  pr-539/install-rhdh-aks/index.html
  pr-539/install-rhdh-eks/index.html
  pr-539/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-539/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-539/install-rhdh-ocp/index.html
  pr-539/install-rhdh-osd-gcp/index.html
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-539/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-539/plugin-rhdh/index.html
  pr-539/rel-notes-rhdh/index.html
  pr-539/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update titles/plugins-rhdh-troubleshooting/docinfo.xml
  titles/plugins-rhdh-troubleshooting/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update titles/plugins-rhdh-using/docinfo.xml
  titles/plugins-rhdh-using/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update titles/plugins-rhdh-configure/docinfo.xml
  titles/plugins-rhdh-configure/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Fixed link in OSD GCP doc (#539)
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
  modules/installation/proc-install-rhdh-osd-gcp-operator.adoc
Owners: @redhat-developer/rhdh-content, @themr0c, @josephca, @schultzp2020

deploy: c896a00082e31bd80f04c3404d9e4f11dba06241
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-539/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-539/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-539/admin-rhdh/images/rhdh/operator-install-2.png
  pr-539/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-539/admin-rhdh/images/rhdh/template-editor.png
  pr-539/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-539/admin-rhdh/index.html
  pr-539/authentication/index.html
  pr-539/authorization/index.html
  pr-539/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-539/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-539/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-539/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-539/getting-started-rhdh/index.html
  pr-539/index.html
  pr-539/install-rhdh-air-gapped/index.html
  pr-539/install-rhdh-aks/index.html
  pr-539/install-rhdh-eks/index.html
  pr-539/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-539/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-539/install-rhdh-ocp/index.html
  pr-539/install-rhdh-osd-gcp/index.html
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-539/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-539/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-539/plugin-rhdh/index.html
  pr-539/rel-notes-rhdh/index.html
  pr-539/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Fixed link in OSD GCP doc
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
  modules/installation/proc-install-rhdh-osd-gcp-operator.adoc
Owners: @redhat-developer/rhdh-content, @themr0c, @josephca, @schultzp2020

[release-1.3] Fixed link in OSD GCP doc (#540)
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
  modules/installation/proc-install-rhdh-osd-gcp-operator.adoc
Owners: @redhat-developer/rhdh-content, @themr0c, @josephca, @schultzp2020

deploy: ddcc25409bb3e2d1e36fd6aae6931b358f016e6f
  pr-540/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-540/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-540/admin-rhdh/images/rhdh/operator-install-2.png
  pr-540/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-540/admin-rhdh/images/rhdh/template-editor.png
  pr-540/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-540/admin-rhdh/index.html
  pr-540/authentication/index.html
  pr-540/authorization/index.html
  pr-540/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-540/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-540/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-540/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-540/getting-started-rhdh/index.html
  pr-540/index.html
  pr-540/install-rhdh-air-gapped/index.html
  pr-540/install-rhdh-aks/index.html
  pr-540/install-rhdh-eks/index.html
  pr-540/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-540/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-540/install-rhdh-ocp/index.html
  pr-540/install-rhdh-osd-gcp/index.html
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-540/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-540/plugin-rhdh/index.html
  pr-540/rel-notes-rhdh/index.html
  pr-540/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 371adf2f64ad51e9cfdfda42fe303e92e65ea65f
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-540/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-540/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-540/admin-rhdh/images/rhdh/operator-install-2.png
  pr-540/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-540/admin-rhdh/images/rhdh/template-editor.png
  pr-540/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-540/admin-rhdh/index.html
  pr-540/authentication/index.html
  pr-540/authorization/index.html
  pr-540/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-540/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-540/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-540/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-540/getting-started-rhdh/index.html
  pr-540/index.html
  pr-540/install-rhdh-air-gapped/index.html
  pr-540/install-rhdh-aks/index.html
  pr-540/install-rhdh-eks/index.html
  pr-540/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-540/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-540/install-rhdh-ocp/index.html
  pr-540/install-rhdh-osd-gcp/index.html
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-540/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-540/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-540/plugin-rhdh/index.html
  pr-540/rel-notes-rhdh/index.html
  pr-540/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Fixed link in OSD GCP doc (#539)
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
  modules/installation/proc-install-rhdh-osd-gcp-operator.adoc
Owners: @redhat-developer/rhdh-content, @themr0c, @josephca, @schultzp2020

RHIDP-4193 Create new RHDH Plugin titles in the docs repo
  titles/plugins-rhdh-about/docinfo.xml
  titles/plugins-rhdh-configure/docinfo.xml
  titles/plugins-rhdh-configure/master.adoc
  titles/plugins-rhdh-install/docinfo.xml
  titles/plugins-rhdh-install/master.adoc
  titles/plugins-rhdh-reference/docinfo.xml
  titles/plugins-rhdh-reference/master.adoc
  titles/plugins-rhdh-troubleshooting/docinfo.xml
  titles/plugins-rhdh-troubleshooting/master.adoc
  titles/plugins-rhdh-using/docinfo.xml
  titles/plugins-rhdh-using/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: c896a00082e31bd80f04c3404d9e4f11dba06241
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: c896a00082e31bd80f04c3404d9e4f11dba06241
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: c896a00082e31bd80f04c3404d9e4f11dba06241
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/install-rhdh-osd-gcp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: c896a00082e31bd80f04c3404d9e4f11dba06241
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/install-rhdh-osd-gcp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: c896a00082e31bd80f04c3404d9e4f11dba06241
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/install-rhdh-osd-gcp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: c896a00082e31bd80f04c3404d9e4f11dba06241
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/install-rhdh-osd-gcp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: c896a00082e31bd80f04c3404d9e4f11dba06241
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/install-rhdh-osd-gcp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: c896a00082e31bd80f04c3404d9e4f11dba06241
  pr-536/admin-rhdh/index.html
  pr-536/authentication/index.html
  pr-536/authorization/index.html
  pr-536/getting-started-rhdh/index.html
  pr-536/install-rhdh-air-gapped/index.html
  pr-536/install-rhdh-aks/index.html
  pr-536/install-rhdh-eks/index.html
  pr-536/install-rhdh-ocp/index.html
  pr-536/install-rhdh-osd-gcp/index.html
  pr-536/plugin-rhdh/index.html
  pr-536/rel-notes-rhdh/index.html
  pr-536/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: exclude techdocs from the .csv (RHIDP-4196); also fix a typo in modules/dynamic-plugins/proc-rhdh-example-external-dynamic-plugins.adoc (#536)
  modules/dynamic-plugins/proc-rhdh-example-external-dynamic-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 80124c202d923c85e3ed022be6f7ff951b790d75
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-536/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-536/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-536/admin-rhdh/images/rhdh/operator-install-2.png
  pr-536/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-536/admin-rhdh/images/rhdh/template-editor.png
  pr-536/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-536/admin-rhdh/index.html
  pr-536/authentication/index.html
  pr-536/authorization/index.html
  pr-536/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-536/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-536/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-536/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-536/getting-started-rhdh/index.html
  pr-536/index.html
  pr-536/install-rhdh-air-gapped/index.html
  pr-536/install-rhdh-aks/index.html
  pr-536/install-rhdh-eks/index.html
  pr-536/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-536/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-536/install-rhdh-ocp/index.html
  pr-536/install-rhdh-osd-gcp/index.html
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-536/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-536/plugin-rhdh/index.html
  pr-536/rel-notes-rhdh/index.html
  pr-536/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: exclude techdocs from the .csv (RHIDP-4196); also fix a typo in modules/dynamic-plugins/proc-rhdh-example-external-dynamic-plugins.adoc
  modules/dynamic-plugins/proc-rhdh-example-external-dynamic-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 371adf2f64ad51e9cfdfda42fe303e92e65ea65f
  pr-541/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-541/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-541/admin-rhdh/images/rhdh/operator-install-2.png
  pr-541/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-541/admin-rhdh/images/rhdh/template-editor.png
  pr-541/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-541/admin-rhdh/index.html
  pr-541/authentication/index.html
  pr-541/authorization/index.html
  pr-541/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-541/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-541/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-541/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-541/getting-started-rhdh/index.html
  pr-541/index.html
  pr-541/install-rhdh-air-gapped/index.html
  pr-541/install-rhdh-aks/index.html
  pr-541/install-rhdh-eks/index.html
  pr-541/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-541/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-541/install-rhdh-ocp/index.html
  pr-541/install-rhdh-osd-gcp/index.html
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-541/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-541/plugin-rhdh/index.html
  pr-541/rel-notes-rhdh/index.html
  pr-541/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[release-1.3] chore: exclude techdocs from the .csv (RHIDP-4196) (#541)
  modules/dynamic-plugins/proc-rhdh-example-external-dynamic-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 2257f0b2e774a443cff031145231b4dcabff1dee
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-541/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-541/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-541/admin-rhdh/images/rhdh/operator-install-2.png
  pr-541/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-541/admin-rhdh/images/rhdh/template-editor.png
  pr-541/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-541/admin-rhdh/index.html
  pr-541/authentication/index.html
  pr-541/authorization/index.html
  pr-541/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-541/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-541/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-541/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-541/getting-started-rhdh/index.html
  pr-541/index.html
  pr-541/install-rhdh-air-gapped/index.html
  pr-541/install-rhdh-aks/index.html
  pr-541/install-rhdh-eks/index.html
  pr-541/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-541/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-541/install-rhdh-ocp/index.html
  pr-541/install-rhdh-osd-gcp/index.html
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-541/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-541/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-541/plugin-rhdh/index.html
  pr-541/rel-notes-rhdh/index.html
  pr-541/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 80124c202d923c85e3ed022be6f7ff951b790d75
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 80124c202d923c85e3ed022be6f7ff951b790d75
  pr-513/admin-rhdh/index.html
  pr-513/authentication/index.html
  pr-513/authorization/index.html
  pr-513/getting-started-rhdh/index.html
  pr-513/index.html
  pr-513/install-rhdh-air-gapped/index.html
  pr-513/install-rhdh-aks/index.html
  pr-513/install-rhdh-eks/index.html
  pr-513/install-rhdh-osd-gcp/index.html
  pr-513/plugin-rhdh/index.html
  pr-513/rel-notes-rhdh/index.html
  pr-513/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 80124c202d923c85e3ed022be6f7ff951b790d75
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/install-rhdh-osd-gcp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 80124c202d923c85e3ed022be6f7ff951b790d75
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/install-rhdh-osd-gcp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 80124c202d923c85e3ed022be6f7ff951b790d75
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/install-rhdh-osd-gcp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 80124c202d923c85e3ed022be6f7ff951b790d75
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/install-rhdh-osd-gcp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 80124c202d923c85e3ed022be6f7ff951b790d75
  pr-525/admin-rhdh/index.html
  pr-525/authentication/index.html
  pr-525/authorization/index.html
  pr-525/getting-started-rhdh/index.html
  pr-525/index.html
  pr-525/install-rhdh-air-gapped/index.html
  pr-525/install-rhdh-eks/index.html
  pr-525/install-rhdh-ocp/index.html
  pr-525/install-rhdh-osd-gcp/index.html
  pr-525/plugin-rhdh/index.html
  pr-525/rel-notes-rhdh/index.html
  pr-525/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 80124c202d923c85e3ed022be6f7ff951b790d75
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/install-rhdh-osd-gcp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
