Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt

Update docinfo.xml
  titles/plugins-rhdh-troubleshooting/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update titles/plugins-rhdh-about/docinfo.xml
  titles/plugins-rhdh-about/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update assemblies/dynamic-plugins/assembly-troubleshooting-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-troubleshooting-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 47e175a9463a0e23eec436a854b4a1f16e156486
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ab64e1d53d52d00e596c408bd2bd18c34623c0d8
  pr-538/admin-rhdh/index.html
  pr-538/authentication/index.html
  pr-538/authorization/index.html
  pr-538/getting-started-rhdh/index.html
  pr-538/install-rhdh-air-gapped/index.html
  pr-538/install-rhdh-aks/index.html
  pr-538/install-rhdh-eks/index.html
  pr-538/install-rhdh-ocp/index.html
  pr-538/install-rhdh-osd-gcp/index.html
  pr-538/plugin-rhdh/index.html
  pr-538/rel-notes-rhdh/index.html
  pr-538/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

review suggestions incorporated
  modules/customization/proc-customize-rhdh-sidebar-menuitems.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: ab64e1d53d52d00e596c408bd2bd18c34623c0d8
  pr-490/admin-rhdh/index.html
  pr-490/authentication/index.html
  pr-490/authorization/index.html
  pr-490/getting-started-rhdh/index.html
  pr-490/index.html
  pr-490/install-rhdh-aks/index.html
  pr-490/install-rhdh-eks/index.html
  pr-490/install-rhdh-ocp/index.html
  pr-490/install-rhdh-osd-gcp/index.html
  pr-490/plugin-rhdh/index.html
  pr-490/plugins-rhdh-about/index.html
  pr-490/plugins-rhdh-configure/index.html
  pr-490/plugins-rhdh-install/index.html
  pr-490/plugins-rhdh-reference/index.html
  pr-490/plugins-rhdh-troubleshooting/index.html
  pr-490/plugins-rhdh-using/index.html
  pr-490/rel-notes-rhdh/index.html
  pr-490/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3394: Customize sidebar nav menu items (#490)
  assemblies/assembly-customize-rhdh-theme.adoc
  modules/customization/proc-customize-rhdh-sidebar-menuitems.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

review suggestions incorporated
  modules/customization/proc-customize-rhdh-sidebar-menuitems.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

review comments
  modules/customization/proc-customize-rhdh-sidebar-menuitems.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

incorporated review suggestions and static menu items configuration
  modules/customization/proc-customize-rhdh-sidebar-menuitems.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

Review suggestions incorporated
  modules/customization/proc-customize-rhdh-sidebar-menuitems.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

RHIDP-3394: Customize sidebar nav menu items
  assemblies/assembly-customize-rhdh-theme.adoc
  modules/customization/proc-customize-rhdh-sidebar-menuitems.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

[release-1.3] RHIDP-3394: Customize sidebar nav menu items (#544)
  assemblies/assembly-customize-rhdh-theme.adoc
  modules/customization/proc-customize-rhdh-sidebar-menuitems.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

deploy: fdcf1b2156305216d632f252425448fa5ebc17a9
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Modifies the customizing Home page
  modules/getting-started/proc-customize-rhdh-homepage.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-529/admin-rhdh/index.html
  pr-529/authentication/index.html
  pr-529/authorization/index.html
  pr-529/getting-started-rhdh/index.html
  pr-529/install-rhdh-air-gapped/index.html
  pr-529/install-rhdh-aks/index.html
  pr-529/install-rhdh-eks/index.html
  pr-529/install-rhdh-ocp/index.html
  pr-529/plugin-rhdh/index.html
  pr-529/rel-notes-rhdh/index.html
  pr-529/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Modifies the customizing Home page
  modules/getting-started/proc-customize-rhdh-homepage.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-529/admin-rhdh/index.html
  pr-529/authentication/index.html
  pr-529/authorization/index.html
  pr-529/getting-started-rhdh/index.html
  pr-529/install-rhdh-air-gapped/index.html
  pr-529/install-rhdh-aks/index.html
  pr-529/install-rhdh-eks/index.html
  pr-529/install-rhdh-ocp/index.html
  pr-529/plugin-rhdh/index.html
  pr-529/rel-notes-rhdh/index.html
  pr-529/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/install-rhdh-osd-gcp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/install-rhdh-osd-gcp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/install-rhdh-osd-gcp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/install-rhdh-osd-gcp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-osd-gcp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/plugins-rhdh-about/index.html
  pr-496/plugins-rhdh-configure/index.html
  pr-496/plugins-rhdh-install/index.html
  pr-496/plugins-rhdh-reference/index.html
  pr-496/plugins-rhdh-troubleshooting/index.html
  pr-496/plugins-rhdh-using/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/install-rhdh-osd-gcp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/plugins-rhdh-about/index.html
  pr-496/plugins-rhdh-configure/index.html
  pr-496/plugins-rhdh-install/index.html
  pr-496/plugins-rhdh-reference/index.html
  pr-496/plugins-rhdh-troubleshooting/index.html
  pr-496/plugins-rhdh-using/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/install-rhdh-osd-gcp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/plugins-rhdh-about/index.html
  pr-496/plugins-rhdh-configure/index.html
  pr-496/plugins-rhdh-install/index.html
  pr-496/plugins-rhdh-reference/index.html
  pr-496/plugins-rhdh-troubleshooting/index.html
  pr-496/plugins-rhdh-using/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/install-rhdh-osd-gcp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/plugins-rhdh-about/index.html
  pr-496/plugins-rhdh-configure/index.html
  pr-496/plugins-rhdh-install/index.html
  pr-496/plugins-rhdh-reference/index.html
  pr-496/plugins-rhdh-troubleshooting/index.html
  pr-496/plugins-rhdh-using/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/install-rhdh-osd-gcp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/plugins-rhdh-about/index.html
  pr-496/plugins-rhdh-configure/index.html
  pr-496/plugins-rhdh-install/index.html
  pr-496/plugins-rhdh-reference/index.html
  pr-496/plugins-rhdh-troubleshooting/index.html
  pr-496/plugins-rhdh-using/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/install-rhdh-osd-gcp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/plugins-rhdh-about/index.html
  pr-496/plugins-rhdh-configure/index.html
  pr-496/plugins-rhdh-install/index.html
  pr-496/plugins-rhdh-reference/index.html
  pr-496/plugins-rhdh-troubleshooting/index.html
  pr-496/plugins-rhdh-using/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/install-rhdh-osd-gcp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/plugins-rhdh-about/index.html
  pr-496/plugins-rhdh-configure/index.html
  pr-496/plugins-rhdh-install/index.html
  pr-496/plugins-rhdh-reference/index.html
  pr-496/plugins-rhdh-troubleshooting/index.html
  pr-496/plugins-rhdh-using/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/install-rhdh-osd-gcp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/plugins-rhdh-about/index.html
  pr-496/plugins-rhdh-configure/index.html
  pr-496/plugins-rhdh-install/index.html
  pr-496/plugins-rhdh-reference/index.html
  pr-496/plugins-rhdh-troubleshooting/index.html
  pr-496/plugins-rhdh-using/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/install-rhdh-osd-gcp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/plugins-rhdh-about/index.html
  pr-496/plugins-rhdh-configure/index.html
  pr-496/plugins-rhdh-install/index.html
  pr-496/plugins-rhdh-reference/index.html
  pr-496/plugins-rhdh-troubleshooting/index.html
  pr-496/plugins-rhdh-using/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3728 [Docs] Document Deployment customization configuration for Operator
  modules/admin/proc-rhdh-deployment-config.adoc
  titles/admin-rhdh/title-admin.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020, @redhat-developer/rhdh-team

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/install-rhdh-osd-gcp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/plugins-rhdh-about/index.html
  pr-496/plugins-rhdh-configure/index.html
  pr-496/plugins-rhdh-install/index.html
  pr-496/plugins-rhdh-reference/index.html
  pr-496/plugins-rhdh-troubleshooting/index.html
  pr-496/plugins-rhdh-using/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-1580 Document Topology plugin
  artifacts/rhdh-plugins-reference/topology/topology-plugin-readme.adoc
  assemblies/dynamic-plugins/assembly-rhdh-topology.adoc
  modules/dynamic-plugins/proc-topology-install.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

RHIDP-1580 Document Topology plugin
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-rhdh-topology.adoc
  modules/dynamic-plugins/proc-topology-configure.adoc
  modules/dynamic-plugins/proc-topology-install.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

RHIDP-1580 Document Topology plugin
  assemblies/dynamic-plugins/assembly-using-rhdh-plugins.adoc
  modules/dynamic-plugins/con-using-topology-plugin.adoc
  titles/plugins-rhdh-using/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

RHIDP-3440-reference - CX: Add plugins tables
  assemblies/dynamic-plugins/assembly-reference-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/install-rhdh-osd-gcp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/plugins-rhdh-about/index.html
  pr-492/plugins-rhdh-configure/index.html
  pr-492/plugins-rhdh-install/index.html
  pr-492/plugins-rhdh-reference/index.html
  pr-492/plugins-rhdh-troubleshooting/index.html
  pr-492/plugins-rhdh-using/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca
