Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt

Update assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 9e29a97908e173a5920cb2505820139214033e46
  pr-547/admin-rhdh/index.html
  pr-547/authentication/index.html
  pr-547/authorization/index.html
  pr-547/getting-started-rhdh/index.html
  pr-547/install-rhdh-air-gapped/index.html
  pr-547/install-rhdh-aks/index.html
  pr-547/install-rhdh-eks/index.html
  pr-547/install-rhdh-ocp/index.html
  pr-547/install-rhdh-osd-gcp/index.html
  pr-547/plugin-rhdh/index.html
  pr-547/plugins-rhdh-about/index.html
  pr-547/plugins-rhdh-configure/index.html
  pr-547/plugins-rhdh-install/index.html
  pr-547/plugins-rhdh-reference/index.html
  pr-547/plugins-rhdh-troubleshooting/index.html
  pr-547/plugins-rhdh-using/index.html
  pr-547/rel-notes-rhdh/index.html
  pr-547/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 9e29a97908e173a5920cb2505820139214033e46
  pr-547/admin-rhdh/index.html
  pr-547/authentication/index.html
  pr-547/authorization/index.html
  pr-547/getting-started-rhdh/index.html
  pr-547/install-rhdh-air-gapped/index.html
  pr-547/install-rhdh-aks/index.html
  pr-547/install-rhdh-eks/index.html
  pr-547/install-rhdh-ocp/index.html
  pr-547/install-rhdh-osd-gcp/index.html
  pr-547/plugin-rhdh/index.html
  pr-547/plugins-rhdh-about/index.html
  pr-547/plugins-rhdh-configure/index.html
  pr-547/plugins-rhdh-install/index.html
  pr-547/plugins-rhdh-reference/index.html
  pr-547/plugins-rhdh-troubleshooting/index.html
  pr-547/plugins-rhdh-using/index.html
  pr-547/rel-notes-rhdh/index.html
  pr-547/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 9e29a97908e173a5920cb2505820139214033e46
  pr-538/admin-rhdh/index.html
  pr-538/authentication/index.html
  pr-538/authorization/index.html
  pr-538/getting-started-rhdh/index.html
  pr-538/index.html
  pr-538/install-rhdh-aks/index.html
  pr-538/install-rhdh-eks/index.html
  pr-538/install-rhdh-ocp/index.html
  pr-538/install-rhdh-osd-gcp/index.html
  pr-538/plugin-rhdh/index.html
  pr-538/plugins-rhdh-about/index.html
  pr-538/plugins-rhdh-configure/index.html
  pr-538/plugins-rhdh-install/index.html
  pr-538/plugins-rhdh-reference/index.html
  pr-538/plugins-rhdh-troubleshooting/index.html
  pr-538/plugins-rhdh-using/index.html
  pr-538/rel-notes-rhdh/index.html
  pr-538/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 9e29a97908e173a5920cb2505820139214033e46
  pr-547/admin-rhdh/index.html
  pr-547/authentication/index.html
  pr-547/authorization/index.html
  pr-547/getting-started-rhdh/index.html
  pr-547/install-rhdh-air-gapped/index.html
  pr-547/install-rhdh-aks/index.html
  pr-547/install-rhdh-eks/index.html
  pr-547/install-rhdh-ocp/index.html
  pr-547/install-rhdh-osd-gcp/index.html
  pr-547/plugin-rhdh/index.html
  pr-547/plugins-rhdh-about/index.html
  pr-547/plugins-rhdh-configure/index.html
  pr-547/plugins-rhdh-install/index.html
  pr-547/plugins-rhdh-reference/index.html
  pr-547/plugins-rhdh-troubleshooting/index.html
  pr-547/plugins-rhdh-using/index.html
  pr-547/rel-notes-rhdh/index.html
  pr-547/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-plugins - Split plugin docs into admin/user titles
  assemblies/dynamic-plugins/assembly-using-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 9e29a97908e173a5920cb2505820139214033e46
  pr-556/admin-rhdh/index.html
  pr-556/authentication/index.html
  pr-556/authorization/index.html
  pr-556/getting-started-rhdh/index.html
  pr-556/install-rhdh-air-gapped/index.html
  pr-556/install-rhdh-aks/index.html
  pr-556/install-rhdh-eks/index.html
  pr-556/install-rhdh-ocp/index.html
  pr-556/install-rhdh-osd-gcp/index.html
  pr-556/plugin-rhdh/index.html
  pr-556/plugins-rhdh-about/index.html
  pr-556/plugins-rhdh-configure/index.html
  pr-556/plugins-rhdh-install/index.html
  pr-556/plugins-rhdh-reference/index.html
  pr-556/plugins-rhdh-troubleshooting/index.html
  pr-556/plugins-rhdh-using/index.html
  pr-556/rel-notes-rhdh/index.html
  pr-556/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 9e29a97908e173a5920cb2505820139214033e46
  pr-531/admin-rhdh/index.html
  pr-531/authentication/index.html
  pr-531/authorization/index.html
  pr-531/getting-started-rhdh/index.html
  pr-531/index.html
  pr-531/install-rhdh-aks/index.html
  pr-531/install-rhdh-eks/index.html
  pr-531/install-rhdh-ocp/index.html
  pr-531/install-rhdh-osd-gcp/index.html
  pr-531/plugin-rhdh/index.html
  pr-531/plugins-rhdh-about/index.html
  pr-531/plugins-rhdh-configure/index.html
  pr-531/plugins-rhdh-install/index.html
  pr-531/plugins-rhdh-reference/index.html
  pr-531/plugins-rhdh-troubleshooting/index.html
  pr-531/plugins-rhdh-using/index.html
  pr-531/rel-notes-rhdh/index.html
  pr-531/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

fix typo on region parameter (#531)
  modules/getting-started/ref-techdocs-example-config-plugin-helm.adoc
  modules/getting-started/ref-techdocs-example-config-plugin-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 1db58880a714a84cae5b3ba4077191dfd23efc1f
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

fix typo on region parameter
  modules/getting-started/ref-techdocs-example-config-plugin-helm.adoc
  modules/getting-started/ref-techdocs-example-config-plugin-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

fix typo on region parameter
  modules/getting-started/ref-techdocs-example-config-plugin-helm.adoc
  modules/getting-started/ref-techdocs-example-config-plugin-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

fix typo on region parameter (#557)
  modules/getting-started/ref-techdocs-example-config-plugin-helm.adoc
  modules/getting-started/ref-techdocs-example-config-plugin-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 62822cf2f70f920501ba3b4bbf1da0074e5c313f
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: afd4de0eb4f2167fd9375d4d1cfeb6e61c11910b
  pr-558/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-558/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-558/admin-rhdh/images/rhdh/operator-install-2.png
  pr-558/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-558/admin-rhdh/images/rhdh/template-editor.png
  pr-558/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-558/admin-rhdh/index.html
  pr-558/authentication/index.html
  pr-558/authorization/index.html
  pr-558/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-558/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-558/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-558/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-558/getting-started-rhdh/index.html
  pr-558/index.html
  pr-558/install-rhdh-air-gapped/index.html
  pr-558/install-rhdh-aks/index.html
  pr-558/install-rhdh-eks/index.html
  pr-558/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-558/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-558/install-rhdh-ocp/index.html
  pr-558/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-558/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-558/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-558/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-558/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-558/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-558/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-558/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-558/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-558/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-558/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-558/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-558/plugin-rhdh/index.html
  pr-558/rel-notes-rhdh/index.html
  pr-558/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

fix typo on region parameter (#558)
  modules/getting-started/ref-techdocs-example-config-plugin-helm.adoc
  modules/getting-started/ref-techdocs-example-config-plugin-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 2970d3a5e6d5b011f729dd044580fe2cdf8ae657
  1.2.x/admin-rhdh/index.html
  1.2.x/authentication/index.html
  1.2.x/authorization/index.html
  1.2.x/getting-started-rhdh/index.html
  1.2.x/install-rhdh-air-gapped/index.html
  1.2.x/install-rhdh-aks/index.html
  1.2.x/install-rhdh-eks/index.html
  1.2.x/install-rhdh-ocp/index.html
  1.2.x/plugin-rhdh/index.html
  1.2.x/rel-notes-rhdh/index.html
  1.2.x/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1db58880a714a84cae5b3ba4077191dfd23efc1f
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 1db58880a714a84cae5b3ba4077191dfd23efc1f
  pr-547/admin-rhdh/index.html
  pr-547/authentication/index.html
  pr-547/authorization/index.html
  pr-547/getting-started-rhdh/index.html
  pr-547/install-rhdh-air-gapped/index.html
  pr-547/install-rhdh-aks/index.html
  pr-547/install-rhdh-eks/index.html
  pr-547/install-rhdh-ocp/index.html
  pr-547/install-rhdh-osd-gcp/index.html
  pr-547/plugin-rhdh/index.html
  pr-547/plugins-rhdh-about/index.html
  pr-547/plugins-rhdh-configure/index.html
  pr-547/plugins-rhdh-install/index.html
  pr-547/plugins-rhdh-reference/index.html
  pr-547/plugins-rhdh-troubleshooting/index.html
  pr-547/plugins-rhdh-using/index.html
  pr-547/rel-notes-rhdh/index.html
  pr-547/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 1db58880a714a84cae5b3ba4077191dfd23efc1f
  pr-538/admin-rhdh/index.html
  pr-538/authentication/index.html
  pr-538/authorization/index.html
  pr-538/getting-started-rhdh/index.html
  pr-538/install-rhdh-air-gapped/index.html
  pr-538/install-rhdh-aks/index.html
  pr-538/install-rhdh-eks/index.html
  pr-538/install-rhdh-ocp/index.html
  pr-538/install-rhdh-osd-gcp/index.html
  pr-538/plugin-rhdh/index.html
  pr-538/plugins-rhdh-about/index.html
  pr-538/plugins-rhdh-configure/index.html
  pr-538/plugins-rhdh-install/index.html
  pr-538/plugins-rhdh-reference/index.html
  pr-538/plugins-rhdh-troubleshooting/index.html
  pr-538/plugins-rhdh-using/index.html
  pr-538/rel-notes-rhdh/index.html
  pr-538/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1db58880a714a84cae5b3ba4077191dfd23efc1f
  pr-547/admin-rhdh/index.html
  pr-547/authentication/index.html
  pr-547/authorization/index.html
  pr-547/getting-started-rhdh/index.html
  pr-547/install-rhdh-air-gapped/index.html
  pr-547/install-rhdh-aks/index.html
  pr-547/install-rhdh-eks/index.html
  pr-547/install-rhdh-ocp/index.html
  pr-547/install-rhdh-osd-gcp/index.html
  pr-547/plugin-rhdh/index.html
  pr-547/plugins-rhdh-about/index.html
  pr-547/plugins-rhdh-configure/index.html
  pr-547/plugins-rhdh-install/index.html
  pr-547/plugins-rhdh-reference/index.html
  pr-547/plugins-rhdh-troubleshooting/index.html
  pr-547/plugins-rhdh-using/index.html
  pr-547/rel-notes-rhdh/index.html
  pr-547/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 1db58880a714a84cae5b3ba4077191dfd23efc1f
  pr-547/admin-rhdh/index.html
  pr-547/authentication/index.html
  pr-547/authorization/index.html
  pr-547/getting-started-rhdh/index.html
  pr-547/install-rhdh-air-gapped/index.html
  pr-547/install-rhdh-aks/index.html
  pr-547/install-rhdh-eks/index.html
  pr-547/install-rhdh-ocp/index.html
  pr-547/install-rhdh-osd-gcp/index.html
  pr-547/plugin-rhdh/index.html
  pr-547/plugins-rhdh-about/index.html
  pr-547/plugins-rhdh-configure/index.html
  pr-547/plugins-rhdh-install/index.html
  pr-547/plugins-rhdh-reference/index.html
  pr-547/plugins-rhdh-troubleshooting/index.html
  pr-547/plugins-rhdh-using/index.html
  pr-547/rel-notes-rhdh/index.html
  pr-547/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 1db58880a714a84cae5b3ba4077191dfd23efc1f
  pr-547/admin-rhdh/index.html
  pr-547/authentication/index.html
  pr-547/authorization/index.html
  pr-547/getting-started-rhdh/index.html
  pr-547/install-rhdh-air-gapped/index.html
  pr-547/install-rhdh-aks/index.html
  pr-547/install-rhdh-eks/index.html
  pr-547/install-rhdh-ocp/index.html
  pr-547/install-rhdh-osd-gcp/index.html
  pr-547/plugin-rhdh/index.html
  pr-547/plugins-rhdh-about/index.html
  pr-547/plugins-rhdh-configure/index.html
  pr-547/plugins-rhdh-install/index.html
  pr-547/plugins-rhdh-reference/index.html
  pr-547/plugins-rhdh-troubleshooting/index.html
  pr-547/plugins-rhdh-using/index.html
  pr-547/rel-notes-rhdh/index.html
  pr-547/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1db58880a714a84cae5b3ba4077191dfd23efc1f
  pr-538/admin-rhdh/index.html
  pr-538/authentication/index.html
  pr-538/authorization/index.html
  pr-538/getting-started-rhdh/index.html
  pr-538/install-rhdh-air-gapped/index.html
  pr-538/install-rhdh-aks/index.html
  pr-538/install-rhdh-eks/index.html
  pr-538/install-rhdh-ocp/index.html
  pr-538/install-rhdh-osd-gcp/index.html
  pr-538/plugin-rhdh/index.html
  pr-538/plugins-rhdh-about/index.html
  pr-538/plugins-rhdh-configure/index.html
  pr-538/plugins-rhdh-install/index.html
  pr-538/plugins-rhdh-reference/index.html
  pr-538/plugins-rhdh-troubleshooting/index.html
  pr-538/plugins-rhdh-using/index.html
  pr-538/rel-notes-rhdh/index.html
  pr-538/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca
