Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

deploy: 95347c058e9614676408afe5241f0ce54f0fb536
  pr-514/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-514/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-514/admin-rhdh/images/rhdh/operator-install-2.png
  pr-514/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-514/admin-rhdh/images/rhdh/template-editor.png
  pr-514/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-514/admin-rhdh/index.html
  pr-514/authentication/index.html
  pr-514/authorization/index.html
  pr-514/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-514/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-514/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-514/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-514/getting-started-rhdh/index.html
  pr-514/index.html
  pr-514/install-rhdh-air-gapped/index.html
  pr-514/install-rhdh-aks/index.html
  pr-514/install-rhdh-eks/index.html
  pr-514/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-514/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-514/install-rhdh-ocp/index.html
  pr-514/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-514/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-514/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-514/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-514/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-514/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-514/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-514/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-514/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-514/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-514/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-514/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-514/plugin-rhdh/index.html
  pr-514/rel-notes-rhdh/index.html
  pr-514/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3709: how admins can track RHDH usage by users (#498)
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
  modules/admin/con-rbac-rest-api.adoc
  modules/admin/con-user-stats-rhdh.adoc
  modules/admin/proc-download-user-stats-rhdh.adoc
  modules/admin/ref-rbac-rest-api-endpoints.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

deploy: f1ddcad48ab9b772cb4181607baeed560e8a97b4
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-498/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-498/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-498/admin-rhdh/images/rhdh/operator-install-2.png
  pr-498/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-498/admin-rhdh/images/rhdh/template-editor.png
  pr-498/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-498/admin-rhdh/index.html
  pr-498/authentication/index.html
  pr-498/authorization/index.html
  pr-498/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-498/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-498/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-498/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-498/getting-started-rhdh/index.html
  pr-498/index.html
  pr-498/install-rhdh-air-gapped/index.html
  pr-498/install-rhdh-aks/index.html
  pr-498/install-rhdh-eks/index.html
  pr-498/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-498/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-498/install-rhdh-ocp/index.html
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-498/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-498/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-498/plugin-rhdh/index.html
  pr-498/rel-notes-rhdh/index.html
  pr-498/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3709: how admins can track RHDH usage by users
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
  modules/admin/con-rbac-rest-api.adoc
  modules/admin/con-user-stats-rhdh.adoc
  modules/admin/proc-download-user-stats-rhdh.adoc
  modules/admin/ref-rbac-rest-api-endpoints.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

Peer comments
  modules/admin/con-user-stats-rhdh.adoc
  modules/admin/ref-rbac-rest-api-endpoints.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: b8b3c6bb8d2fb9a162cb6d7e877520218f1c3bf7
  pr-515/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-515/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-515/admin-rhdh/images/rhdh/operator-install-2.png
  pr-515/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-515/admin-rhdh/images/rhdh/template-editor.png
  pr-515/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-515/admin-rhdh/index.html
  pr-515/authentication/index.html
  pr-515/authorization/index.html
  pr-515/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-515/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-515/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-515/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-515/getting-started-rhdh/index.html
  pr-515/index.html
  pr-515/install-rhdh-air-gapped/index.html
  pr-515/install-rhdh-aks/index.html
  pr-515/install-rhdh-eks/index.html
  pr-515/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-515/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-515/install-rhdh-ocp/index.html
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-515/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-515/plugin-rhdh/index.html
  pr-515/rel-notes-rhdh/index.html
  pr-515/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[1.3.x] RHIDP-3709: how admins can track RHDH usage by users (#515)
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
  modules/admin/con-rbac-rest-api.adoc
  modules/admin/con-user-stats-rhdh.adoc
  modules/admin/proc-download-user-stats-rhdh.adoc
  modules/admin/ref-rbac-rest-api-endpoints.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

deploy: 1e019a98dbecf500def47ca83e8fd813ce3cd89b
  1.3.x/admin-rhdh/index.html
  1.3.x/authentication/index.html
  1.3.x/authorization/index.html
  1.3.x/getting-started-rhdh/index.html
  1.3.x/install-rhdh-air-gapped/index.html
  1.3.x/install-rhdh-aks/index.html
  1.3.x/install-rhdh-eks/index.html
  1.3.x/install-rhdh-ocp/index.html
  1.3.x/plugin-rhdh/index.html
  1.3.x/rel-notes-rhdh/index.html
  1.3.x/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-515/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-515/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-515/admin-rhdh/images/rhdh/operator-install-2.png
  pr-515/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-515/admin-rhdh/images/rhdh/template-editor.png
  pr-515/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-515/admin-rhdh/index.html
  pr-515/authentication/index.html
  pr-515/authorization/index.html
  pr-515/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-515/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-515/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-515/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-515/getting-started-rhdh/index.html
  pr-515/index.html
  pr-515/install-rhdh-air-gapped/index.html
  pr-515/install-rhdh-aks/index.html
  pr-515/install-rhdh-eks/index.html
  pr-515/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-515/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-515/install-rhdh-ocp/index.html
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-515/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-515/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-515/plugin-rhdh/index.html
  pr-515/rel-notes-rhdh/index.html
  pr-515/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: f1ddcad48ab9b772cb4181607baeed560e8a97b4
  pr-509/admin-rhdh/index.html
  pr-509/authentication/index.html
  pr-509/authorization/index.html
  pr-509/getting-started-rhdh/index.html
  pr-509/install-rhdh-air-gapped/index.html
  pr-509/install-rhdh-aks/index.html
  pr-509/install-rhdh-eks/index.html
  pr-509/install-rhdh-ocp/index.html
  pr-509/install-rhdh-osd-gcp/index.html
  pr-509/plugin-rhdh/index.html
  pr-509/rel-notes-rhdh/index.html
  pr-509/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: f1ddcad48ab9b772cb4181607baeed560e8a97b4
  pr-509/admin-rhdh/index.html
  pr-509/authentication/index.html
  pr-509/authorization/index.html
  pr-509/getting-started-rhdh/index.html
  pr-509/install-rhdh-air-gapped/index.html
  pr-509/install-rhdh-aks/index.html
  pr-509/install-rhdh-eks/index.html
  pr-509/install-rhdh-ocp/index.html
  pr-509/install-rhdh-osd-gcp/index.html
  pr-509/plugin-rhdh/index.html
  pr-509/rel-notes-rhdh/index.html
  pr-509/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: f1ddcad48ab9b772cb4181607baeed560e8a97b4
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: f1ddcad48ab9b772cb4181607baeed560e8a97b4
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(branch): create release-1.3 branch from 1.3.x; refactor actions (RHIDP-4031) (#506)
  .github/workflows/build-asciidoc.yml
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

deploy: f917a5fd3c7f7dbc2ce2e13a3e1caa709ee4424d
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-506/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-506/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-506/admin-rhdh/images/rhdh/operator-install-2.png
  pr-506/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-506/admin-rhdh/images/rhdh/template-editor.png
  pr-506/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-506/admin-rhdh/index.html
  pr-506/authentication/index.html
  pr-506/authorization/index.html
  pr-506/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-506/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-506/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-506/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-506/getting-started-rhdh/index.html
  pr-506/index.html
  pr-506/install-rhdh-air-gapped/index.html
  pr-506/install-rhdh-aks/index.html
  pr-506/install-rhdh-eks/index.html
  pr-506/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-506/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-506/install-rhdh-ocp/index.html
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-506/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-506/plugin-rhdh/index.html
  pr-506/rel-notes-rhdh/index.html
  pr-506/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: f917a5fd3c7f7dbc2ce2e13a3e1caa709ee4424d
  pr-502/admin-rhdh/index.html
  pr-502/authentication/index.html
  pr-502/authorization/index.html
  pr-502/getting-started-rhdh/index.html
  pr-502/install-rhdh-air-gapped/index.html
  pr-502/install-rhdh-aks/index.html
  pr-502/install-rhdh-eks/index.html
  pr-502/install-rhdh-ocp/index.html
  pr-502/plugin-rhdh/index.html
  pr-502/rel-notes-rhdh/index.html
  pr-502/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(pr comments): reuse pr comments so we don't have dozens of identical links (#502)
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

deploy: b2ad52f98b5379fddcc8af4c1aa95348a8431341
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-502/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-502/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-502/admin-rhdh/images/rhdh/operator-install-2.png
  pr-502/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-502/admin-rhdh/images/rhdh/template-editor.png
  pr-502/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-502/admin-rhdh/index.html
  pr-502/authentication/index.html
  pr-502/authorization/index.html
  pr-502/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-502/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-502/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-502/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-502/getting-started-rhdh/index.html
  pr-502/index.html
  pr-502/install-rhdh-air-gapped/index.html
  pr-502/install-rhdh-aks/index.html
  pr-502/install-rhdh-eks/index.html
  pr-502/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-502/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-502/install-rhdh-ocp/index.html
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-502/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-502/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-502/plugin-rhdh/index.html
  pr-502/rel-notes-rhdh/index.html
  pr-502/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: b2ad52f98b5379fddcc8af4c1aa95348a8431341
  pr-514/admin-rhdh/index.html
  pr-514/authentication/index.html
  pr-514/authorization/index.html
  pr-514/getting-started-rhdh/index.html
  pr-514/install-rhdh-air-gapped/index.html
  pr-514/install-rhdh-aks/index.html
  pr-514/install-rhdh-eks/index.html
  pr-514/install-rhdh-ocp/index.html
  pr-514/plugin-rhdh/index.html
  pr-514/rel-notes-rhdh/index.html
  pr-514/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: b2ad52f98b5379fddcc8af4c1aa95348a8431341
  pr-509/admin-rhdh/index.html
  pr-509/authentication/index.html
  pr-509/authorization/index.html
  pr-509/getting-started-rhdh/index.html
  pr-509/install-rhdh-air-gapped/index.html
  pr-509/install-rhdh-aks/index.html
  pr-509/install-rhdh-eks/index.html
  pr-509/install-rhdh-ocp/index.html
  pr-509/install-rhdh-osd-gcp/index.html
  pr-509/plugin-rhdh/index.html
  pr-509/rel-notes-rhdh/index.html
  pr-509/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/ref-community-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: b2ad52f98b5379fddcc8af4c1aa95348a8431341
  pr-501/admin-rhdh/index.html
  pr-501/authentication/index.html
  pr-501/authorization/index.html
  pr-501/getting-started-rhdh/index.html
  pr-501/install-rhdh-air-gapped/index.html
  pr-501/install-rhdh-aks/index.html
  pr-501/install-rhdh-eks/index.html
  pr-501/install-rhdh-ocp/index.html
  pr-501/plugin-rhdh/index.html
  pr-501/rel-notes-rhdh/index.html
  pr-501/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(plugins table): bump to latest plugin versions - 1.3.x branch (#500)
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

chore(dynamic plugins): fixed namespace for community plugins and pagerduty (RHIDP-4079) (#511)
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

RHIDP-3440-2 CX: Reorganize the Dynamic... (#512)
  artifacts/snip-dynamic-plugins-support.adoc
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/ref-community-plugins.template.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.template.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.template.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: b2ad52f98b5379fddcc8af4c1aa95348a8431341
  pr-509/admin-rhdh/index.html
  pr-509/authentication/index.html
  pr-509/authorization/index.html
  pr-509/getting-started-rhdh/index.html
  pr-509/install-rhdh-air-gapped/index.html
  pr-509/install-rhdh-aks/index.html
  pr-509/install-rhdh-eks/index.html
  pr-509/install-rhdh-ocp/index.html
  pr-509/install-rhdh-osd-gcp/index.html
  pr-509/plugin-rhdh/index.html
  pr-509/rel-notes-rhdh/index.html
  pr-509/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(pr checks): add missing token to the bash env
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

deploy: b2ad52f98b5379fddcc8af4c1aa95348a8431341
  pr-516/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-516/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-516/admin-rhdh/images/rhdh/operator-install-2.png
  pr-516/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-516/admin-rhdh/images/rhdh/template-editor.png
  pr-516/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-516/admin-rhdh/index.html
  pr-516/authentication/index.html
  pr-516/authorization/index.html
  pr-516/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-516/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-516/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-516/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-516/getting-started-rhdh/index.html
  pr-516/index.html
  pr-516/install-rhdh-air-gapped/index.html
  pr-516/install-rhdh-aks/index.html
  pr-516/install-rhdh-eks/index.html
  pr-516/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-516/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-516/install-rhdh-ocp/index.html
  pr-516/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-516/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-516/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-516/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-516/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-516/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-516/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-516/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-516/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-516/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-516/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-516/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-516/plugin-rhdh/index.html
  pr-516/rel-notes-rhdh/index.html
  pr-516/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(pr checks): add missing token to the... (#516)
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

deploy: 72371a6b09123474242f4fa93e4a548da425db13
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 72371a6b09123474242f4fa93e4a548da425db13
  pr-509/admin-rhdh/index.html
  pr-509/authentication/index.html
  pr-509/authorization/index.html
  pr-509/getting-started-rhdh/index.html
  pr-509/install-rhdh-air-gapped/index.html
  pr-509/install-rhdh-aks/index.html
  pr-509/install-rhdh-eks/index.html
  pr-509/install-rhdh-ocp/index.html
  pr-509/install-rhdh-osd-gcp/index.html
  pr-509/plugin-rhdh/index.html
  pr-509/rel-notes-rhdh/index.html
  pr-509/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 72371a6b09123474242f4fa93e4a548da425db13
  pr-514/admin-rhdh/index.html
  pr-514/authentication/index.html
  pr-514/authorization/index.html
  pr-514/getting-started-rhdh/index.html
  pr-514/install-rhdh-air-gapped/index.html
  pr-514/install-rhdh-aks/index.html
  pr-514/install-rhdh-eks/index.html
  pr-514/install-rhdh-ocp/index.html
  pr-514/plugin-rhdh/index.html
  pr-514/rel-notes-rhdh/index.html
  pr-514/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(plugins): regen table
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 72371a6b09123474242f4fa93e4a548da425db13
  pr-517/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-517/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-517/admin-rhdh/images/rhdh/operator-install-2.png
  pr-517/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-517/admin-rhdh/images/rhdh/template-editor.png
  pr-517/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-517/admin-rhdh/index.html
  pr-517/authentication/index.html
  pr-517/authorization/index.html
  pr-517/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-517/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-517/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-517/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-517/getting-started-rhdh/index.html
  pr-517/index.html
  pr-517/install-rhdh-air-gapped/index.html
  pr-517/install-rhdh-aks/index.html
  pr-517/install-rhdh-eks/index.html
  pr-517/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-517/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-517/install-rhdh-ocp/index.html
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-517/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-517/plugin-rhdh/index.html
  pr-517/rel-notes-rhdh/index.html
  pr-517/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 72371a6b09123474242f4fa93e4a548da425db13
  pr-509/admin-rhdh/index.html
  pr-509/authentication/index.html
  pr-509/authorization/index.html
  pr-509/getting-started-rhdh/index.html
  pr-509/install-rhdh-air-gapped/index.html
  pr-509/install-rhdh-aks/index.html
  pr-509/install-rhdh-eks/index.html
  pr-509/install-rhdh-ocp/index.html
  pr-509/install-rhdh-osd-gcp/index.html
  pr-509/plugin-rhdh/index.html
  pr-509/rel-notes-rhdh/index.html
  pr-509/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
