Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt

Incorporated review suggestions
  modules/admin/con-rbac-conditional-policies-rhdh.adoc
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: e2f641940911e62d9a5ea6e7cc1033f3c1f8c693
  pr-504/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-504/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-504/admin-rhdh/images/rhdh/operator-install-2.png
  pr-504/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-504/admin-rhdh/images/rhdh/template-editor.png
  pr-504/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-504/admin-rhdh/index.html
  pr-504/authentication/index.html
  pr-504/authorization/index.html
  pr-504/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-504/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-504/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-504/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-504/getting-started-rhdh/index.html
  pr-504/index.html
  pr-504/install-rhdh-air-gapped/index.html
  pr-504/install-rhdh-aks/index.html
  pr-504/install-rhdh-eks/index.html
  pr-504/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-504/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-504/install-rhdh-ocp/index.html
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-504/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-504/plugin-rhdh/index.html
  pr-504/rel-notes-rhdh/index.html
  pr-504/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[1.3.x] RHIDP-3425 3426: RBAC conditional policies in 1.3 (#504)
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
  modules/admin/con-rbac-conditional-policies-rhdh.adoc
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

deploy: a77bd7f532436da4aca4333d310f8e47acca0d87
  1.3.x/admin-rhdh/index.html
  1.3.x/authentication/index.html
  1.3.x/authorization/index.html
  1.3.x/getting-started-rhdh/index.html
  1.3.x/install-rhdh-air-gapped/index.html
  1.3.x/install-rhdh-aks/index.html
  1.3.x/install-rhdh-eks/index.html
  1.3.x/install-rhdh-ocp/index.html
  1.3.x/plugin-rhdh/index.html
  1.3.x/rel-notes-rhdh/index.html
  1.3.x/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-504/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-504/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-504/admin-rhdh/images/rhdh/operator-install-2.png
  pr-504/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-504/admin-rhdh/images/rhdh/template-editor.png
  pr-504/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-504/admin-rhdh/index.html
  pr-504/authentication/index.html
  pr-504/authorization/index.html
  pr-504/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-504/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-504/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-504/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-504/getting-started-rhdh/index.html
  pr-504/index.html
  pr-504/install-rhdh-air-gapped/index.html
  pr-504/install-rhdh-aks/index.html
  pr-504/install-rhdh-eks/index.html
  pr-504/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-504/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-504/install-rhdh-ocp/index.html
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-504/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-504/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-504/plugin-rhdh/index.html
  pr-504/rel-notes-rhdh/index.html
  pr-504/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-490/admin-rhdh/index.html
  pr-490/authentication/index.html
  pr-490/authorization/index.html
  pr-490/getting-started-rhdh/index.html
  pr-490/install-rhdh-air-gapped/index.html
  pr-490/install-rhdh-aks/index.html
  pr-490/install-rhdh-eks/index.html
  pr-490/install-rhdh-ocp/index.html
  pr-490/plugin-rhdh/index.html
  pr-490/rel-notes-rhdh/index.html
  pr-490/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-499/admin-rhdh/index.html
  pr-499/authentication/index.html
  pr-499/authorization/index.html
  pr-499/getting-started-rhdh/index.html
  pr-499/install-rhdh-air-gapped/index.html
  pr-499/install-rhdh-aks/index.html
  pr-499/install-rhdh-eks/index.html
  pr-499/install-rhdh-ocp/index.html
  pr-499/plugin-rhdh/index.html
  pr-499/rel-notes-rhdh/index.html
  pr-499/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-499/admin-rhdh/index.html
  pr-499/authentication/index.html
  pr-499/authorization/index.html
  pr-499/getting-started-rhdh/index.html
  pr-499/install-rhdh-air-gapped/index.html
  pr-499/install-rhdh-aks/index.html
  pr-499/install-rhdh-eks/index.html
  pr-499/install-rhdh-ocp/index.html
  pr-499/plugin-rhdh/index.html
  pr-499/rel-notes-rhdh/index.html
  pr-499/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update snip-dynamic-plugins-support.adoc to fix typo
  artifacts/snip-dynamic-plugins-support.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-503/admin-rhdh/index.html
  pr-503/authentication/index.html
  pr-503/authorization/index.html
  pr-503/getting-started-rhdh/index.html
  pr-503/install-rhdh-air-gapped/index.html
  pr-503/install-rhdh-aks/index.html
  pr-503/install-rhdh-eks/index.html
  pr-503/install-rhdh-ocp/index.html
  pr-503/plugin-rhdh/index.html
  pr-503/rel-notes-rhdh/index.html
  pr-503/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-503/admin-rhdh/index.html
  pr-503/authentication/index.html
  pr-503/authorization/index.html
  pr-503/getting-started-rhdh/index.html
  pr-503/install-rhdh-air-gapped/index.html
  pr-503/install-rhdh-aks/index.html
  pr-503/install-rhdh-eks/index.html
  pr-503/install-rhdh-ocp/index.html
  pr-503/plugin-rhdh/index.html
  pr-503/rel-notes-rhdh/index.html
  pr-503/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/dynamic-plugins/ref-rh-supported-plugins.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-503/admin-rhdh/index.html
  pr-503/authentication/index.html
  pr-503/authorization/index.html
  pr-503/getting-started-rhdh/index.html
  pr-503/install-rhdh-air-gapped/index.html
  pr-503/install-rhdh-aks/index.html
  pr-503/install-rhdh-eks/index.html
  pr-503/install-rhdh-ocp/index.html
  pr-503/plugin-rhdh/index.html
  pr-503/rel-notes-rhdh/index.html
  pr-503/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/dynamic-plugins/ref-rh-supported-plugins.template.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.template.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-503/admin-rhdh/index.html
  pr-503/authentication/index.html
  pr-503/authorization/index.html
  pr-503/getting-started-rhdh/index.html
  pr-503/install-rhdh-air-gapped/index.html
  pr-503/install-rhdh-aks/index.html
  pr-503/install-rhdh-eks/index.html
  pr-503/install-rhdh-ocp/index.html
  pr-503/plugin-rhdh/index.html
  pr-503/rel-notes-rhdh/index.html
  pr-503/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-503/admin-rhdh/index.html
  pr-503/authentication/index.html
  pr-503/authorization/index.html
  pr-503/getting-started-rhdh/index.html
  pr-503/install-rhdh-air-gapped/index.html
  pr-503/install-rhdh-aks/index.html
  pr-503/install-rhdh-eks/index.html
  pr-503/install-rhdh-ocp/index.html
  pr-503/plugin-rhdh/index.html
  pr-503/rel-notes-rhdh/index.html
  pr-503/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-502/admin-rhdh/index.html
  pr-502/authentication/index.html
  pr-502/authorization/index.html
  pr-502/getting-started-rhdh/index.html
  pr-502/install-rhdh-air-gapped/index.html
  pr-502/install-rhdh-aks/index.html
  pr-502/install-rhdh-eks/index.html
  pr-502/install-rhdh-ocp/index.html
  pr-502/plugin-rhdh/index.html
  pr-502/rel-notes-rhdh/index.html
  pr-502/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(dynamic plugins): regen table with fixed namespace for community plugins and pagerduty
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-505/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-505/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-505/admin-rhdh/images/rhdh/operator-install-2.png
  pr-505/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-505/admin-rhdh/images/rhdh/template-editor.png
  pr-505/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-505/admin-rhdh/index.html
  pr-505/authentication/index.html
  pr-505/authorization/index.html
  pr-505/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-505/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-505/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-505/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-505/getting-started-rhdh/index.html
  pr-505/index.html
  pr-505/install-rhdh-air-gapped/index.html
  pr-505/install-rhdh-aks/index.html
  pr-505/install-rhdh-eks/index.html
  pr-505/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-505/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-505/install-rhdh-ocp/index.html
  pr-505/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-505/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-505/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-505/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-505/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-505/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-505/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-505/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-505/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-505/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-505/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-505/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-505/plugin-rhdh/index.html
  pr-505/rel-notes-rhdh/index.html
  pr-505/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

quieter log
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-505/admin-rhdh/index.html
  pr-505/authentication/index.html
  pr-505/authorization/index.html
  pr-505/getting-started-rhdh/index.html
  pr-505/install-rhdh-air-gapped/index.html
  pr-505/install-rhdh-aks/index.html
  pr-505/install-rhdh-eks/index.html
  pr-505/install-rhdh-ocp/index.html
  pr-505/plugin-rhdh/index.html
  pr-505/rel-notes-rhdh/index.html
  pr-505/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-501/admin-rhdh/index.html
  pr-501/authentication/index.html
  pr-501/authorization/index.html
  pr-501/getting-started-rhdh/index.html
  pr-501/install-rhdh-air-gapped/index.html
  pr-501/install-rhdh-aks/index.html
  pr-501/install-rhdh-eks/index.html
  pr-501/install-rhdh-ocp/index.html
  pr-501/plugin-rhdh/index.html
  pr-501/rel-notes-rhdh/index.html
  pr-501/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(branch): create release-1.3 branch from 1.3.x; refactor actions (RHIDP-4031)
  .github/workflows/build-asciidoc.yml
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-506/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-506/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-506/admin-rhdh/images/rhdh/operator-install-2.png
  pr-506/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-506/admin-rhdh/images/rhdh/template-editor.png
  pr-506/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-506/admin-rhdh/index.html
  pr-506/authentication/index.html
  pr-506/authorization/index.html
  pr-506/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-506/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-506/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-506/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-506/getting-started-rhdh/index.html
  pr-506/index.html
  pr-506/install-rhdh-air-gapped/index.html
  pr-506/install-rhdh-aks/index.html
  pr-506/install-rhdh-eks/index.html
  pr-506/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-506/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-506/install-rhdh-ocp/index.html
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-506/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-506/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-506/plugin-rhdh/index.html
  pr-506/rel-notes-rhdh/index.html
  pr-506/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-495/admin-rhdh/index.html
  pr-495/authentication/index.html
  pr-495/authorization/index.html
  pr-495/getting-started-rhdh/index.html
  pr-495/install-rhdh-air-gapped/index.html
  pr-495/install-rhdh-aks/index.html
  pr-495/install-rhdh-eks/index.html
  pr-495/install-rhdh-ocp/index.html
  pr-495/plugin-rhdh/index.html
  pr-495/rel-notes-rhdh/index.html
  pr-495/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: dd8293d56ef07480cd7c65d0c27e4a58eb5b289c
  pr-495/admin-rhdh/index.html
  pr-495/authentication/index.html
  pr-495/authorization/index.html
  pr-495/getting-started-rhdh/index.html
  pr-495/install-rhdh-air-gapped/index.html
  pr-495/install-rhdh-aks/index.html
  pr-495/install-rhdh-eks/index.html
  pr-495/install-rhdh-ocp/index.html
  pr-495/plugin-rhdh/index.html
  pr-495/rel-notes-rhdh/index.html
  pr-495/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

removing incorrect references (#495)
  modules/getting-started/proc-add-source-control-rhdh-catalog.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 26b8e3296b5b114b11783ca094ec42c3508ec6a0
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

removing incorrect references
  modules/getting-started/proc-add-source-control-rhdh-catalog.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020
