Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

deploy: d9bfaa29be6db590656e78b7f08c46f71b3f88b2
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-install Remove cache content modules
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
  modules/dynamic-plugins/con-dynamic-plugins-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: d9bfaa29be6db590656e78b7f08c46f71b3f88b2
  pr-547/admin-rhdh/index.html
  pr-547/authentication/index.html
  pr-547/authorization/index.html
  pr-547/getting-started-rhdh/index.html
  pr-547/install-rhdh-air-gapped/index.html
  pr-547/install-rhdh-aks/index.html
  pr-547/install-rhdh-eks/index.html
  pr-547/install-rhdh-ocp/index.html
  pr-547/install-rhdh-osd-gcp/index.html
  pr-547/plugin-rhdh/index.html
  pr-547/plugins-rhdh-about/index.html
  pr-547/plugins-rhdh-configure/index.html
  pr-547/plugins-rhdh-install/index.html
  pr-547/plugins-rhdh-reference/index.html
  pr-547/plugins-rhdh-troubleshooting/index.html
  pr-547/plugins-rhdh-using/index.html
  pr-547/rel-notes-rhdh/index.html
  pr-547/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: d9bfaa29be6db590656e78b7f08c46f71b3f88b2
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: d9bfaa29be6db590656e78b7f08c46f71b3f88b2
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: d9bfaa29be6db590656e78b7f08c46f71b3f88b2
  pr-547/admin-rhdh/index.html
  pr-547/authentication/index.html
  pr-547/authorization/index.html
  pr-547/getting-started-rhdh/index.html
  pr-547/install-rhdh-air-gapped/index.html
  pr-547/install-rhdh-aks/index.html
  pr-547/install-rhdh-eks/index.html
  pr-547/install-rhdh-ocp/index.html
  pr-547/install-rhdh-osd-gcp/index.html
  pr-547/plugin-rhdh/index.html
  pr-547/plugins-rhdh-about/index.html
  pr-547/plugins-rhdh-configure/index.html
  pr-547/plugins-rhdh-install/index.html
  pr-547/plugins-rhdh-reference/index.html
  pr-547/plugins-rhdh-troubleshooting/index.html
  pr-547/plugins-rhdh-using/index.html
  pr-547/rel-notes-rhdh/index.html
  pr-547/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: d9bfaa29be6db590656e78b7f08c46f71b3f88b2
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-install CX: Add plugin install content (#547)
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
  modules/dynamic-plugins/con-basic-config-dynamic-plugins.adoc
  modules/dynamic-plugins/con-install-dynamic-plugin-helm.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/proc-config-dynamic-plugins-rhdh-operator.adoc
  modules/dynamic-plugins/proc-using-custom-npm-registry.adoc
  titles/plugins-rhdh-install/docinfo.xml
  titles/plugins-rhdh-install/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: 187c12b2b4b62cfa54d65b8b24f14262532460ec
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/images/rhdh/operator-install-2.png
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-dynamic-plugins-cache.adoc
  modules/dynamic-plugins/con-dynamic-plugins-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

RHIDP-3440-plugins - Split plugin docs into admin/user titles
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

RHIDP-3440-install Remove cache content modules
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
  modules/dynamic-plugins/con-dynamic-plugins-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

Delete modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-dynamic-plugins-cache.adoc
  modules/dynamic-plugins/con-dynamic-plugins-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-dynamic-plugins-cache.adoc
  modules/dynamic-plugins/con-dynamic-plugins-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

RHIDP-3440-about CX: Adding contnet to About Pplugins
  assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

RHIDP-3440-plugins - Split plugin docs into admin/user titles
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-install CX: Add plugin install content
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-dynamic-plugins-cache.adoc
  modules/dynamic-plugins/con-dynamic-plugins-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

RHIDP-3440-install CX:Add installation and configuration content
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
  modules/dynamic-plugins/con-basic-config-dynamic-plugins.adoc
  modules/dynamic-plugins/proc-using-custom-npm-registry.adoc
  titles/plugins-rhdh-install/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

RHIDP-3440-install CX: Restructure content
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
  modules/dynamic-plugins/proc-using-custom-npm-registry.adoc
  titles/plugins-rhdh-install/docinfo.xml
  titles/plugins-rhdh-install/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

RHIDP-3440-install Update headings
  modules/dynamic-plugins/con-install-dynamic-plugin-helm.adoc
  modules/dynamic-plugins/proc-config-dynamic-plugins-rhdh-operator.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Delete assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
