Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

deploy: 2e8af420d49b143427cddaa5e22811ef8d451075
  pr-574/admin-rhdh/index.html
  pr-574/authentication/index.html
  pr-574/authorization/index.html
  pr-574/getting-started-rhdh/index.html
  pr-574/install-rhdh-air-gapped/index.html
  pr-574/install-rhdh-aks/index.html
  pr-574/install-rhdh-eks/index.html
  pr-574/install-rhdh-ocp/index.html
  pr-574/install-rhdh-osd-gcp/index.html
  pr-574/plugin-rhdh/index.html
  pr-574/plugins-rhdh-about/index.html
  pr-574/plugins-rhdh-configure/index.html
  pr-574/plugins-rhdh-install/index.html
  pr-574/plugins-rhdh-reference/index.html
  pr-574/plugins-rhdh-troubleshooting/index.html
  pr-574/plugins-rhdh-using/images/rhdh-plugins-reference/argocd.png
  pr-574/plugins-rhdh-using/images/rhdh-plugins-reference/deployment_summary.png
  pr-574/plugins-rhdh-using/images/rhdh-plugins-reference/group1.jpg
  pr-574/plugins-rhdh-using/images/rhdh-plugins-reference/link.png
  pr-574/plugins-rhdh-using/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-574/plugins-rhdh-using/images/rhdh-plugins-reference/sidebar.png
  pr-574/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-574/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-574/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user1.png
  pr-574/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user2.png
  pr-574/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user3.png
  pr-574/plugins-rhdh-using/images/rhdh-plugins-reference/user-list.jpg
  pr-574/plugins-rhdh-using/images/rhdh-plugins-reference/user2.jpg
  pr-574/plugins-rhdh-using/images/rhdh-plugins-reference/users.jpg
  pr-574/plugins-rhdh-using/index.html
  pr-574/rel-notes-rhdh/index.html
  pr-574/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

automate the manual cleanup
  build/scripts/single-source-security-fixes.sh
  modules/release-notes/snip-common-vulnerabilities-and-exposures.adoc
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt, @josephca, @redhat-developer/rhdh-team

deploy: 2e8af420d49b143427cddaa5e22811ef8d451075
  pr-574/admin-rhdh/index.html
  pr-574/authentication/index.html
  pr-574/authorization/index.html
  pr-574/getting-started-rhdh/index.html
  pr-574/install-rhdh-air-gapped/index.html
  pr-574/install-rhdh-aks/index.html
  pr-574/install-rhdh-eks/index.html
  pr-574/install-rhdh-ocp/index.html
  pr-574/install-rhdh-osd-gcp/index.html
  pr-574/plugin-rhdh/index.html
  pr-574/plugins-rhdh-about/index.html
  pr-574/plugins-rhdh-configure/index.html
  pr-574/plugins-rhdh-install/index.html
  pr-574/plugins-rhdh-reference/index.html
  pr-574/plugins-rhdh-troubleshooting/index.html
  pr-574/plugins-rhdh-using/index.html
  pr-574/rel-notes-rhdh/index.html
  pr-574/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

document the script
  build/scripts/single-source-security-fixes.sh
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

deploy: 2e8af420d49b143427cddaa5e22811ef8d451075
  pr-574/admin-rhdh/index.html
  pr-574/authentication/index.html
  pr-574/authorization/index.html
  pr-574/getting-started-rhdh/index.html
  pr-574/install-rhdh-air-gapped/index.html
  pr-574/install-rhdh-aks/index.html
  pr-574/install-rhdh-eks/index.html
  pr-574/install-rhdh-ocp/index.html
  pr-574/install-rhdh-osd-gcp/index.html
  pr-574/plugin-rhdh/index.html
  pr-574/plugins-rhdh-about/index.html
  pr-574/plugins-rhdh-configure/index.html
  pr-574/plugins-rhdh-install/index.html
  pr-574/plugins-rhdh-reference/index.html
  pr-574/plugins-rhdh-troubleshooting/index.html
  pr-574/plugins-rhdh-using/index.html
  pr-574/rel-notes-rhdh/index.html
  pr-574/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-4187 [DOC] Getting Started >Customizing the Home Page 4.1 and 4.2 header update
  modules/getting-started/proc-customize-rhdh-homepage.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

RHIDP-4050, 4099, 4324: Fix doc issues
  modules/getting-started/proc-customize-rhdh-homepage.adoc
  modules/getting-started/proc-customize-rhdh-learning-paths.adoc
  modules/installation/proc-rhdh-deploy-eks-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020, @themr0c

RHIDP-4290 - Update CVE list for release 1.3 (#574)
  assemblies/assembly-release-notes-fixed-security-issues.adoc
  build/scripts/single-source-security-fixes.sh
  cve-list.txt
  jira2asciidoc.yml
  modules/release-notes/snip-common-vulnerabilities-and-exposures.adoc
  modules/release-notes/snip-cve---common-vulnerabilities-and-exposures-rhidp-3403.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @nickboldt

deploy: c68536c1992fa2ff8ef657287dd486ceec9c840a
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-4290 - Update CVE list for main branch, with release 1.3 list
  assemblies/assembly-release-notes-fixed-security-issues.adoc
  build/scripts/single-source-security-fixes.sh
  cve-list.txt
  jira2asciidoc.yml
  modules/release-notes/snip-common-vulnerabilities-and-exposures.adoc
  modules/release-notes/snip-cve---common-vulnerabilities-and-exposures-rhidp-3403.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @nickboldt

Removing duplicate fixes
  modules/getting-started/proc-customize-rhdh-homepage.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 77d7f9dd7617fd2eb4def0e3cf2882d479492be8
  pr-579/admin-rhdh/index.html
  pr-579/authentication/index.html
  pr-579/authorization/index.html
  pr-579/getting-started-rhdh/index.html
  pr-579/install-rhdh-air-gapped/index.html
  pr-579/install-rhdh-aks/index.html
  pr-579/install-rhdh-eks/index.html
  pr-579/install-rhdh-ocp/index.html
  pr-579/install-rhdh-osd-gcp/index.html
  pr-579/plugin-rhdh/index.html
  pr-579/plugins-rhdh-about/index.html
  pr-579/plugins-rhdh-configure/index.html
  pr-579/plugins-rhdh-install/index.html
  pr-579/plugins-rhdh-reference/index.html
  pr-579/plugins-rhdh-troubleshooting/index.html
  pr-579/plugins-rhdh-using/index.html
  pr-579/rel-notes-rhdh/index.html
  pr-579/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440 Fix broken link in Dynamic Plugins Reference (#575)
  artifacts/attributes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 5b79534625c889cc73ef11c24807f493fea71c34
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-4050, 4099: Fix doc issues (#579)
  modules/getting-started/proc-customize-rhdh-learning-paths.adoc
  modules/installation/proc-rhdh-deploy-eks-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020, @themr0c

deploy: 2f4787c91de89715d4c35791aa257d591614f702
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-4050, 4099, 4324: Fix doc issues
  modules/getting-started/proc-customize-rhdh-homepage.adoc
  modules/getting-started/proc-customize-rhdh-learning-paths.adoc
  modules/installation/proc-rhdh-deploy-eks-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020, @themr0c

Removing duplicate fixes
  modules/getting-started/proc-customize-rhdh-homepage.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

[release-1.3] RHIDP-4050, 4099: Fix doc issues (#580)
  modules/getting-started/proc-customize-rhdh-learning-paths.adoc
  modules/installation/proc-rhdh-deploy-eks-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020, @themr0c

deploy: de412fe6c20166a7c10ffeb24e99af4ba47da2fe
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

fix typo
  modules/getting-started/con-techdocs-config-cicd.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

RHIDP-3887: Fixing a typo (#581)
  modules/getting-started/con-techdocs-config-cicd.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: b3848e8d4d95aab6e0a43cf8d2f9175c8331e410
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

fix typo
  modules/getting-started/con-techdocs-config-cicd.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

[release-1.3] RHIDP-3887: Fixing a typo (#582)
  modules/getting-started/con-techdocs-config-cicd.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 5c6789f9dd3f307385a5c7d594a92e4851ce65ff
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-4330 - Topology plugin updates
  modules/dynamic-plugins/proc-using-topology-plugin.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

RHIDP-4332 - Formatted user-replaced values
  modules/admin/ref-rbac-rest-api-endpoints.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

RHIDP-4330 - Topology plugin updates (#583)
  modules/dynamic-plugins/proc-using-topology-plugin.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 860209aba96644f448b4eb788fd94d994fe035da
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-4330 - Topology plugin updates
  modules/dynamic-plugins/proc-using-topology-plugin.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

RHIDP-4332 - Formatted user-replaced values (#584)
  modules/admin/ref-rbac-rest-api-endpoints.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 5a895f53bcb793c4fab3690f1039af39f8bcb509
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-4332 - Formatted user-replaced values
  modules/admin/ref-rbac-rest-api-endpoints.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

RHIDP-4187 [DOC] Getting Started >Customizing the Home Page 4.1 and 4.2 header update (#577)
  modules/getting-started/proc-customize-rhdh-homepage.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

RHIDP-4290 - Update CVE list for main branch, with release 1.3 list (#578)
  assemblies/assembly-release-notes-fixed-security-issues.adoc
  build/scripts/single-source-security-fixes.sh
  cve-list.txt
  jira2asciidoc.yml
  modules/release-notes/snip-common-vulnerabilities-and-exposures.adoc
  modules/release-notes/snip-cve---common-vulnerabilities-and-exposures-rhidp-3403.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @nickboldt

deploy: d5818d3f9e0ef4a8b9196f7249dd3d4c77d0f187
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-4187 [DOC] Getting Started >Customizing the Home Page 4.1 and 4.2 header update
  modules/getting-started/proc-customize-rhdh-homepage.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

chore: fix rendering bug in pantheon when more than one link on the same line and no link text provided (RHIDP-4301) (#576)
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: bf46ee27a4285a07a55a64042931f50df6d13286
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
