Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

release notes update
  modules/release-notes/snip-deprecated-functionality-rhidp-1138.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  assemblies/assembly-release-notes-known-issues.adoc
  modules/release-notes/snip-bug-fix-rhidp-2412.adoc
  modules/release-notes/snip-known-issue-rhidp-4067.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  modules/release-notes/snip-bug-fix-rhidp-2716.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

RHIDP-3440-plugins Update typos
  modules/dynamic-plugins/proc-topology-configure.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

release notes update
  modules/release-notes/snip-bug-fix-rhidp-4046.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-556/admin-rhdh/index.html
  pr-556/authentication/index.html
  pr-556/authorization/index.html
  pr-556/getting-started-rhdh/index.html
  pr-556/install-rhdh-air-gapped/index.html
  pr-556/install-rhdh-aks/index.html
  pr-556/install-rhdh-eks/index.html
  pr-556/install-rhdh-ocp/index.html
  pr-556/install-rhdh-osd-gcp/index.html
  pr-556/plugin-rhdh/index.html
  pr-556/plugins-rhdh-about/index.html
  pr-556/plugins-rhdh-configure/index.html
  pr-556/plugins-rhdh-install/index.html
  pr-556/plugins-rhdh-reference/index.html
  pr-556/plugins-rhdh-troubleshooting/index.html
  pr-556/plugins-rhdh-using/index.html
  pr-556/rel-notes-rhdh/index.html
  pr-556/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  assemblies/assembly-release-notes-known-issues.adoc
  jira2asciidoc.yml
  modules/release-notes/snip-known-issue-rhidp-3931.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  modules/release-notes/snip-known-issue-rhidp-3931.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-plugins Fix more typos
  modules/dynamic-plugins/proc-using-topology-plugin.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-556/admin-rhdh/index.html
  pr-556/authentication/index.html
  pr-556/authorization/index.html
  pr-556/getting-started-rhdh/index.html
  pr-556/install-rhdh-air-gapped/index.html
  pr-556/install-rhdh-aks/index.html
  pr-556/install-rhdh-eks/index.html
  pr-556/install-rhdh-ocp/index.html
  pr-556/install-rhdh-osd-gcp/index.html
  pr-556/plugin-rhdh/index.html
  pr-556/plugins-rhdh-about/index.html
  pr-556/plugins-rhdh-configure/index.html
  pr-556/plugins-rhdh-install/index.html
  pr-556/plugins-rhdh-reference/index.html
  pr-556/plugins-rhdh-troubleshooting/index.html
  pr-556/plugins-rhdh-using/index.html
  pr-556/rel-notes-rhdh/index.html
  pr-556/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  jira2asciidoc.yml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  assemblies/assembly-release-notes-known-issues.adoc
  modules/release-notes/snip-known-issue-rhidp-4069.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  modules/release-notes/snip-known-issue-rhidp-4069.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  modules/release-notes/snip-known-issue-rhidp-4069.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-plugins Add images
  modules/dynamic-plugins/proc-using-topology-plugin.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-556/admin-rhdh/index.html
  pr-556/authentication/index.html
  pr-556/authorization/index.html
  pr-556/getting-started-rhdh/index.html
  pr-556/install-rhdh-air-gapped/index.html
  pr-556/install-rhdh-aks/index.html
  pr-556/install-rhdh-eks/index.html
  pr-556/install-rhdh-ocp/index.html
  pr-556/install-rhdh-osd-gcp/index.html
  pr-556/plugin-rhdh/index.html
  pr-556/plugins-rhdh-about/index.html
  pr-556/plugins-rhdh-configure/index.html
  pr-556/plugins-rhdh-install/index.html
  pr-556/plugins-rhdh-reference/index.html
  pr-556/plugins-rhdh-troubleshooting/index.html
  pr-556/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user1.png
  pr-556/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user2.png
  pr-556/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user3.png
  pr-556/plugins-rhdh-using/index.html
  pr-556/rel-notes-rhdh/index.html
  pr-556/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-plugins Typo fix
  modules/dynamic-plugins/proc-using-topology-plugin.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-556/admin-rhdh/index.html
  pr-556/authentication/index.html
  pr-556/authorization/index.html
  pr-556/getting-started-rhdh/index.html
  pr-556/install-rhdh-air-gapped/index.html
  pr-556/install-rhdh-aks/index.html
  pr-556/install-rhdh-eks/index.html
  pr-556/install-rhdh-ocp/index.html
  pr-556/install-rhdh-osd-gcp/index.html
  pr-556/plugin-rhdh/index.html
  pr-556/plugins-rhdh-about/index.html
  pr-556/plugins-rhdh-configure/index.html
  pr-556/plugins-rhdh-install/index.html
  pr-556/plugins-rhdh-reference/index.html
  pr-556/plugins-rhdh-troubleshooting/index.html
  pr-556/plugins-rhdh-using/index.html
  pr-556/rel-notes-rhdh/index.html
  pr-556/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  modules/release-notes/snip-known-issue-rhidp-4069.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  modules/release-notes/snip-bug-fix-rhidp-2374.adoc
  modules/release-notes/snip-enhancement-rhidp-2615.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2796.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  modules/release-notes/snip-deprecated-functionality-rhidp-1138.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-enhancement-rhidp-2790.adoc
  modules/release-notes/snip-enhancement-rhidp-2818.adoc
  modules/release-notes/snip-feature-rhidp-2643.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-feature-rhidp-2907.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-feature-rhidp-2865.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  modules/release-notes/con-release-notes-overview.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
