Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt

[1.3.x] Fix: Added archived module (#528)
  archive/proc-customize-rhdh-branding.adoc
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
  assemblies/assembly-customize-rhdh-theme.adoc
  modules/admin/con-rbac-rest-api.adoc
  modules/admin/con-user-stats-rhdh.adoc
  modules/admin/proc-download-user-stats-rhdh.adoc
  modules/admin/ref-rbac-rest-api-endpoints.adoc
  modules/customization/proc-customize-rhdh-branding-logo.adoc
  modules/customization/proc-customize-rhdh-sidebar-logo.adoc
  modules/getting-started/proc-add-source-control-rhdh-catalog.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

deploy: afd4de0eb4f2167fd9375d4d1cfeb6e61c11910b
  1.2.x/admin-rhdh/index.html
  1.2.x/authentication/index.html
  1.2.x/authorization/index.html
  1.2.x/getting-started-rhdh/index.html
  1.2.x/install-rhdh-air-gapped/index.html
  1.2.x/install-rhdh-aks/index.html
  1.2.x/install-rhdh-eks/index.html
  1.2.x/install-rhdh-ocp/index.html
  1.2.x/plugin-rhdh/index.html
  1.2.x/rel-notes-rhdh/index.html
  1.2.x/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: acf7457fc8c54259091a5fc2d730928bdd5f33b7
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

docs: added procedure
  modules/authentication/proc-enabling-authentication-with-rhsso.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-480/admin-rhdh/index.html
  pr-480/authentication/index.html
  pr-480/authorization/index.html
  pr-480/getting-started-rhdh/index.html
  pr-480/index.html
  pr-480/install-rhdh-air-gapped/index.html
  pr-480/install-rhdh-eks/index.html
  pr-480/install-rhdh-ocp/index.html
  pr-480/install-rhdh-osd-gcp/index.html
  pr-480/plugin-rhdh/index.html
  pr-480/rel-notes-rhdh/index.html
  pr-480/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-480/admin-rhdh/index.html
  pr-480/authentication/index.html
  pr-480/authorization/index.html
  pr-480/getting-started-rhdh/index.html
  pr-480/install-rhdh-air-gapped/index.html
  pr-480/install-rhdh-aks/index.html
  pr-480/install-rhdh-eks/index.html
  pr-480/install-rhdh-ocp/index.html
  pr-480/install-rhdh-osd-gcp/index.html
  pr-480/plugin-rhdh/index.html
  pr-480/rel-notes-rhdh/index.html
  pr-480/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/authentication/proc-provisioning-users-from-rhsso-to-the-software-catalog.adoc
  modules/authentication/proc-provisioning-users-from-rhsso-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-480/admin-rhdh/index.html
  pr-480/authentication/index.html
  pr-480/authorization/index.html
  pr-480/getting-started-rhdh/index.html
  pr-480/install-rhdh-air-gapped/index.html
  pr-480/install-rhdh-aks/index.html
  pr-480/install-rhdh-eks/index.html
  pr-480/install-rhdh-ocp/index.html
  pr-480/install-rhdh-osd-gcp/index.html
  pr-480/plugin-rhdh/index.html
  pr-480/rel-notes-rhdh/index.html
  pr-480/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Correct link
  assemblies/assembly-admin-templates.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-485/admin-rhdh/index.html
  pr-485/authentication/index.html
  pr-485/authorization/index.html
  pr-485/getting-started-rhdh/index.html
  pr-485/install-rhdh-air-gapped/index.html
  pr-485/install-rhdh-aks/index.html
  pr-485/install-rhdh-eks/index.html
  pr-485/install-rhdh-ocp/index.html
  pr-485/plugin-rhdh/index.html
  pr-485/rel-notes-rhdh/index.html
  pr-485/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3794 - update Authentication book introduction (#460)
  assemblies/assembly-enabling-authentication.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: acf7457fc8c54259091a5fc2d730928bdd5f33b7
  pr-535/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-535/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-535/admin-rhdh/images/rhdh/operator-install-2.png
  pr-535/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-535/admin-rhdh/images/rhdh/template-editor.png
  pr-535/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-535/admin-rhdh/index.html
  pr-535/authentication/index.html
  pr-535/authorization/index.html
  pr-535/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-535/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-535/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-535/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-535/getting-started-rhdh/index.html
  pr-535/index.html
  pr-535/install-rhdh-air-gapped/index.html
  pr-535/install-rhdh-aks/index.html
  pr-535/install-rhdh-eks/index.html
  pr-535/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-535/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-535/install-rhdh-ocp/index.html
  pr-535/install-rhdh-osd-gcp/index.html
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-535/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-535/plugin-rhdh/index.html
  pr-535/rel-notes-rhdh/index.html
  pr-535/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3794 - update Authentication book introduction (#460) (#535)
  assemblies/assembly-enabling-authentication.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ddcc25409bb3e2d1e36fd6aae6931b358f016e6f
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-535/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-535/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-535/admin-rhdh/images/rhdh/operator-install-2.png
  pr-535/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-535/admin-rhdh/images/rhdh/template-editor.png
  pr-535/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-535/admin-rhdh/index.html
  pr-535/authentication/index.html
  pr-535/authorization/index.html
  pr-535/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-535/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-535/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-535/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-535/getting-started-rhdh/index.html
  pr-535/index.html
  pr-535/install-rhdh-air-gapped/index.html
  pr-535/install-rhdh-aks/index.html
  pr-535/install-rhdh-eks/index.html
  pr-535/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-535/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-535/install-rhdh-ocp/index.html
  pr-535/install-rhdh-osd-gcp/index.html
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-535/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-535/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-535/plugin-rhdh/index.html
  pr-535/rel-notes-rhdh/index.html
  pr-535/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: exclude techdocs from the .csv (RHIDP-4196); also fix a typo in modules/dynamic-plugins/proc-rhdh-example-external-dynamic-plugins.adoc
  modules/dynamic-plugins/proc-rhdh-example-external-dynamic-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-536/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-536/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-536/admin-rhdh/images/rhdh/operator-install-2.png
  pr-536/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-536/admin-rhdh/images/rhdh/template-editor.png
  pr-536/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-536/admin-rhdh/index.html
  pr-536/authentication/index.html
  pr-536/authorization/index.html
  pr-536/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-536/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-536/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-536/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-536/getting-started-rhdh/index.html
  pr-536/index.html
  pr-536/install-rhdh-air-gapped/index.html
  pr-536/install-rhdh-aks/index.html
  pr-536/install-rhdh-eks/index.html
  pr-536/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-536/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-536/install-rhdh-ocp/index.html
  pr-536/install-rhdh-osd-gcp/index.html
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-536/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-536/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-536/plugin-rhdh/index.html
  pr-536/rel-notes-rhdh/index.html
  pr-536/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-osd-gcp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/install-rhdh-osd-gcp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update assemblies/assembly-authenticating-with-rhsso.adoc
  assemblies/assembly-authenticating-with-rhsso.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update assemblies/assembly-authenticating-with-rhsso.adoc
  assemblies/assembly-authenticating-with-rhsso.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update assemblies/assembly-authenticating-with-rhsso.adoc
  assemblies/assembly-authenticating-with-rhsso.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-480/admin-rhdh/index.html
  pr-480/authentication/index.html
  pr-480/authorization/index.html
  pr-480/getting-started-rhdh/index.html
  pr-480/install-rhdh-air-gapped/index.html
  pr-480/install-rhdh-aks/index.html
  pr-480/install-rhdh-eks/index.html
  pr-480/install-rhdh-ocp/index.html
  pr-480/install-rhdh-osd-gcp/index.html
  pr-480/plugin-rhdh/index.html
  pr-480/rel-notes-rhdh/index.html
  pr-480/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

Update modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update assemblies/assembly-authenticating-with-microsoft-azure.adoc
  assemblies/assembly-authenticating-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update assemblies/dynamic-plugins/assembly-troubleshooting-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-troubleshooting-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update docinfo.xml
  titles/plugins-rhdh-about/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca
