Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

deploy: ee308f6dbbcb1afc30c9fe37efb7b6e9b0b9ab9a
  pr-549/admin-rhdh/index.html
  pr-549/authentication/index.html
  pr-549/authorization/index.html
  pr-549/getting-started-rhdh/index.html
  pr-549/install-rhdh-air-gapped/index.html
  pr-549/install-rhdh-aks/index.html
  pr-549/install-rhdh-eks/index.html
  pr-549/install-rhdh-ocp/index.html
  pr-549/install-rhdh-osd-gcp/index.html
  pr-549/plugin-rhdh/index.html
  pr-549/plugins-rhdh-about/index.html
  pr-549/plugins-rhdh-configure/index.html
  pr-549/plugins-rhdh-install/index.html
  pr-549/plugins-rhdh-reference/index.html
  pr-549/plugins-rhdh-troubleshooting/index.html
  pr-549/plugins-rhdh-using/index.html
  pr-549/rel-notes-rhdh/index.html
  pr-549/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: fix links from RN -> Plugins guide (RHIDP-3187) (#549)
  modules/release-notes/con-relnotes-techpreview-features.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: d951926a2955d5251b9b865492f49f2d65da47d4
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: d951926a2955d5251b9b865492f49f2d65da47d4
  pr-546/admin-rhdh/index.html
  pr-546/authentication/index.html
  pr-546/authorization/index.html
  pr-546/getting-started-rhdh/index.html
  pr-546/install-rhdh-air-gapped/index.html
  pr-546/install-rhdh-aks/index.html
  pr-546/install-rhdh-eks/index.html
  pr-546/install-rhdh-ocp/index.html
  pr-546/install-rhdh-osd-gcp/index.html
  pr-546/plugin-rhdh/index.html
  pr-546/plugins-rhdh-about/index.html
  pr-546/plugins-rhdh-configure/index.html
  pr-546/plugins-rhdh-install/index.html
  pr-546/plugins-rhdh-reference/index.html
  pr-546/plugins-rhdh-troubleshooting/index.html
  pr-546/plugins-rhdh-using/index.html
  pr-546/rel-notes-rhdh/index.html
  pr-546/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3728 [Docs] Document Deployment customization configuration for Operator (#496)
  modules/admin/proc-rhdh-deployment-config.adoc
  titles/admin-rhdh/title-admin.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020, @redhat-developer/rhdh-team

Update modules/authentication/proc-provisioning-users-from-rhsso-to-the-software-catalog.adoc
  modules/authentication/proc-provisioning-users-from-rhsso-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 9e29a97908e173a5920cb2505820139214033e46
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 9e29a97908e173a5920cb2505820139214033e46
  pr-480/admin-rhdh/index.html
  pr-480/authentication/index.html
  pr-480/authorization/index.html
  pr-480/getting-started-rhdh/index.html
  pr-480/install-rhdh-air-gapped/index.html
  pr-480/install-rhdh-aks/index.html
  pr-480/install-rhdh-eks/index.html
  pr-480/install-rhdh-ocp/index.html
  pr-480/install-rhdh-osd-gcp/index.html
  pr-480/plugin-rhdh/index.html
  pr-480/plugins-rhdh-about/index.html
  pr-480/plugins-rhdh-configure/index.html
  pr-480/plugins-rhdh-install/index.html
  pr-480/plugins-rhdh-reference/index.html
  pr-480/plugins-rhdh-troubleshooting/index.html
  pr-480/plugins-rhdh-using/index.html
  pr-480/rel-notes-rhdh/index.html
  pr-480/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-about CX: Adding contnet to About Pplugins
  assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

RHIDP-3728 [Docs] Document Deployment customization configuration for Operator
  modules/admin/proc-rhdh-deployment-config.adoc
  titles/admin-rhdh/title-admin.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020, @redhat-developer/rhdh-team

[release-1.3] RHIDP-3728 [Docs] Document Deployment customization configuration for Operator (#553)
  modules/admin/proc-rhdh-deployment-config.adoc
  titles/admin-rhdh/title-admin.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020, @redhat-developer/rhdh-team

deploy: 08b30404585ca8f8bd8b396ddfb63ebe0fc1cd6a
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Modifies the customizing Home page
  modules/getting-started/proc-customize-rhdh-homepage.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 9e29a97908e173a5920cb2505820139214033e46
  pr-529/admin-rhdh/index.html
  pr-529/authentication/index.html
  pr-529/authorization/index.html
  pr-529/getting-started-rhdh/index.html
  pr-529/install-rhdh-air-gapped/index.html
  pr-529/install-rhdh-aks/index.html
  pr-529/install-rhdh-eks/index.html
  pr-529/install-rhdh-ocp/index.html
  pr-529/plugin-rhdh/index.html
  pr-529/rel-notes-rhdh/index.html
  pr-529/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: fix links from RN -> Plugins guide (RHIDP-3187)
  modules/release-notes/con-relnotes-techpreview-features.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

RHIDP-3440-reference - CX: Reference Guide Restructure
  artifacts/attributes.adoc
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/dynamic-plugins/con-preinstalled-dynamic-plugins.adoc
  modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
  titles/plugins-rhdh-install/master.adoc
  titles/plugins-rhdh-reference/docinfo.xml
  titles/plugins-rhdh-reference/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

RHIDP-3728 [Docs] Document Deployment customization configuration for Operator (#496)
  modules/admin/proc-rhdh-deployment-config.adoc
  titles/admin-rhdh/title-admin.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020, @redhat-developer/rhdh-team

RHIDP-3440-about CX: Adding contnet to About Pplugins
  assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: 9e29a97908e173a5920cb2505820139214033e46
  pr-546/admin-rhdh/index.html
  pr-546/authentication/index.html
  pr-546/authorization/index.html
  pr-546/getting-started-rhdh/index.html
  pr-546/install-rhdh-air-gapped/index.html
  pr-546/install-rhdh-aks/index.html
  pr-546/install-rhdh-eks/index.html
  pr-546/install-rhdh-ocp/index.html
  pr-546/install-rhdh-osd-gcp/index.html
  pr-546/plugin-rhdh/index.html
  pr-546/plugins-rhdh-about/index.html
  pr-546/plugins-rhdh-configure/index.html
  pr-546/plugins-rhdh-install/index.html
  pr-546/plugins-rhdh-reference/index.html
  pr-546/plugins-rhdh-troubleshooting/index.html
  pr-546/plugins-rhdh-using/index.html
  pr-546/rel-notes-rhdh/index.html
  pr-546/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-reference Fix typo
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 9e29a97908e173a5920cb2505820139214033e46
  pr-546/admin-rhdh/index.html
  pr-546/authentication/index.html
  pr-546/authorization/index.html
  pr-546/getting-started-rhdh/index.html
  pr-546/install-rhdh-air-gapped/index.html
  pr-546/install-rhdh-aks/index.html
  pr-546/install-rhdh-eks/index.html
  pr-546/install-rhdh-ocp/index.html
  pr-546/install-rhdh-osd-gcp/index.html
  pr-546/plugin-rhdh/index.html
  pr-546/plugins-rhdh-about/index.html
  pr-546/plugins-rhdh-configure/index.html
  pr-546/plugins-rhdh-install/index.html
  pr-546/plugins-rhdh-reference/index.html
  pr-546/plugins-rhdh-troubleshooting/index.html
  pr-546/plugins-rhdh-using/index.html
  pr-546/rel-notes-rhdh/index.html
  pr-546/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-install CX: Restructure content
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
  modules/dynamic-plugins/proc-using-custom-npm-registry.adoc
  titles/plugins-rhdh-install/docinfo.xml
  titles/plugins-rhdh-install/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: 9e29a97908e173a5920cb2505820139214033e46
  pr-547/admin-rhdh/index.html
  pr-547/authentication/index.html
  pr-547/authorization/index.html
  pr-547/getting-started-rhdh/index.html
  pr-547/install-rhdh-air-gapped/index.html
  pr-547/install-rhdh-aks/index.html
  pr-547/install-rhdh-eks/index.html
  pr-547/install-rhdh-ocp/index.html
  pr-547/install-rhdh-osd-gcp/index.html
  pr-547/plugin-rhdh/index.html
  pr-547/plugins-rhdh-about/index.html
  pr-547/plugins-rhdh-configure/index.html
  pr-547/plugins-rhdh-install/index.html
  pr-547/plugins-rhdh-reference/index.html
  pr-547/plugins-rhdh-troubleshooting/index.html
  pr-547/plugins-rhdh-using/index.html
  pr-547/rel-notes-rhdh/index.html
  pr-547/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Delete modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Delete assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-install
  assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: 9e29a97908e173a5920cb2505820139214033e46
  pr-547/admin-rhdh/index.html
  pr-547/authentication/index.html
  pr-547/authorization/index.html
  pr-547/getting-started-rhdh/index.html
  pr-547/install-rhdh-air-gapped/index.html
  pr-547/install-rhdh-aks/index.html
  pr-547/install-rhdh-eks/index.html
  pr-547/install-rhdh-ocp/index.html
  pr-547/install-rhdh-osd-gcp/index.html
  pr-547/plugin-rhdh/index.html
  pr-547/plugins-rhdh-about/index.html
  pr-547/plugins-rhdh-configure/index.html
  pr-547/plugins-rhdh-install/index.html
  pr-547/plugins-rhdh-reference/index.html
  pr-547/plugins-rhdh-troubleshooting/index.html
  pr-547/plugins-rhdh-using/index.html
  pr-547/rel-notes-rhdh/index.html
  pr-547/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 9e29a97908e173a5920cb2505820139214033e46
  pr-547/admin-rhdh/index.html
  pr-547/authentication/index.html
  pr-547/authorization/index.html
  pr-547/getting-started-rhdh/index.html
  pr-547/install-rhdh-air-gapped/index.html
  pr-547/install-rhdh-aks/index.html
  pr-547/install-rhdh-eks/index.html
  pr-547/install-rhdh-ocp/index.html
  pr-547/install-rhdh-osd-gcp/index.html
  pr-547/plugin-rhdh/index.html
  pr-547/plugins-rhdh-about/index.html
  pr-547/plugins-rhdh-configure/index.html
  pr-547/plugins-rhdh-install/index.html
  pr-547/plugins-rhdh-reference/index.html
  pr-547/plugins-rhdh-troubleshooting/index.html
  pr-547/plugins-rhdh-using/index.html
  pr-547/rel-notes-rhdh/index.html
  pr-547/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-install Update headings
  modules/dynamic-plugins/con-install-dynamic-plugin-helm.adoc
  modules/dynamic-plugins/proc-config-dynamic-plugins-rhdh-operator.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 9e29a97908e173a5920cb2505820139214033e46
  pr-547/admin-rhdh/index.html
  pr-547/authentication/index.html
  pr-547/authorization/index.html
  pr-547/getting-started-rhdh/index.html
  pr-547/install-rhdh-air-gapped/index.html
  pr-547/install-rhdh-aks/index.html
  pr-547/install-rhdh-eks/index.html
  pr-547/install-rhdh-ocp/index.html
  pr-547/install-rhdh-osd-gcp/index.html
  pr-547/plugin-rhdh/index.html
  pr-547/plugins-rhdh-about/index.html
  pr-547/plugins-rhdh-configure/index.html
  pr-547/plugins-rhdh-install/index.html
  pr-547/plugins-rhdh-reference/index.html
  pr-547/plugins-rhdh-troubleshooting/index.html
  pr-547/plugins-rhdh-using/index.html
  pr-547/rel-notes-rhdh/index.html
  pr-547/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-about Update content
  assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
  titles/plugins-rhdh-about/master.adoc
  titles/plugins-rhdh-install/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-about Add missing file
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 9e29a97908e173a5920cb2505820139214033e46
  pr-555/admin-rhdh/index.html
  pr-555/authentication/index.html
  pr-555/authorization/index.html
  pr-555/getting-started-rhdh/index.html
  pr-555/install-rhdh-air-gapped/index.html
  pr-555/install-rhdh-aks/index.html
  pr-555/install-rhdh-eks/index.html
  pr-555/install-rhdh-ocp/index.html
  pr-555/install-rhdh-osd-gcp/index.html
  pr-555/plugin-rhdh/index.html
  pr-555/plugins-rhdh-about/index.html
  pr-555/plugins-rhdh-configure/index.html
  pr-555/plugins-rhdh-install/index.html
  pr-555/plugins-rhdh-reference/index.html
  pr-555/plugins-rhdh-troubleshooting/index.html
  pr-555/plugins-rhdh-using/index.html
  pr-555/rel-notes-rhdh/index.html
  pr-555/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Add images folder to assemblies
  assemblies/images
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-plugins - Split plugin docs into admin/user titles
  assemblies/dynamic-plugins/assembly-configuring-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-using-rhdh-plugins.adoc
  modules/dynamic-plugins/con-ansible-plugin-admin.adoc
  modules/dynamic-plugins/con-ansible-plugin-user.adoc
  titles/plugins-rhdh-configure/docinfo.xml
  titles/plugins-rhdh-configure/master.adoc
  titles/plugins-rhdh-using/docinfo.xml
  titles/plugins-rhdh-using/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 9e29a97908e173a5920cb2505820139214033e46
  pr-547/admin-rhdh/index.html
  pr-547/authentication/index.html
  pr-547/authorization/index.html
  pr-547/getting-started-rhdh/index.html
  pr-547/install-rhdh-air-gapped/index.html
  pr-547/install-rhdh-aks/index.html
  pr-547/install-rhdh-eks/index.html
  pr-547/install-rhdh-ocp/index.html
  pr-547/install-rhdh-osd-gcp/index.html
  pr-547/plugin-rhdh/index.html
  pr-547/plugins-rhdh-about/index.html
  pr-547/plugins-rhdh-configure/index.html
  pr-547/plugins-rhdh-install/index.html
  pr-547/plugins-rhdh-reference/index.html
  pr-547/plugins-rhdh-troubleshooting/index.html
  pr-547/plugins-rhdh-using/index.html
  pr-547/rel-notes-rhdh/index.html
  pr-547/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
