Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt

deploy: d9db160f19582500aa6936a71bd0ae8b08b58c65
  pr-604/admin-rhdh/index.html
  pr-604/authentication/index.html
  pr-604/authorization/index.html
  pr-604/getting-started-rhdh/index.html
  pr-604/install-rhdh-air-gapped/index.html
  pr-604/install-rhdh-aks/index.html
  pr-604/install-rhdh-eks/index.html
  pr-604/install-rhdh-ocp/index.html
  pr-604/install-rhdh-osd-gcp/index.html
  pr-604/plugin-rhdh/index.html
  pr-604/plugins-rhdh-about/index.html
  pr-604/plugins-rhdh-configure/index.html
  pr-604/plugins-rhdh-install/index.html
  pr-604/plugins-rhdh-reference/index.html
  pr-604/plugins-rhdh-troubleshooting/index.html
  pr-604/plugins-rhdh-using/index.html
  pr-604/rel-notes-rhdh/index.html
  pr-604/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: d9db160f19582500aa6936a71bd0ae8b08b58c65
  pr-604/admin-rhdh/index.html
  pr-604/authentication/index.html
  pr-604/authorization/index.html
  pr-604/getting-started-rhdh/index.html
  pr-604/install-rhdh-air-gapped/index.html
  pr-604/install-rhdh-aks/index.html
  pr-604/install-rhdh-eks/index.html
  pr-604/install-rhdh-ocp/index.html
  pr-604/install-rhdh-osd-gcp/index.html
  pr-604/plugin-rhdh/index.html
  pr-604/plugins-rhdh-about/index.html
  pr-604/plugins-rhdh-configure/index.html
  pr-604/plugins-rhdh-install/index.html
  pr-604/plugins-rhdh-reference/index.html
  pr-604/plugins-rhdh-troubleshooting/index.html
  pr-604/plugins-rhdh-using/index.html
  pr-604/rel-notes-rhdh/index.html
  pr-604/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: d9db160f19582500aa6936a71bd0ae8b08b58c65
  pr-604/admin-rhdh/index.html
  pr-604/authentication/index.html
  pr-604/authorization/index.html
  pr-604/getting-started-rhdh/index.html
  pr-604/install-rhdh-air-gapped/index.html
  pr-604/install-rhdh-aks/index.html
  pr-604/install-rhdh-eks/index.html
  pr-604/install-rhdh-ocp/index.html
  pr-604/install-rhdh-osd-gcp/index.html
  pr-604/plugin-rhdh/index.html
  pr-604/plugins-rhdh-about/index.html
  pr-604/plugins-rhdh-configure/index.html
  pr-604/plugins-rhdh-install/index.html
  pr-604/plugins-rhdh-reference/index.html
  pr-604/plugins-rhdh-troubleshooting/index.html
  pr-604/plugins-rhdh-using/index.html
  pr-604/rel-notes-rhdh/index.html
  pr-604/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3969 Authenticating with GitHub
  assemblies/assembly-auth-provider-github.adoc
  assemblies/assembly-authenticating-with-github.adoc
  assemblies/assembly-enabling-authentication.adoc
  modules/authentication/proc-enabling-authentication-with-github.adoc
  modules/authentication/proc-provisioning-users-from-github-to-the-software-catalog.adoc
  modules/getting-started/con-github-app-overview.adoc
  modules/getting-started/proc-adding-github-to-frontend.adoc
  modules/getting-started/proc-configuring-github-app.adoc
  modules/getting-started/proc-registering-github-app.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @hmanwani-rh, @themr0c, @kim-tsao, @JessicaJHee, @04kash, @schultzp2020

deploy: d9db160f19582500aa6936a71bd0ae8b08b58c65
  pr-604/admin-rhdh/index.html
  pr-604/authentication/index.html
  pr-604/authorization/index.html
  pr-604/getting-started-rhdh/index.html
  pr-604/install-rhdh-air-gapped/index.html
  pr-604/install-rhdh-aks/index.html
  pr-604/install-rhdh-eks/index.html
  pr-604/install-rhdh-ocp/index.html
  pr-604/install-rhdh-osd-gcp/index.html
  pr-604/plugin-rhdh/index.html
  pr-604/plugins-rhdh-about/index.html
  pr-604/plugins-rhdh-configure/index.html
  pr-604/plugins-rhdh-install/index.html
  pr-604/plugins-rhdh-reference/index.html
  pr-604/plugins-rhdh-troubleshooting/index.html
  pr-604/plugins-rhdh-using/index.html
  pr-604/rel-notes-rhdh/index.html
  pr-604/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

fix: fixed typo in file name
  assemblies/assembly-authenticating-with-the-guest-user.adoc
  assemblies/assembly-enabling-authentication.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3377: Adding cross-links to the Installation titles (#538)
  artifacts/attributes.adoc
  modules/admin/proc-rbac-send-request-rbac-rest-api.adoc
  modules/admin/proc-rhdh-monitoring-logging-aks.adoc
  modules/admin/proc-using-azure-auth-provider.adoc
  modules/getting-started/proc-add-source-control-rhdh-catalog.adoc
  modules/getting-started/proc-customize-rhdh-homepage.adoc
  modules/getting-started/proc-customize-rhdh-learning-paths.adoc
  modules/getting-started/proc-customize-rhdh-tech-radar-page.adoc
  modules/getting-started/proc-enable-servicenow-custom-actions-plugin.adoc
  modules/installation/proc-enable-signin.adoc
  modules/upgrade/proc-upgrade-rhdh-operator.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @themr0c

deploy: fb0eb8732fb32b2a9bb3f575098ba0f8dc21a9f4
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Fixed merge conflicts
  artifacts/attributes.adoc
  modules/admin/proc-rbac-send-request-rbac-rest-api.adoc
  modules/admin/proc-rhdh-monitoring-logging-aks.adoc
  modules/admin/proc-using-azure-auth-provider.adoc
  modules/getting-started/proc-add-source-control-rhdh-catalog.adoc
  modules/getting-started/proc-customize-rhdh-homepage.adoc
  modules/getting-started/proc-customize-rhdh-learning-paths.adoc
  modules/getting-started/proc-customize-rhdh-tech-radar-page.adoc
  modules/getting-started/proc-enable-servicenow-custom-actions-plugin.adoc
  modules/installation/proc-enable-signin.adoc
  modules/upgrade/proc-upgrade-rhdh-operator.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @themr0c

Incorporated Heena's peer review comments
  modules/admin/proc-rbac-send-request-rbac-rest-api.adoc
  modules/admin/proc-rhdh-monitoring-logging-aks.adoc
  modules/admin/proc-using-azure-auth-provider.adoc
  modules/getting-started/proc-add-source-control-rhdh-catalog.adoc
  modules/getting-started/proc-customize-rhdh-homepage.adoc
  modules/upgrade/proc-upgrade-rhdh-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

backport workflow updates from 1.3+ in... (#603)
  .github/pull_request_template.md
  .github/workflows/build-asciidoc.yml
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

deploy: ce5749a7a93c09b5be88317b07ad09391257ddf4
  1.2.x/admin-rhdh/index.html
  1.2.x/authentication/index.html
  1.2.x/authorization/index.html
  1.2.x/getting-started-rhdh/index.html
  1.2.x/install-rhdh-air-gapped/index.html
  1.2.x/install-rhdh-aks/index.html
  1.2.x/install-rhdh-eks/index.html
  1.2.x/install-rhdh-ocp/index.html
  1.2.x/plugin-rhdh/index.html
  1.2.x/rel-notes-rhdh/index.html
  1.2.x/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-603/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-603/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-603/admin-rhdh/images/rhdh/operator-install-2.png
  pr-603/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-603/admin-rhdh/images/rhdh/template-editor.png
  pr-603/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-603/admin-rhdh/index.html
  pr-603/authentication/index.html
  pr-603/authorization/index.html
  pr-603/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-603/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-603/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-603/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-603/getting-started-rhdh/index.html
  pr-603/index.html
  pr-603/install-rhdh-air-gapped/index.html
  pr-603/install-rhdh-aks/index.html
  pr-603/install-rhdh-eks/index.html
  pr-603/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-603/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-603/install-rhdh-ocp/index.html
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-603/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-603/plugin-rhdh/index.html
  pr-603/rel-notes-rhdh/index.html
  pr-603/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: uniquely version sort... (#605)
  modules/release-notes/single-source-fixed-security-issues.sh
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 94fef9c8b0a8bf07e8d1f936d7a84458bdcce3a6
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: updated release notes
  assemblies/assembly-release-notes-breaking-changes.adoc
  assemblies/assembly-release-notes-known-issues.adoc
  modules/release-notes/single-source-release-notes.py
  modules/release-notes/snip-known-issue-rhidp-4378.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3074.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

deploy: 94fef9c8b0a8bf07e8d1f936d7a84458bdcce3a6
  pr-609/admin-rhdh/index.html
  pr-609/authentication/index.html
  pr-609/authorization/index.html
  pr-609/getting-started-rhdh/index.html
  pr-609/install-rhdh-air-gapped/index.html
  pr-609/install-rhdh-aks/index.html
  pr-609/install-rhdh-eks/index.html
  pr-609/install-rhdh-ocp/index.html
  pr-609/install-rhdh-osd-gcp/index.html
  pr-609/plugin-rhdh/index.html
  pr-609/plugins-rhdh-about/index.html
  pr-609/plugins-rhdh-configure/index.html
  pr-609/plugins-rhdh-install/index.html
  pr-609/plugins-rhdh-reference/index.html
  pr-609/plugins-rhdh-troubleshooting/index.html
  pr-609/plugins-rhdh-using/index.html
  pr-609/rel-notes-rhdh/index.html
  pr-609/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: fb0eb8732fb32b2a9bb3f575098ba0f8dc21a9f4
  pr-606/admin-rhdh/index.html
  pr-606/authentication/index.html
  pr-606/authorization/index.html
  pr-606/getting-started-rhdh/index.html
  pr-606/install-rhdh-air-gapped/index.html
  pr-606/install-rhdh-aks/index.html
  pr-606/install-rhdh-eks/index.html
  pr-606/install-rhdh-ocp/index.html
  pr-606/install-rhdh-osd-gcp/index.html
  pr-606/plugin-rhdh/index.html
  pr-606/plugins-rhdh-about/index.html
  pr-606/plugins-rhdh-configure/index.html
  pr-606/plugins-rhdh-install/index.html
  pr-606/plugins-rhdh-reference/index.html
  pr-606/plugins-rhdh-troubleshooting/index.html
  pr-606/plugins-rhdh-using/index.html
  pr-606/rel-notes-rhdh/index.html
  pr-606/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: updated release notes (#609)
  assemblies/assembly-release-notes-breaking-changes.adoc
  assemblies/assembly-release-notes-known-issues.adoc
  modules/release-notes/single-source-release-notes.py
  modules/release-notes/snip-known-issue-rhidp-4378.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3074.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

deploy: d0f22d10d4e067c469c937ffdaab41e0dd8049ff
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: update release notes
  assemblies/assembly-release-notes-breaking-changes.adoc
  assemblies/assembly-release-notes-known-issues.adoc
  modules/release-notes/single-source-release-notes.py
  modules/release-notes/snip-cve---common-vulnerabilities-and-exposures-rhidp-3403.adoc
  modules/release-notes/snip-known-issue-rhidp-4378.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3074.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

chore: update release notes (#610)
  assemblies/assembly-release-notes-breaking-changes.adoc
  assemblies/assembly-release-notes-known-issues.adoc
  modules/release-notes/single-source-release-notes.py
  modules/release-notes/snip-cve---common-vulnerabilities-and-exposures-rhidp-3403.adoc
  modules/release-notes/snip-known-issue-rhidp-4378.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3074.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

fix: fixed typo in file name (#606)
  assemblies/assembly-authenticating-with-the-guest-user.adoc
  assemblies/assembly-enabling-authentication.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 02858d4c52851a0cd2a01b753233071dba4421fc
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

fix: fixed typo in file name
  assemblies/assembly-authenticating-with-the-guest-user.adoc
  assemblies/assembly-enabling-authentication.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1b85c83ab34c6f094f170cac2f95194be12e079d
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[release-1.3] fix: fixed typo in file name (#611)
  assemblies/assembly-authenticating-with-the-guest-user.adoc
  assemblies/assembly-enabling-authentication.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 8f21a6689f226dc5b08ca8511a42daa8247cfc37
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-4165: Multiple chapters format in Installation titles
  assemblies/assembly-install-rhdh-aks.adoc
  assemblies/assembly-install-rhdh-eks.adoc
  assemblies/assembly-install-rhdh-ocp.adoc
  titles/install-rhdh-aks/master.adoc
  titles/install-rhdh-eks/master.adoc
  titles/install-rhdh-ocp/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1b85c83ab34c6f094f170cac2f95194be12e079d
  pr-608/admin-rhdh/index.html
  pr-608/authentication/index.html
  pr-608/authorization/index.html
  pr-608/getting-started-rhdh/index.html
  pr-608/install-rhdh-air-gapped/index.html
  pr-608/install-rhdh-aks/index.html
  pr-608/install-rhdh-eks/index.html
  pr-608/install-rhdh-ocp/index.html
  pr-608/install-rhdh-osd-gcp/index.html
  pr-608/plugin-rhdh/index.html
  pr-608/plugins-rhdh-about/index.html
  pr-608/plugins-rhdh-configure/index.html
  pr-608/plugins-rhdh-install/index.html
  pr-608/plugins-rhdh-reference/index.html
  pr-608/plugins-rhdh-troubleshooting/index.html
  pr-608/plugins-rhdh-using/index.html
  pr-608/rel-notes-rhdh/index.html
  pr-608/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Removed unused assemblies
  assemblies/assembly-install-rhdh-aks.adoc
  assemblies/assembly-install-rhdh-eks.adoc
  assemblies/assembly-install-rhdh-ocp.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1b85c83ab34c6f094f170cac2f95194be12e079d
  pr-608/admin-rhdh/index.html
  pr-608/authentication/index.html
  pr-608/authorization/index.html
  pr-608/getting-started-rhdh/index.html
  pr-608/install-rhdh-air-gapped/index.html
  pr-608/install-rhdh-aks/index.html
  pr-608/install-rhdh-eks/index.html
  pr-608/install-rhdh-ocp/index.html
  pr-608/install-rhdh-osd-gcp/index.html
  pr-608/plugin-rhdh/index.html
  pr-608/plugins-rhdh-about/index.html
  pr-608/plugins-rhdh-configure/index.html
  pr-608/plugins-rhdh-install/index.html
  pr-608/plugins-rhdh-reference/index.html
  pr-608/plugins-rhdh-troubleshooting/index.html
  pr-608/plugins-rhdh-using/index.html
  pr-608/rel-notes-rhdh/index.html
  pr-608/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

added description list
  titles/install-rhdh-ocp/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1b85c83ab34c6f094f170cac2f95194be12e079d
  pr-608/admin-rhdh/index.html
  pr-608/authentication/index.html
  pr-608/authorization/index.html
  pr-608/getting-started-rhdh/index.html
  pr-608/install-rhdh-air-gapped/index.html
  pr-608/install-rhdh-aks/index.html
  pr-608/install-rhdh-eks/index.html
  pr-608/install-rhdh-ocp/index.html
  pr-608/install-rhdh-osd-gcp/index.html
  pr-608/plugin-rhdh/index.html
  pr-608/plugins-rhdh-about/index.html
  pr-608/plugins-rhdh-configure/index.html
  pr-608/plugins-rhdh-install/index.html
  pr-608/plugins-rhdh-reference/index.html
  pr-608/plugins-rhdh-troubleshooting/index.html
  pr-608/plugins-rhdh-using/index.html
  pr-608/rel-notes-rhdh/index.html
  pr-608/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Apply suggestions from code review
  modules/authentication/proc-enabling-authentication-with-github.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 1b85c83ab34c6f094f170cac2f95194be12e079d
  pr-604/admin-rhdh/index.html
  pr-604/authentication/index.html
  pr-604/authorization/index.html
  pr-604/getting-started-rhdh/index.html
  pr-604/install-rhdh-air-gapped/index.html
  pr-604/install-rhdh-aks/index.html
  pr-604/install-rhdh-eks/index.html
  pr-604/install-rhdh-ocp/index.html
  pr-604/install-rhdh-osd-gcp/index.html
  pr-604/plugin-rhdh/index.html
  pr-604/plugins-rhdh-about/index.html
  pr-604/plugins-rhdh-configure/index.html
  pr-604/plugins-rhdh-install/index.html
  pr-604/plugins-rhdh-reference/index.html
  pr-604/plugins-rhdh-troubleshooting/index.html
  pr-604/plugins-rhdh-using/index.html
  pr-604/rel-notes-rhdh/index.html
  pr-604/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1b85c83ab34c6f094f170cac2f95194be12e079d
  pr-593/admin-rhdh/index.html
  pr-593/authentication/index.html
  pr-593/authorization/index.html
  pr-593/getting-started-rhdh/index.html
  pr-593/install-rhdh-air-gapped/index.html
  pr-593/install-rhdh-aks/index.html
  pr-593/install-rhdh-eks/index.html
  pr-593/install-rhdh-ocp/index.html
  pr-593/install-rhdh-osd-gcp/index.html
  pr-593/plugin-rhdh/index.html
  pr-593/plugins-rhdh-about/index.html
  pr-593/plugins-rhdh-configure/index.html
  pr-593/plugins-rhdh-install/index.html
  pr-593/plugins-rhdh-reference/index.html
  pr-593/plugins-rhdh-troubleshooting/index.html
  pr-593/plugins-rhdh-using/index.html
  pr-593/rel-notes-rhdh/index.html
  pr-593/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-4165: Multiple chapters format in Installation titles (#608)
  assemblies/assembly-install-rhdh-aks.adoc
  assemblies/assembly-install-rhdh-eks.adoc
  assemblies/assembly-install-rhdh-ocp.adoc
  titles/install-rhdh-aks/master.adoc
  titles/install-rhdh-eks/master.adoc
  titles/install-rhdh-ocp/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 74b012bae12eb893a39eb95f28b72c391b06aa0c
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

added description list
  titles/install-rhdh-ocp/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca
