Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

remove merged PR branches
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Fix: Added archived module (#514)
  archive/proc-customize-rhdh-branding.adoc
  assemblies/assembly-customize-rhdh-theme.adoc
  modules/customization/proc-customize-rhdh-branding-logo.adoc
  modules/customization/proc-customize-rhdh-sidebar-logo.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

Fixed error
  assemblies/assembly-customize-rhdh-theme.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Merging related sections
  assemblies/assembly-customize-rhdh-theme.adoc
  modules/customization/proc-customize-rhdh-branding-logo.adoc
  modules/customization/proc-customize-rhdh-sidebar-logo.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

SME suggestions incorporated
  modules/customization/proc-customize-rhdh-branding-logo.adoc
  modules/customization/proc-customize-rhdh-branding.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

Added archived module
  assemblies/assembly-customize-rhdh-theme.adoc
  modules/customization/proc-customize-rhdh-branding.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

SME review suggestions incorporated
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
Owners: @redhat-developer/rhdh-content, @themr0c, @josephca, @schultzp2020

Fixed links
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
  modules/installation/proc-install-rhdh-osd-gcp-operator.adoc
Owners: @redhat-developer/rhdh-content, @themr0c, @josephca, @schultzp2020

RHIDP-3389: Install and Run RHDH on OSD on GCP
  artifacts/attributes.adoc
  assemblies/assembly-install-rhdh-osd-gcp.adoc
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
  modules/installation/proc-install-rhdh-osd-gcp-operator.adoc
  titles/install-rhdh-osd-gcp/artifacts
  titles/install-rhdh-osd-gcp/assemblies
  titles/install-rhdh-osd-gcp/docinfo.xml
  titles/install-rhdh-osd-gcp/images
  titles/install-rhdh-osd-gcp/master.adoc
  titles/install-rhdh-osd-gcp/modules
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @schultzp2020

Peer review comments
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
  modules/installation/proc-install-rhdh-osd-gcp-operator.adoc
Owners: @redhat-developer/rhdh-content, @themr0c, @josephca, @schultzp2020

deploy: 200840d298d177b9b843c7f657062fca5e3b1ae2
  pr-527/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-527/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-527/admin-rhdh/images/rhdh/operator-install-2.png
  pr-527/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-527/admin-rhdh/images/rhdh/template-editor.png
  pr-527/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-527/admin-rhdh/index.html
  pr-527/authentication/index.html
  pr-527/authorization/index.html
  pr-527/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-527/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-527/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-527/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-527/getting-started-rhdh/index.html
  pr-527/index.html
  pr-527/install-rhdh-air-gapped/index.html
  pr-527/install-rhdh-aks/index.html
  pr-527/install-rhdh-eks/index.html
  pr-527/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-527/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-527/install-rhdh-ocp/index.html
  pr-527/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-527/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-527/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-527/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-527/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-527/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-527/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-527/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-527/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-527/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-527/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-527/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-527/plugin-rhdh/index.html
  pr-527/rel-notes-rhdh/index.html
  pr-527/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-509/admin-rhdh/index.html
  pr-509/authentication/index.html
  pr-509/authorization/index.html
  pr-509/getting-started-rhdh/index.html
  pr-509/install-rhdh-air-gapped/index.html
  pr-509/install-rhdh-aks/index.html
  pr-509/install-rhdh-eks/index.html
  pr-509/install-rhdh-ocp/index.html
  pr-509/install-rhdh-osd-gcp/index.html
  pr-509/plugin-rhdh/index.html
  pr-509/rel-notes-rhdh/index.html
  pr-509/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Peer suggestion
  titles/install-rhdh-osd-gcp/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-509/admin-rhdh/index.html
  pr-509/authentication/index.html
  pr-509/authorization/index.html
  pr-509/getting-started-rhdh/index.html
  pr-509/install-rhdh-air-gapped/index.html
  pr-509/install-rhdh-aks/index.html
  pr-509/install-rhdh-eks/index.html
  pr-509/install-rhdh-ocp/index.html
  pr-509/install-rhdh-osd-gcp/index.html
  pr-509/plugin-rhdh/index.html
  pr-509/rel-notes-rhdh/index.html
  pr-509/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Added archived module
  assemblies/assembly-customize-rhdh-theme.adoc
  modules/customization/proc-customize-rhdh-branding.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

Fixed error
  assemblies/assembly-customize-rhdh-theme.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

SME suggestions incorporated
  modules/customization/proc-customize-rhdh-branding-logo.adoc
  modules/customization/proc-customize-rhdh-branding.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

Merging related sections
  assemblies/assembly-customize-rhdh-theme.adoc
  modules/customization/proc-customize-rhdh-branding-logo.adoc
  modules/customization/proc-customize-rhdh-sidebar-logo.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

deploy: 1e019a98dbecf500def47ca83e8fd813ce3cd89b
  pr-528/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-528/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-528/admin-rhdh/images/rhdh/operator-install-2.png
  pr-528/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-528/admin-rhdh/images/rhdh/template-editor.png
  pr-528/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-528/admin-rhdh/index.html
  pr-528/authentication/index.html
  pr-528/authorization/index.html
  pr-528/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-528/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-528/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-528/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-528/getting-started-rhdh/index.html
  pr-528/index.html
  pr-528/install-rhdh-air-gapped/index.html
  pr-528/install-rhdh-aks/index.html
  pr-528/install-rhdh-eks/index.html
  pr-528/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-528/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-528/install-rhdh-ocp/index.html
  pr-528/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-528/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-528/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-528/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-528/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-528/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-528/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-528/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-528/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-528/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-528/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-528/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-528/plugin-rhdh/index.html
  pr-528/rel-notes-rhdh/index.html
  pr-528/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Modifies the customizing home page
  modules/getting-started/proc-customize-rhdh-homepage.adoc
  modules/getting-started/proc_defining-the-layout-of-the-rhdh-homepage.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: c87343fdbed2153879056937d3d15d76dfcc3378
  pr-528/admin-rhdh/index.html
  pr-528/authentication/index.html
  pr-528/authorization/index.html
  pr-528/getting-started-rhdh/index.html
  pr-528/install-rhdh-air-gapped/index.html
  pr-528/install-rhdh-aks/index.html
  pr-528/install-rhdh-eks/index.html
  pr-528/install-rhdh-ocp/index.html
  pr-528/plugin-rhdh/index.html
  pr-528/rel-notes-rhdh/index.html
  pr-528/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Modifies the customizing home page
  modules/getting-started/proc-customize-rhdh-homepage.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-529/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-529/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-529/admin-rhdh/images/rhdh/operator-install-2.png
  pr-529/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-529/admin-rhdh/images/rhdh/template-editor.png
  pr-529/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-529/admin-rhdh/index.html
  pr-529/authentication/index.html
  pr-529/authorization/index.html
  pr-529/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-529/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-529/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-529/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-529/getting-started-rhdh/index.html
  pr-529/index.html
  pr-529/install-rhdh-air-gapped/index.html
  pr-529/install-rhdh-aks/index.html
  pr-529/install-rhdh-eks/index.html
  pr-529/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-529/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-529/install-rhdh-ocp/index.html
  pr-529/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-529/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-529/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-529/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-529/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-529/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-529/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-529/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-529/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-529/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-529/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-529/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-529/plugin-rhdh/index.html
  pr-529/rel-notes-rhdh/index.html
  pr-529/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Modifies the customizing home page
  modules/getting-started/proc-customize-rhdh-homepage.adoc
  modules/getting-started/proc_defining-the-layout-of-the-rhdh-homepage.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-529/admin-rhdh/index.html
  pr-529/authentication/index.html
  pr-529/authorization/index.html
  pr-529/getting-started-rhdh/index.html
  pr-529/install-rhdh-air-gapped/index.html
  pr-529/install-rhdh-aks/index.html
  pr-529/install-rhdh-eks/index.html
  pr-529/install-rhdh-ocp/index.html
  pr-529/plugin-rhdh/index.html
  pr-529/rel-notes-rhdh/index.html
  pr-529/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Modify the customization home page
  modules/getting-started/proc-customize-rhdh-homepage.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-529/admin-rhdh/index.html
  pr-529/authentication/index.html
  pr-529/authorization/index.html
  pr-529/getting-started-rhdh/index.html
  pr-529/install-rhdh-air-gapped/index.html
  pr-529/install-rhdh-aks/index.html
  pr-529/install-rhdh-eks/index.html
  pr-529/install-rhdh-ocp/index.html
  pr-529/plugin-rhdh/index.html
  pr-529/rel-notes-rhdh/index.html
  pr-529/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

fix typo on region parameter
  modules/getting-started/ref-techdocs-example-config-plugin-helm.adoc
  modules/getting-started/ref-techdocs-example-config-plugin-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 012000b8e92453d6ccd30bc3170a99b9439e1980
  pr-531/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-531/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-531/admin-rhdh/images/rhdh/operator-install-2.png
  pr-531/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-531/admin-rhdh/images/rhdh/template-editor.png
  pr-531/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-531/admin-rhdh/index.html
  pr-531/authentication/index.html
  pr-531/authorization/index.html
  pr-531/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-531/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-531/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-531/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-531/getting-started-rhdh/index.html
  pr-531/index.html
  pr-531/install-rhdh-air-gapped/index.html
  pr-531/install-rhdh-aks/index.html
  pr-531/install-rhdh-eks/index.html
  pr-531/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-531/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-531/install-rhdh-ocp/index.html
  pr-531/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-531/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-531/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-531/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-531/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-531/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-531/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-531/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-531/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-531/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-531/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-531/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-531/plugin-rhdh/index.html
  pr-531/rel-notes-rhdh/index.html
  pr-531/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Fix: Added archived module (#514)
  archive/proc-customize-rhdh-branding.adoc
  assemblies/assembly-customize-rhdh-theme.adoc
  modules/customization/proc-customize-rhdh-branding-logo.adoc
  modules/customization/proc-customize-rhdh-sidebar-logo.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

chore(pr checks): add missing token to the... (#516)
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

chore(branch): create release-1.3 branch from 1.3.x; refactor actions (RHIDP-4031) (#506)
  .github/workflows/build-asciidoc.yml
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

chore: fix pr commenter using set-default;... (#521)
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
