Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

remove merged PR branches
  pr-522/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-522/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-522/admin-rhdh/images/rhdh/operator-install-2.png
  pr-522/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-522/admin-rhdh/images/rhdh/template-editor.png
  pr-522/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-522/admin-rhdh/index.html
  pr-522/authentication/index.html
  pr-522/authorization/index.html
  pr-522/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-522/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-522/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-522/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-522/getting-started-rhdh/index.html
  pr-522/index.html
  pr-522/install-rhdh-air-gapped/index.html
  pr-522/install-rhdh-aks/index.html
  pr-522/install-rhdh-eks/index.html
  pr-522/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-522/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-522/install-rhdh-ocp/index.html
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-522/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-522/plugin-rhdh/index.html
  pr-522/rel-notes-rhdh/index.html
  pr-522/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  pr-519/admin-rhdh/index.html
  pr-519/authentication/index.html
  pr-519/authorization/index.html
  pr-519/getting-started-rhdh/index.html
  pr-519/install-rhdh-air-gapped/index.html
  pr-519/install-rhdh-aks/index.html
  pr-519/install-rhdh-eks/index.html
  pr-519/install-rhdh-ocp/index.html
  pr-519/plugin-rhdh/index.html
  pr-519/rel-notes-rhdh/index.html
  pr-519/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: no-op dummy commit to test RHIDP-4146 from a personal branch
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Revert "chore: no-op dummy commit to test RHIDP-4146 from a personal branch"
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 1ed95d25d0b2fcdcdc51d6a739ccbc0a8d586401
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  pr-519/admin-rhdh/index.html
  pr-519/authentication/index.html
  pr-519/authorization/index.html
  pr-519/getting-started-rhdh/index.html
  pr-519/install-rhdh-air-gapped/index.html
  pr-519/install-rhdh-aks/index.html
  pr-519/install-rhdh-eks/index.html
  pr-519/install-rhdh-ocp/index.html
  pr-519/plugin-rhdh/index.html
  pr-519/rel-notes-rhdh/index.html
  pr-519/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  pr-460/admin-rhdh/index.html
  pr-460/authentication/index.html
  pr-460/authorization/index.html
  pr-460/getting-started-rhdh/index.html
  pr-460/install-rhdh-air-gapped/index.html
  pr-460/install-rhdh-aks/index.html
  pr-460/install-rhdh-eks/index.html
  pr-460/install-rhdh-ocp/index.html
  pr-460/plugin-rhdh/index.html
  pr-460/rel-notes-rhdh/index.html
  pr-460/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

rename 1.3.x to release-1.3
  index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: no op change to test publishing gh-pages from the release-1.3 branch
  artifacts/attributes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: no op change to test publishing gh-pages from the release-1.3 branch (#523)
  artifacts/attributes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: cherrypick changes in main to the release-1.3 branch
  .github/pull_request_template.md
  .github/workflows/build-asciidoc.yml
  .github/workflows/pr.yml
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

chore: cherrypick changes in main to the release-1.3 branch (#524)
  .github/pull_request_template.md
  .github/workflows/build-asciidoc.yml
  .github/workflows/pr.yml
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: c87343fdbed2153879056937d3d15d76dfcc3378
  release-1.3/admin-rhdh/images/rhdh/disabling-telemetry.png
  release-1.3/admin-rhdh/images/rhdh/helm-upgrade.png
  release-1.3/admin-rhdh/images/rhdh/operator-install-2.png
  release-1.3/admin-rhdh/images/rhdh/segment-source-helm.png
  release-1.3/admin-rhdh/images/rhdh/template-editor.png
  release-1.3/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  release-1.3/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  release-1.3/getting-started-rhdh/images/rhdh/operator-install-2.png
  release-1.3/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  release-1.3/getting-started-rhdh/index.html
  release-1.3/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/images/rhdh/operator-install-1.png
  release-1.3/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  release-1.3/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  release-1.3/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  release-1.3/plugin-rhdh/images/rhdh-plugins-reference/link.png
  release-1.3/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  release-1.3/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  release-1.3/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  release-1.3/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  release-1.3/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  release-1.3/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  release-1.3/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  release-1.3/plugin-rhdh/images/rhdh/operator-install-2.png
  release-1.3/plugin-rhdh/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-519/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-519/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-519/admin-rhdh/images/rhdh/operator-install-2.png
  pr-519/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-519/admin-rhdh/images/rhdh/template-editor.png
  pr-519/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-519/admin-rhdh/index.html
  pr-519/authentication/index.html
  pr-519/authorization/index.html
  pr-519/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-519/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-519/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-519/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-519/getting-started-rhdh/index.html
  pr-519/index.html
  pr-519/install-rhdh-air-gapped/index.html
  pr-519/install-rhdh-aks/index.html
  pr-519/install-rhdh-eks/index.html
  pr-519/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-519/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-519/install-rhdh-ocp/index.html
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-519/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-519/plugin-rhdh/index.html
  pr-519/rel-notes-rhdh/index.html
  pr-519/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  pr-525/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-525/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-525/admin-rhdh/images/rhdh/operator-install-2.png
  pr-525/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-525/admin-rhdh/images/rhdh/template-editor.png
  pr-525/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-525/admin-rhdh/index.html
  pr-525/authentication/index.html
  pr-525/authorization/index.html
  pr-525/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-525/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-525/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-525/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-525/getting-started-rhdh/index.html
  pr-525/index.html
  pr-525/install-rhdh-air-gapped/index.html
  pr-525/install-rhdh-aks/index.html
  pr-525/install-rhdh-eks/index.html
  pr-525/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-525/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-525/install-rhdh-ocp/index.html
  pr-525/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-525/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-525/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-525/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-525/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-525/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-525/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-525/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-525/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-525/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-525/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-525/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-525/plugin-rhdh/index.html
  pr-525/rel-notes-rhdh/index.html
  pr-525/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  pr-525/admin-rhdh/index.html
  pr-525/authentication/index.html
  pr-525/authorization/index.html
  pr-525/getting-started-rhdh/index.html
  pr-525/install-rhdh-air-gapped/index.html
  pr-525/install-rhdh-aks/index.html
  pr-525/install-rhdh-eks/index.html
  pr-525/install-rhdh-ocp/index.html
  pr-525/plugin-rhdh/index.html
  pr-525/rel-notes-rhdh/index.html
  pr-525/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  pr-509/admin-rhdh/index.html
  pr-509/authentication/index.html
  pr-509/authorization/index.html
  pr-509/getting-started-rhdh/index.html
  pr-509/install-rhdh-air-gapped/index.html
  pr-509/install-rhdh-aks/index.html
  pr-509/install-rhdh-eks/index.html
  pr-509/install-rhdh-ocp/index.html
  pr-509/install-rhdh-osd-gcp/index.html
  pr-509/plugin-rhdh/index.html
  pr-509/rel-notes-rhdh/index.html
  pr-509/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[RHIDP-1783] Document how to mount the RBAC policy CSV file using the Operator
  modules/admin/con-rbac-config-permission-policies-external-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

Move operator procedure to a dedicated proc file
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
  modules/admin/con-rbac-config-permission-policies-external-file.adoc
  modules/admin/proc-mounting-the-policy-csv-file-using-the-operator.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

Move Helm procedure to a dedicated proc file, for consistency
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
  modules/admin/con-rbac-config-permission-policies-external-file.adoc
  modules/admin/proc-mounting-the-policy-csv-file-using-helm.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

Apply suggestions from code review
  modules/admin/proc-mounting-the-policy-csv-file-using-the-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  pr-499/admin-rhdh/index.html
  pr-499/authentication/index.html
  pr-499/authorization/index.html
  pr-499/getting-started-rhdh/index.html
  pr-499/install-rhdh-air-gapped/index.html
  pr-499/install-rhdh-aks/index.html
  pr-499/install-rhdh-eks/index.html
  pr-499/install-rhdh-ocp/index.html
  pr-499/plugin-rhdh/index.html
  pr-499/rel-notes-rhdh/index.html
  pr-499/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  pr-514/admin-rhdh/index.html
  pr-514/authentication/index.html
  pr-514/authorization/index.html
  pr-514/getting-started-rhdh/index.html
  pr-514/install-rhdh-air-gapped/index.html
  pr-514/install-rhdh-aks/index.html
  pr-514/install-rhdh-eks/index.html
  pr-514/install-rhdh-ocp/index.html
  pr-514/plugin-rhdh/index.html
  pr-514/rel-notes-rhdh/index.html
  pr-514/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Added archived module
  assemblies/assembly-customize-rhdh-theme.adoc
  modules/customization/proc-customize-rhdh-branding.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  pr-514/admin-rhdh/index.html
  pr-514/authentication/index.html
  pr-514/authorization/index.html
  pr-514/getting-started-rhdh/index.html
  pr-514/install-rhdh-air-gapped/index.html
  pr-514/install-rhdh-aks/index.html
  pr-514/install-rhdh-eks/index.html
  pr-514/install-rhdh-ocp/index.html
  pr-514/plugin-rhdh/index.html
  pr-514/rel-notes-rhdh/index.html
  pr-514/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

SME suggestions incorporated
  modules/customization/proc-customize-rhdh-branding-logo.adoc
  modules/customization/proc-customize-rhdh-branding.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

Fixed error
  assemblies/assembly-customize-rhdh-theme.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  pr-514/admin-rhdh/index.html
  pr-514/authentication/index.html
  pr-514/authorization/index.html
  pr-514/getting-started-rhdh/index.html
  pr-514/install-rhdh-air-gapped/index.html
  pr-514/install-rhdh-aks/index.html
  pr-514/install-rhdh-eks/index.html
  pr-514/install-rhdh-ocp/index.html
  pr-514/plugin-rhdh/index.html
  pr-514/rel-notes-rhdh/index.html
  pr-514/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 04c6f929f30ada325a334a3523065b167deb3214
  pr-526/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-526/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-526/admin-rhdh/images/rhdh/operator-install-2.png
  pr-526/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-526/admin-rhdh/images/rhdh/template-editor.png
  pr-526/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-526/admin-rhdh/index.html
  pr-526/authentication/index.html
  pr-526/authorization/index.html
  pr-526/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-526/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-526/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-526/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-526/getting-started-rhdh/index.html
  pr-526/index.html
  pr-526/install-rhdh-air-gapped/index.html
  pr-526/install-rhdh-aks/index.html
  pr-526/install-rhdh-eks/index.html
  pr-526/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-526/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-526/install-rhdh-ocp/index.html
  pr-526/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-526/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-526/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-526/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-526/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-526/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-526/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-526/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-526/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-526/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-526/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-526/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-526/plugin-rhdh/index.html
  pr-526/rel-notes-rhdh/index.html
  pr-526/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 04c6f929f30ada325a334a3523065b167deb3214
  pr-526/admin-rhdh/index.html
  pr-526/authentication/index.html
  pr-526/authorization/index.html
  pr-526/getting-started-rhdh/index.html
  pr-526/install-rhdh-air-gapped/index.html
  pr-526/install-rhdh-aks/index.html
  pr-526/install-rhdh-eks/index.html
  pr-526/install-rhdh-ocp/index.html
  pr-526/plugin-rhdh/index.html
  pr-526/rel-notes-rhdh/index.html
  pr-526/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

added the required attributes
  artifacts/attributes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  pr-490/admin-rhdh/index.html
  pr-490/authentication/index.html
  pr-490/authorization/index.html
  pr-490/getting-started-rhdh/index.html
  pr-490/install-rhdh-air-gapped/index.html
  pr-490/install-rhdh-aks/index.html
  pr-490/install-rhdh-eks/index.html
  pr-490/install-rhdh-ocp/index.html
  pr-490/plugin-rhdh/index.html
  pr-490/rel-notes-rhdh/index.html
  pr-490/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 04c6f929f30ada325a334a3523065b167deb3214
  pr-526/admin-rhdh/index.html
  pr-526/authentication/index.html
  pr-526/authorization/index.html
  pr-526/getting-started-rhdh/index.html
  pr-526/install-rhdh-air-gapped/index.html
  pr-526/install-rhdh-aks/index.html
  pr-526/install-rhdh-eks/index.html
  pr-526/install-rhdh-ocp/index.html
  pr-526/plugin-rhdh/index.html
  pr-526/rel-notes-rhdh/index.html
  pr-526/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  pr-490/admin-rhdh/index.html
  pr-490/authentication/index.html
  pr-490/authorization/index.html
  pr-490/getting-started-rhdh/index.html
  pr-490/install-rhdh-air-gapped/index.html
  pr-490/install-rhdh-aks/index.html
  pr-490/install-rhdh-eks/index.html
  pr-490/install-rhdh-ocp/index.html
  pr-490/plugin-rhdh/index.html
  pr-490/rel-notes-rhdh/index.html
  pr-490/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Merging related sections
  assemblies/assembly-customize-rhdh-theme.adoc
  modules/customization/proc-customize-rhdh-branding-logo.adoc
  modules/customization/proc-customize-rhdh-sidebar-logo.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  pr-514/admin-rhdh/index.html
  pr-514/authentication/index.html
  pr-514/authorization/index.html
  pr-514/getting-started-rhdh/index.html
  pr-514/install-rhdh-air-gapped/index.html
  pr-514/install-rhdh-aks/index.html
  pr-514/install-rhdh-eks/index.html
  pr-514/install-rhdh-ocp/index.html
  pr-514/plugin-rhdh/index.html
  pr-514/rel-notes-rhdh/index.html
  pr-514/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[Manual CP for PR-491 (1.2.x)] added the required attributes - rhidp-3968 (#526)
  artifacts/attributes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 200840d298d177b9b843c7f657062fca5e3b1ae2
  1.2.x/admin-rhdh/index.html
  1.2.x/authentication/index.html
  1.2.x/authorization/index.html
  1.2.x/getting-started-rhdh/index.html
  1.2.x/install-rhdh-air-gapped/index.html
  1.2.x/install-rhdh-aks/index.html
  1.2.x/install-rhdh-eks/index.html
  1.2.x/install-rhdh-ocp/index.html
  1.2.x/plugin-rhdh/index.html
  1.2.x/rel-notes-rhdh/index.html
  1.2.x/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
