Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt

deploy: 08c23f1c1295ee40364415660d4cc60a20ff8c06
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/install-rhdh-osd-gcp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/plugins-rhdh-about/index.html
  pr-492/plugins-rhdh-configure/index.html
  pr-492/plugins-rhdh-install/index.html
  pr-492/plugins-rhdh-reference/index.html
  pr-492/plugins-rhdh-troubleshooting/index.html
  pr-492/plugins-rhdh-using/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-4329 and RHIDP-4331: Deferencing code blocks (#590)
  assemblies/assembly-add-custom-app-file-openshift.adoc
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @schultzp2020

deploy: 08c23f1c1295ee40364415660d4cc60a20ff8c06
  pr-590/admin-rhdh/index.html
  pr-590/authentication/index.html
  pr-590/authorization/index.html
  pr-590/getting-started-rhdh/index.html
  pr-590/install-rhdh-air-gapped/index.html
  pr-590/install-rhdh-aks/index.html
  pr-590/install-rhdh-eks/index.html
  pr-590/install-rhdh-ocp/index.html
  pr-590/install-rhdh-osd-gcp/index.html
  pr-590/plugin-rhdh/index.html
  pr-590/plugins-rhdh-about/index.html
  pr-590/plugins-rhdh-configure/index.html
  pr-590/plugins-rhdh-install/index.html
  pr-590/plugins-rhdh-reference/index.html
  pr-590/plugins-rhdh-troubleshooting/index.html
  pr-590/plugins-rhdh-using/index.html
  pr-590/rel-notes-rhdh/index.html
  pr-590/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: a23c431ef87ade63aad214c422d815f8d7ee0be5
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

added attribute
  assemblies/assembly-add-custom-app-file-openshift.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

added attribute
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
Owners: @redhat-developer/rhdh-content, @themr0c, @josephca, @schultzp2020

[release-1.3] RHIDP-4329 and RHIDP-4331: Deferencing code blocks (#595)
  assemblies/assembly-add-custom-app-file-openshift.adoc
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @schultzp2020

deploy: 27661e2328686226e69f39fd5d6c5aa870b7f376
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: a23c431ef87ade63aad214c422d815f8d7ee0be5
  pr-485/admin-rhdh/index.html
  pr-485/authentication/index.html
  pr-485/authorization/index.html
  pr-485/getting-started-rhdh/index.html
  pr-485/index.html
  pr-485/install-rhdh-aks/index.html
  pr-485/install-rhdh-eks/index.html
  pr-485/install-rhdh-ocp/index.html
  pr-485/install-rhdh-osd-gcp/index.html
  pr-485/plugins-rhdh-about/index.html
  pr-485/plugins-rhdh-configure/index.html
  pr-485/plugins-rhdh-install/images/rhdh/operator-install-2.png
  pr-485/plugins-rhdh-install/index.html
  pr-485/plugins-rhdh-reference/index.html
  pr-485/plugins-rhdh-troubleshooting/index.html
  pr-485/plugins-rhdh-using/images/rhdh-plugins-reference/argocd.png
  pr-485/plugins-rhdh-using/images/rhdh-plugins-reference/deployment_summary.png
  pr-485/plugins-rhdh-using/images/rhdh-plugins-reference/group1.jpg
  pr-485/plugins-rhdh-using/images/rhdh-plugins-reference/link.png
  pr-485/plugins-rhdh-using/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-485/plugins-rhdh-using/images/rhdh-plugins-reference/sidebar.png
  pr-485/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-485/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-485/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user1.png
  pr-485/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user2.png
  pr-485/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user3.png
  pr-485/plugins-rhdh-using/images/rhdh-plugins-reference/user-list.jpg
  pr-485/plugins-rhdh-using/images/rhdh-plugins-reference/user2.jpg
  pr-485/plugins-rhdh-using/images/rhdh-plugins-reference/users.jpg
  pr-485/plugins-rhdh-using/index.html
  pr-485/rel-notes-rhdh/index.html
  pr-485/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

docs: update CVE list
  assemblies/assembly-release-notes-fixed-security-issues.adoc
  build/cve-lists/cve-list-product-1.3.0.txt
  build/cve-lists/cve-list-rpm-1.3.0.txt
  build/scripts/single-source-security-fixes.sh
  modules/release-notes/snip-common-vulnerabilities-and-exposures-product-1.3.0.adoc
  modules/release-notes/snip-common-vulnerabilities-and-exposures-rpm-1.3.0.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @nickboldt

deploy: 27661e2328686226e69f39fd5d6c5aa870b7f376
  pr-596/admin-rhdh/index.html
  pr-596/authentication/index.html
  pr-596/authorization/index.html
  pr-596/getting-started-rhdh/index.html
  pr-596/install-rhdh-air-gapped/index.html
  pr-596/install-rhdh-aks/index.html
  pr-596/install-rhdh-eks/index.html
  pr-596/install-rhdh-ocp/index.html
  pr-596/install-rhdh-osd-gcp/index.html
  pr-596/plugin-rhdh/index.html
  pr-596/plugins-rhdh-about/index.html
  pr-596/plugins-rhdh-configure/index.html
  pr-596/plugins-rhdh-install/index.html
  pr-596/plugins-rhdh-reference/index.html
  pr-596/plugins-rhdh-troubleshooting/index.html
  pr-596/plugins-rhdh-using/index.html
  pr-596/rel-notes-rhdh/index.html
  pr-596/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 27661e2328686226e69f39fd5d6c5aa870b7f376
  pr-596/admin-rhdh/index.html
  pr-596/authentication/index.html
  pr-596/authorization/index.html
  pr-596/getting-started-rhdh/index.html
  pr-596/install-rhdh-air-gapped/index.html
  pr-596/install-rhdh-aks/index.html
  pr-596/install-rhdh-eks/index.html
  pr-596/install-rhdh-ocp/index.html
  pr-596/install-rhdh-osd-gcp/index.html
  pr-596/plugin-rhdh/index.html
  pr-596/plugins-rhdh-about/index.html
  pr-596/plugins-rhdh-configure/index.html
  pr-596/plugins-rhdh-install/index.html
  pr-596/plugins-rhdh-reference/index.html
  pr-596/plugins-rhdh-troubleshooting/index.html
  pr-596/plugins-rhdh-using/index.html
  pr-596/rel-notes-rhdh/index.html
  pr-596/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 27661e2328686226e69f39fd5d6c5aa870b7f376
  pr-596/admin-rhdh/index.html
  pr-596/authentication/index.html
  pr-596/authorization/index.html
  pr-596/getting-started-rhdh/index.html
  pr-596/install-rhdh-air-gapped/index.html
  pr-596/install-rhdh-aks/index.html
  pr-596/install-rhdh-eks/index.html
  pr-596/install-rhdh-ocp/index.html
  pr-596/install-rhdh-osd-gcp/index.html
  pr-596/plugin-rhdh/index.html
  pr-596/plugins-rhdh-about/index.html
  pr-596/plugins-rhdh-configure/index.html
  pr-596/plugins-rhdh-install/index.html
  pr-596/plugins-rhdh-reference/index.html
  pr-596/plugins-rhdh-troubleshooting/index.html
  pr-596/plugins-rhdh-using/index.html
  pr-596/rel-notes-rhdh/index.html
  pr-596/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: applied suggestions
  modules/release-notes/cve-list-product-1.3.0.txt
  modules/release-notes/cve-list-rpm-1.3.0.txt
  modules/release-notes/single-source-fixed-security-issues.sh
  modules/release-notes/snip-fixed-security-issues-in-product-1.3.0.adoc
  modules/release-notes/snip-fixed-security-issues-in-rpm-1.3.0.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

simplify
  modules/release-notes/list-fixed-security-issues-in-product-1.3.0.txt
  modules/release-notes/list-fixed-security-issues-in-rpm-1.3.0.txt
  modules/release-notes/single-source-fixed-security-issues.sh
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

simplify
  modules/release-notes/single-source-fixed-security-issues.sh
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

document
  modules/release-notes/single-source-fixed-security-issues.sh
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

Update modules/release-notes/single-source-fixed-security-issues.sh
  modules/release-notes/single-source-fixed-security-issues.sh
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

Update assemblies/assembly-release-notes-fixed-security-issues.adoc
  assemblies/assembly-release-notes-fixed-security-issues.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update assemblies/assembly-release-notes-fixed-security-issues.adoc
  assemblies/assembly-release-notes-fixed-security-issues.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 27661e2328686226e69f39fd5d6c5aa870b7f376
  pr-596/admin-rhdh/index.html
  pr-596/authentication/index.html
  pr-596/authorization/index.html
  pr-596/getting-started-rhdh/index.html
  pr-596/install-rhdh-air-gapped/index.html
  pr-596/install-rhdh-aks/index.html
  pr-596/install-rhdh-eks/index.html
  pr-596/install-rhdh-ocp/index.html
  pr-596/install-rhdh-osd-gcp/index.html
  pr-596/plugin-rhdh/index.html
  pr-596/plugins-rhdh-about/index.html
  pr-596/plugins-rhdh-configure/index.html
  pr-596/plugins-rhdh-install/index.html
  pr-596/plugins-rhdh-reference/index.html
  pr-596/plugins-rhdh-troubleshooting/index.html
  pr-596/plugins-rhdh-using/index.html
  pr-596/rel-notes-rhdh/index.html
  pr-596/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

docs: update CVE list (#596)
  assemblies/assembly-release-notes-fixed-security-issues.adoc
  build/scripts/single-source-security-fixes.sh
  modules/release-notes/list-fixed-security-issues-in-product-1.3.0.txt
  modules/release-notes/list-fixed-security-issues-in-rpm-1.3.0.txt
  modules/release-notes/single-source-fixed-security-issues.sh
  modules/release-notes/snip-fixed-security-issues-in-product-1.3.0.adoc
  modules/release-notes/snip-fixed-security-issues-in-rpm-1.3.0.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @nickboldt

deploy: 2a5051ebc59a6ff2de98698fa507da7759adb8da
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Apply suggestions from code review
  assemblies/assembly-authenticating-with-rhsso.adoc
  modules/authentication/proc-enabling-authentication-with-rhsso.adoc
  modules/authentication/proc-provisioning-users-from-rhsso-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @hmanwani-rh, @themr0c, @kim-tsao, @JessicaJHee, @04kash

deploy: a23c431ef87ade63aad214c422d815f8d7ee0be5
  pr-480/admin-rhdh/index.html
  pr-480/authentication/index.html
  pr-480/authorization/index.html
  pr-480/getting-started-rhdh/index.html
  pr-480/install-rhdh-air-gapped/index.html
  pr-480/install-rhdh-aks/index.html
  pr-480/install-rhdh-eks/index.html
  pr-480/install-rhdh-ocp/index.html
  pr-480/install-rhdh-osd-gcp/index.html
  pr-480/plugin-rhdh/index.html
  pr-480/plugins-rhdh-about/index.html
  pr-480/plugins-rhdh-configure/index.html
  pr-480/plugins-rhdh-install/index.html
  pr-480/plugins-rhdh-reference/index.html
  pr-480/plugins-rhdh-troubleshooting/index.html
  pr-480/plugins-rhdh-using/index.html
  pr-480/rel-notes-rhdh/index.html
  pr-480/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3878 Authenticating with RHSSO (#480)
  assemblies/assembly-auth-provider-oidc.adoc
  assemblies/assembly-authenticating-with-rhsso.adoc
  assemblies/assembly-enabling-authentication.adoc
  modules/authentication/proc-enabling-authentication-with-rhsso.adoc
  modules/authentication/proc-provisioning-users-from-rhsso-to-the-software-catalog.adoc
  modules/getting-started/con-oidc-overview.adoc
  modules/getting-started/proc-configuring-keycloak-with-oidc.adoc
  modules/getting-started/proc-migrating-oauth2-proxy-to-oidc.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @hmanwani-rh, @themr0c, @kim-tsao, @JessicaJHee, @04kash, @schultzp2020

deploy: 7fe92faaad99b5f866ddfb9206139bb40feaba63
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3878 Authenticating with RHSSO (#480)
  assemblies/assembly-auth-provider-oidc.adoc
  assemblies/assembly-authenticating-with-rhsso.adoc
  assemblies/assembly-enabling-authentication.adoc
  modules/authentication/proc-enabling-authentication-with-rhsso.adoc
  modules/authentication/proc-provisioning-users-from-rhsso-to-the-software-catalog.adoc
  modules/getting-started/con-oidc-overview.adoc
  modules/getting-started/proc-configuring-keycloak-with-oidc.adoc
  modules/getting-started/proc-migrating-oauth2-proxy-to-oidc.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @hmanwani-rh, @themr0c, @kim-tsao, @JessicaJHee, @04kash, @schultzp2020

RHIDP-3878 Authenticating with RHSSO (#480) (#597)
  assemblies/assembly-auth-provider-oidc.adoc
  assemblies/assembly-authenticating-with-rhsso.adoc
  assemblies/assembly-enabling-authentication.adoc
  modules/authentication/proc-enabling-authentication-with-rhsso.adoc
  modules/authentication/proc-provisioning-users-from-rhsso-to-the-software-catalog.adoc
  modules/getting-started/con-oidc-overview.adoc
  modules/getting-started/proc-configuring-keycloak-with-oidc.adoc
  modules/getting-started/proc-migrating-oauth2-proxy-to-oidc.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @hmanwani-rh, @themr0c, @kim-tsao, @JessicaJHee, @04kash, @schultzp2020

deploy: eb7f63f93d27371f267d2d62afa3b68bda98880c
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Apply suggestions from code review
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 7fe92faaad99b5f866ddfb9206139bb40feaba63
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/install-rhdh-osd-gcp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/plugins-rhdh-about/index.html
  pr-492/plugins-rhdh-configure/index.html
  pr-492/plugins-rhdh-install/index.html
  pr-492/plugins-rhdh-reference/index.html
  pr-492/plugins-rhdh-troubleshooting/index.html
  pr-492/plugins-rhdh-using/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 7fe92faaad99b5f866ddfb9206139bb40feaba63
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/install-rhdh-osd-gcp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/plugins-rhdh-about/index.html
  pr-492/plugins-rhdh-configure/index.html
  pr-492/plugins-rhdh-install/index.html
  pr-492/plugins-rhdh-reference/index.html
  pr-492/plugins-rhdh-troubleshooting/index.html
  pr-492/plugins-rhdh-using/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 7fe92faaad99b5f866ddfb9206139bb40feaba63
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/install-rhdh-osd-gcp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/plugins-rhdh-about/index.html
  pr-492/plugins-rhdh-configure/index.html
  pr-492/plugins-rhdh-install/index.html
  pr-492/plugins-rhdh-reference/index.html
  pr-492/plugins-rhdh-troubleshooting/index.html
  pr-492/plugins-rhdh-using/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 7fe92faaad99b5f866ddfb9206139bb40feaba63
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/install-rhdh-osd-gcp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/plugins-rhdh-about/index.html
  pr-492/plugins-rhdh-configure/index.html
  pr-492/plugins-rhdh-install/index.html
  pr-492/plugins-rhdh-reference/index.html
  pr-492/plugins-rhdh-troubleshooting/index.html
  pr-492/plugins-rhdh-using/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3970 - Authentication - Authenticating with Microsoft Azure (#492)
  artifacts/attributes.adoc
  assemblies/assembly-authenticating-with-microsoft-azure.adoc
  assemblies/assembly-enabling-authentication.adoc
  modules/auth/proc-adding-azure-as-an-authentication-provider.adoc
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @hmanwani-rh, @themr0c, @schultzp2020, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash

deploy: bda72aded2d53615c6ecfdc4db70649e08e27d13
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3970 - Authentication - Authenticating with Microsoft Azure (#492)
  artifacts/attributes.adoc
  assemblies/assembly-authenticating-with-microsoft-azure.adoc
  assemblies/assembly-enabling-authentication.adoc
  modules/auth/proc-adding-azure-as-an-authentication-provider.adoc
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @hmanwani-rh, @themr0c, @schultzp2020, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash
