Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt

RHIDP-4165: Multiple chapters format in Installation titles
  assemblies/assembly-install-rhdh-aks.adoc
  assemblies/assembly-install-rhdh-eks.adoc
  assemblies/assembly-install-rhdh-ocp.adoc
  titles/install-rhdh-aks/master.adoc
  titles/install-rhdh-eks/master.adoc
  titles/install-rhdh-ocp/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Removed unused assemblies
  assemblies/assembly-install-rhdh-aks.adoc
  assemblies/assembly-install-rhdh-eks.adoc
  assemblies/assembly-install-rhdh-ocp.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[release-1.3] RHIDP-4165: Multiple chapters format in Installation titles (#612)
  assemblies/assembly-install-rhdh-aks.adoc
  assemblies/assembly-install-rhdh-eks.adoc
  assemblies/assembly-install-rhdh-ocp.adoc
  titles/install-rhdh-aks/master.adoc
  titles/install-rhdh-eks/master.adoc
  titles/install-rhdh-ocp/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 81351bd108114cd2c803ff1997fa0e8bdd95de07
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Apply suggestions from code review
  modules/authentication/proc-enabling-authentication-with-github.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 74b012bae12eb893a39eb95f28b72c391b06aa0c
  pr-604/admin-rhdh/index.html
  pr-604/authentication/index.html
  pr-604/authorization/index.html
  pr-604/getting-started-rhdh/index.html
  pr-604/install-rhdh-air-gapped/index.html
  pr-604/install-rhdh-aks/index.html
  pr-604/install-rhdh-eks/index.html
  pr-604/install-rhdh-ocp/index.html
  pr-604/install-rhdh-osd-gcp/index.html
  pr-604/plugin-rhdh/index.html
  pr-604/plugins-rhdh-about/index.html
  pr-604/plugins-rhdh-configure/index.html
  pr-604/plugins-rhdh-install/index.html
  pr-604/plugins-rhdh-reference/index.html
  pr-604/plugins-rhdh-troubleshooting/index.html
  pr-604/plugins-rhdh-using/index.html
  pr-604/rel-notes-rhdh/index.html
  pr-604/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Apply suggestions from code review
  modules/authentication/proc-enabling-authentication-with-github.adoc
  modules/authentication/proc-provisioning-users-from-github-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 74b012bae12eb893a39eb95f28b72c391b06aa0c
  pr-604/admin-rhdh/index.html
  pr-604/authentication/index.html
  pr-604/authorization/index.html
  pr-604/getting-started-rhdh/index.html
  pr-604/install-rhdh-air-gapped/index.html
  pr-604/install-rhdh-aks/index.html
  pr-604/install-rhdh-eks/index.html
  pr-604/install-rhdh-ocp/index.html
  pr-604/install-rhdh-osd-gcp/index.html
  pr-604/plugin-rhdh/index.html
  pr-604/plugins-rhdh-about/index.html
  pr-604/plugins-rhdh-configure/index.html
  pr-604/plugins-rhdh-install/index.html
  pr-604/plugins-rhdh-reference/index.html
  pr-604/plugins-rhdh-troubleshooting/index.html
  pr-604/plugins-rhdh-using/index.html
  pr-604/rel-notes-rhdh/index.html
  pr-604/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 74b012bae12eb893a39eb95f28b72c391b06aa0c
  pr-604/admin-rhdh/index.html
  pr-604/authentication/index.html
  pr-604/authorization/index.html
  pr-604/getting-started-rhdh/index.html
  pr-604/install-rhdh-air-gapped/index.html
  pr-604/install-rhdh-aks/index.html
  pr-604/install-rhdh-eks/index.html
  pr-604/install-rhdh-ocp/index.html
  pr-604/install-rhdh-osd-gcp/index.html
  pr-604/plugin-rhdh/index.html
  pr-604/plugins-rhdh-about/index.html
  pr-604/plugins-rhdh-configure/index.html
  pr-604/plugins-rhdh-install/index.html
  pr-604/plugins-rhdh-reference/index.html
  pr-604/plugins-rhdh-troubleshooting/index.html
  pr-604/plugins-rhdh-using/index.html
  pr-604/rel-notes-rhdh/index.html
  pr-604/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3969 Authenticating with GitHub (#604)
  assemblies/assembly-auth-provider-github.adoc
  assemblies/assembly-authenticating-with-github.adoc
  assemblies/assembly-enabling-authentication.adoc
  modules/authentication/proc-enabling-authentication-with-github.adoc
  modules/authentication/proc-provisioning-users-from-github-to-the-software-catalog.adoc
  modules/getting-started/con-github-app-overview.adoc
  modules/getting-started/proc-adding-github-to-frontend.adoc
  modules/getting-started/proc-configuring-github-app.adoc
  modules/getting-started/proc-registering-github-app.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @hmanwani-rh, @themr0c, @kim-tsao, @JessicaJHee, @04kash, @schultzp2020

deploy: cf87cdaab8cd3dfa2600aa2f1f4e89f3d2fe5e8b
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca
