Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

release notes update
  modules/release-notes/snip-enhancement-rhidp-2790.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  assemblies/assembly-release-notes-known-issues.adoc
  modules/release-notes/snip-bug-fix-rhidp-2412.adoc
  modules/release-notes/snip-known-issue-rhidp-4067.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  modules/release-notes/snip-known-issue-rhidp-4069.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  modules/release-notes/snip-bug-fix-rhidp-2716.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  modules/release-notes/snip-removed-functionality-rhidp-2847.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  assemblies/assembly-release-notes-known-issues.adoc
  modules/release-notes/snip-known-issue-rhidp-4069.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  modules/release-notes/snip-bug-fix-rhidp-2716.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  modules/release-notes/snip-bug-fix-rhidp-4046.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  modules/release-notes/snip-deprecated-functionality-rhidp-1138.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  assemblies/assembly-release-notes-known-issues.adoc
  jira2asciidoc.yml
  modules/release-notes/snip-known-issue-rhidp-3931.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  modules/release-notes/snip-deprecated-functionality-rhidp-1138.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  modules/release-notes/con-release-notes-overview.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  modules/release-notes/snip-bug-fix-rhidp-2374.adoc
  modules/release-notes/snip-enhancement-rhidp-2615.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2796.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  assemblies/assembly-release-notes-breaking-changes.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2794.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2796.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2847.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-feature-rhidp-2907.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  modules/release-notes/snip-bug-fix-rhidp-1334.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  modules/release-notes/snip-deprecated-functionality-rhidp-1138.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  modules/release-notes/con-release-notes-overview.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  assemblies/assembly-release-notes-fixed-security-issues.adoc
  modules/release-notes/snip-cve---common-vulnerabilities-and-exposures-rhidp-3403.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-feature-rhidp-2865.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  jira2asciidoc.yml
  modules/release-notes/snip-deprecated-functionality-rhidp-1138.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2794.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2796.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2847.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3048.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
  modules/release-notes/snip-technology-preview-rhidp-1397.adoc
  modules/release-notes/snip-technology-preview-rhidp-3713.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  modules/release-notes/snip-bug-fix-rhidp-2716.adoc
  modules/release-notes/snip-enhancement-rhidp-2818.adoc
  titles/rel-notes-rhdh/title-rhdh-release-notes.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-enhancement-rhidp-2790.adoc
  modules/release-notes/snip-enhancement-rhidp-2818.adoc
  modules/release-notes/snip-feature-rhidp-2643.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-breaking-changes.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  modules/release-notes/snip-bug-fix-rhidp-2728.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  modules/release-notes/snip-removed-functionality-rhidp-2794.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  assemblies/assembly-release-notes-breaking-changes.adoc
  modules/release-notes/snip-enhancement-rhidp-2790.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2794.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  modules/release-notes/snip-known-issue-rhidp-3931.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  jira2asciidoc.yml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  modules/release-notes/snip-deprecated-functionality-rhidp-1138.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  modules/release-notes/snip-known-issue-rhidp-4069.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  modules/release-notes/snip-known-issue-rhidp-4069.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

update version
  artifacts/attributes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  modules/release-notes/snip-deprecated-functionality-rhidp-1138.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 7f30c83566f6bde1fa7dda71c8c07d0b91d511c0
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-plugins-1-3 Add congigure files
  artifacts/rhdh-plugins-reference/argocd/argocd-plugin-admin.adoc
  artifacts/rhdh-plugins-reference/keycloak/keycloak-plugin-admin.adoc
  artifacts/rhdh-plugins-reference/nexus-repository-manager/nexus-repository-manager-plugin-admin.adoc
  artifacts/rhdh-plugins-reference/tekton/tekton-plugin-admin.adoc
  assemblies/dynamic-plugins/assembly-configuring-rhdh-plugins.adoc
  modules/dynamic-plugins/con-ansible-plugin-admin.adoc
  modules/dynamic-plugins/con-dynamic-plugins-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
  modules/dynamic-plugins/proc-topology-configure.adoc
  modules/dynamic-plugins/proc-topology-install.adoc
  titles/plugins-rhdh-configure/docinfo.xml
  titles/plugins-rhdh-configure/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: 7f30c83566f6bde1fa7dda71c8c07d0b91d511c0
  pr-568/admin-rhdh/index.html
  pr-568/authentication/index.html
  pr-568/authorization/index.html
  pr-568/getting-started-rhdh/index.html
  pr-568/install-rhdh-air-gapped/index.html
  pr-568/install-rhdh-aks/index.html
  pr-568/install-rhdh-eks/index.html
  pr-568/install-rhdh-ocp/index.html
  pr-568/install-rhdh-osd-gcp/index.html
  pr-568/plugin-rhdh/index.html
  pr-568/plugins-rhdh-about/index.html
  pr-568/plugins-rhdh-configure/index.html
  pr-568/plugins-rhdh-install/index.html
  pr-568/plugins-rhdh-reference/index.html
  pr-568/plugins-rhdh-troubleshooting/index.html
  pr-568/plugins-rhdh-using/index.html
  pr-568/rel-notes-rhdh/index.html
  pr-568/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-plugins-1-3 Add congigure files (#568)
  artifacts/rhdh-plugins-reference/argocd/argocd-plugin-admin.adoc
  artifacts/rhdh-plugins-reference/keycloak/keycloak-plugin-admin.adoc
  artifacts/rhdh-plugins-reference/nexus-repository-manager/nexus-repository-manager-plugin-admin.adoc
  artifacts/rhdh-plugins-reference/tekton/tekton-plugin-admin.adoc
  assemblies/dynamic-plugins/assembly-configuring-rhdh-plugins.adoc
  modules/dynamic-plugins/con-ansible-plugin-admin.adoc
  modules/dynamic-plugins/con-dynamic-plugins-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
  modules/dynamic-plugins/proc-topology-configure.adoc
  modules/dynamic-plugins/proc-topology-install.adoc
  titles/plugins-rhdh-configure/docinfo.xml
  titles/plugins-rhdh-configure/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: 021cb596b5611ac2dadc963b608f879e831aea94
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(broken link): fix link to https://github.com/janus-idp/backstage-showcase/blob/main/docs/auth.md#enabling-authentication-in-showcase RHIDP-4294
  modules/getting-started/proc-adding-github-to-frontend.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
