Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

deploy: 72371a6b09123474242f4fa93e4a548da425db13
  pr-509/admin-rhdh/index.html
  pr-509/authentication/index.html
  pr-509/authorization/index.html
  pr-509/getting-started-rhdh/index.html
  pr-509/install-rhdh-air-gapped/index.html
  pr-509/install-rhdh-aks/index.html
  pr-509/install-rhdh-eks/index.html
  pr-509/install-rhdh-ocp/index.html
  pr-509/install-rhdh-osd-gcp/index.html
  pr-509/plugin-rhdh/index.html
  pr-509/rel-notes-rhdh/index.html
  pr-509/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

no-op change to verify PR preview works
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 72371a6b09123474242f4fa93e4a548da425db13
  pr-517/admin-rhdh/index.html
  pr-517/authentication/index.html
  pr-517/authorization/index.html
  pr-517/getting-started-rhdh/index.html
  pr-517/install-rhdh-air-gapped/index.html
  pr-517/install-rhdh-aks/index.html
  pr-517/install-rhdh-eks/index.html
  pr-517/install-rhdh-ocp/index.html
  pr-517/plugin-rhdh/index.html
  pr-517/rel-notes-rhdh/index.html
  pr-517/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 72371a6b09123474242f4fa93e4a548da425db13
  pr-499/admin-rhdh/index.html
  pr-499/authentication/index.html
  pr-499/authorization/index.html
  pr-499/getting-started-rhdh/index.html
  pr-499/install-rhdh-air-gapped/index.html
  pr-499/install-rhdh-aks/index.html
  pr-499/install-rhdh-eks/index.html
  pr-499/install-rhdh-ocp/index.html
  pr-499/plugin-rhdh/index.html
  pr-499/rel-notes-rhdh/index.html
  pr-499/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(regen table): remove obsolete content
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

chore(plugins): regen table (#517)
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 1ed95d25d0b2fcdcdc51d6a739ccbc0a8d586401
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(regen table): remove obsolete... (#518)
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

remove merged PR branches
  pr-517/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-517/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-517/admin-rhdh/images/rhdh/operator-install-2.png
  pr-517/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-517/admin-rhdh/images/rhdh/template-editor.png
  pr-517/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-517/admin-rhdh/index.html
  pr-517/authentication/index.html
  pr-517/authorization/index.html
  pr-517/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-517/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-517/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-517/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-517/getting-started-rhdh/index.html
  pr-517/index.html
  pr-517/install-rhdh-air-gapped/index.html
  pr-517/install-rhdh-aks/index.html
  pr-517/install-rhdh-eks/index.html
  pr-517/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-517/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-517/install-rhdh-ocp/index.html
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-517/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-517/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-517/plugin-rhdh/index.html
  pr-517/rel-notes-rhdh/index.html
  pr-517/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1ed95d25d0b2fcdcdc51d6a739ccbc0a8d586401
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1ed95d25d0b2fcdcdc51d6a739ccbc0a8d586401
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1ed95d25d0b2fcdcdc51d6a739ccbc0a8d586401
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1ed95d25d0b2fcdcdc51d6a739ccbc0a8d586401
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1ed95d25d0b2fcdcdc51d6a739ccbc0a8d586401
  pr-485/admin-rhdh/index.html
  pr-485/authentication/index.html
  pr-485/authorization/index.html
  pr-485/getting-started-rhdh/index.html
  pr-485/install-rhdh-air-gapped/index.html
  pr-485/install-rhdh-aks/index.html
  pr-485/install-rhdh-eks/index.html
  pr-485/install-rhdh-ocp/index.html
  pr-485/plugin-rhdh/index.html
  pr-485/rel-notes-rhdh/index.html
  pr-485/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1ed95d25d0b2fcdcdc51d6a739ccbc0a8d586401
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1ed95d25d0b2fcdcdc51d6a739ccbc0a8d586401
  pr-499/admin-rhdh/index.html
  pr-499/authentication/index.html
  pr-499/authorization/index.html
  pr-499/getting-started-rhdh/index.html
  pr-499/install-rhdh-air-gapped/index.html
  pr-499/install-rhdh-aks/index.html
  pr-499/install-rhdh-eks/index.html
  pr-499/install-rhdh-ocp/index.html
  pr-499/plugin-rhdh/index.html
  pr-499/rel-notes-rhdh/index.html
  pr-499/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1ed95d25d0b2fcdcdc51d6a739ccbc0a8d586401
  pr-519/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-519/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-519/admin-rhdh/images/rhdh/operator-install-2.png
  pr-519/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-519/admin-rhdh/images/rhdh/template-editor.png
  pr-519/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-519/admin-rhdh/index.html
  pr-519/authentication/index.html
  pr-519/authorization/index.html
  pr-519/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-519/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-519/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-519/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-519/getting-started-rhdh/index.html
  pr-519/index.html
  pr-519/install-rhdh-air-gapped/index.html
  pr-519/install-rhdh-aks/index.html
  pr-519/install-rhdh-eks/index.html
  pr-519/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-519/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-519/install-rhdh-ocp/index.html
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-519/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-519/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-519/plugin-rhdh/index.html
  pr-519/rel-notes-rhdh/index.html
  pr-519/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1ed95d25d0b2fcdcdc51d6a739ccbc0a8d586401
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

replace local references to owner/repo with github.repository_owner and github.event.repository.name; if this doesn't work from forks, then we can hardcode the values
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

deploy: 1ed95d25d0b2fcdcdc51d6a739ccbc0a8d586401
  pr-520/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-520/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-520/admin-rhdh/images/rhdh/operator-install-2.png
  pr-520/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-520/admin-rhdh/images/rhdh/template-editor.png
  pr-520/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-520/admin-rhdh/index.html
  pr-520/authentication/index.html
  pr-520/authorization/index.html
  pr-520/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-520/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-520/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-520/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-520/getting-started-rhdh/index.html
  pr-520/index.html
  pr-520/install-rhdh-air-gapped/index.html
  pr-520/install-rhdh-aks/index.html
  pr-520/install-rhdh-eks/index.html
  pr-520/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-520/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-520/install-rhdh-ocp/index.html
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-520/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-520/plugin-rhdh/index.html
  pr-520/rel-notes-rhdh/index.html
  pr-520/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

also fix paths to include release-1.*
  .github/workflows/build-asciidoc.yml
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

chore: replace local references to owner/repo (#520)
  .github/workflows/build-asciidoc.yml
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

deploy: 350c3507333ae98e4ec424d87b4683874d517917
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-520/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-520/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-520/admin-rhdh/images/rhdh/operator-install-2.png
  pr-520/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-520/admin-rhdh/images/rhdh/template-editor.png
  pr-520/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-520/admin-rhdh/index.html
  pr-520/authentication/index.html
  pr-520/authorization/index.html
  pr-520/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-520/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-520/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-520/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-520/getting-started-rhdh/index.html
  pr-520/index.html
  pr-520/install-rhdh-air-gapped/index.html
  pr-520/install-rhdh-aks/index.html
  pr-520/install-rhdh-eks/index.html
  pr-520/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-520/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-520/install-rhdh-ocp/index.html
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-520/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-520/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-520/plugin-rhdh/index.html
  pr-520/rel-notes-rhdh/index.html
  pr-520/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 350c3507333ae98e4ec424d87b4683874d517917
  pr-519/admin-rhdh/index.html
  pr-519/authentication/index.html
  pr-519/authorization/index.html
  pr-519/getting-started-rhdh/index.html
  pr-519/install-rhdh-air-gapped/index.html
  pr-519/install-rhdh-aks/index.html
  pr-519/install-rhdh-eks/index.html
  pr-519/install-rhdh-ocp/index.html
  pr-519/plugin-rhdh/index.html
  pr-519/rel-notes-rhdh/index.html
  pr-519/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 350c3507333ae98e4ec424d87b4683874d517917
  pr-519/admin-rhdh/index.html
  pr-519/authentication/index.html
  pr-519/authorization/index.html
  pr-519/getting-started-rhdh/index.html
  pr-519/install-rhdh-air-gapped/index.html
  pr-519/install-rhdh-aks/index.html
  pr-519/install-rhdh-eks/index.html
  pr-519/install-rhdh-ocp/index.html
  pr-519/plugin-rhdh/index.html
  pr-519/rel-notes-rhdh/index.html
  pr-519/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 350c3507333ae98e4ec424d87b4683874d517917
  pr-519/admin-rhdh/index.html
  pr-519/authentication/index.html
  pr-519/authorization/index.html
  pr-519/getting-started-rhdh/index.html
  pr-519/install-rhdh-air-gapped/index.html
  pr-519/install-rhdh-aks/index.html
  pr-519/install-rhdh-eks/index.html
  pr-519/install-rhdh-ocp/index.html
  pr-519/plugin-rhdh/index.html
  pr-519/rel-notes-rhdh/index.html
  pr-519/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: fix pr commenter using set-default; also switch to @cdaley's faster query
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

deploy: 350c3507333ae98e4ec424d87b4683874d517917
  pr-521/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-521/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-521/admin-rhdh/images/rhdh/operator-install-2.png
  pr-521/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-521/admin-rhdh/images/rhdh/template-editor.png
  pr-521/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-521/admin-rhdh/index.html
  pr-521/authentication/index.html
  pr-521/authorization/index.html
  pr-521/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-521/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-521/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-521/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-521/getting-started-rhdh/index.html
  pr-521/index.html
  pr-521/install-rhdh-air-gapped/index.html
  pr-521/install-rhdh-aks/index.html
  pr-521/install-rhdh-eks/index.html
  pr-521/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-521/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-521/install-rhdh-ocp/index.html
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-521/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-521/plugin-rhdh/index.html
  pr-521/rel-notes-rhdh/index.html
  pr-521/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

explicitly run PR comment comand in the specific repo
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

deploy: 350c3507333ae98e4ec424d87b4683874d517917
  pr-521/admin-rhdh/index.html
  pr-521/authentication/index.html
  pr-521/authorization/index.html
  pr-521/getting-started-rhdh/index.html
  pr-521/install-rhdh-air-gapped/index.html
  pr-521/install-rhdh-aks/index.html
  pr-521/install-rhdh-eks/index.html
  pr-521/install-rhdh-ocp/index.html
  pr-521/plugin-rhdh/index.html
  pr-521/rel-notes-rhdh/index.html
  pr-521/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: fix pr commenter using set-default;... (#521)
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

deploy: 1897d1b3a66be312d08bbff95e5878fcdbb55e27
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-521/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-521/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-521/admin-rhdh/images/rhdh/operator-install-2.png
  pr-521/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-521/admin-rhdh/images/rhdh/template-editor.png
  pr-521/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-521/admin-rhdh/index.html
  pr-521/authentication/index.html
  pr-521/authorization/index.html
  pr-521/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-521/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-521/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-521/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-521/getting-started-rhdh/index.html
  pr-521/index.html
  pr-521/install-rhdh-air-gapped/index.html
  pr-521/install-rhdh-aks/index.html
  pr-521/install-rhdh-eks/index.html
  pr-521/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-521/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-521/install-rhdh-ocp/index.html
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-521/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-521/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-521/plugin-rhdh/index.html
  pr-521/rel-notes-rhdh/index.html
  pr-521/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 1897d1b3a66be312d08bbff95e5878fcdbb55e27
  pr-519/admin-rhdh/index.html
  pr-519/authentication/index.html
  pr-519/authorization/index.html
  pr-519/getting-started-rhdh/index.html
  pr-519/install-rhdh-air-gapped/index.html
  pr-519/install-rhdh-aks/index.html
  pr-519/install-rhdh-eks/index.html
  pr-519/install-rhdh-ocp/index.html
  pr-519/plugin-rhdh/index.html
  pr-519/rel-notes-rhdh/index.html
  pr-519/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 72371a6b09123474242f4fa93e4a548da425db13
  pr-514/admin-rhdh/index.html
  pr-514/authentication/index.html
  pr-514/authorization/index.html
  pr-514/getting-started-rhdh/index.html
  pr-514/install-rhdh-air-gapped/index.html
  pr-514/install-rhdh-aks/index.html
  pr-514/install-rhdh-eks/index.html
  pr-514/install-rhdh-ocp/index.html
  pr-514/plugin-rhdh/index.html
  pr-514/rel-notes-rhdh/index.html
  pr-514/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore:typo
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

deploy: 1897d1b3a66be312d08bbff95e5878fcdbb55e27
  pr-522/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-522/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-522/admin-rhdh/images/rhdh/operator-install-2.png
  pr-522/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-522/admin-rhdh/images/rhdh/template-editor.png
  pr-522/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-522/admin-rhdh/index.html
  pr-522/authentication/index.html
  pr-522/authorization/index.html
  pr-522/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-522/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-522/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-522/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-522/getting-started-rhdh/index.html
  pr-522/index.html
  pr-522/install-rhdh-air-gapped/index.html
  pr-522/install-rhdh-aks/index.html
  pr-522/install-rhdh-eks/index.html
  pr-522/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-522/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-522/install-rhdh-ocp/index.html
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-522/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-522/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-522/plugin-rhdh/index.html
  pr-522/rel-notes-rhdh/index.html
  pr-522/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore:typo (#522)
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

deploy: 3bcc1366b416eec9d8ddb2b9fb078680b6d8a0a4
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
