Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt

incorporating new changes
  modules/getting-started/proc-add-source-control-rhdh-catalog.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

removing incorrect references
  modules/getting-started/proc-add-source-control-rhdh-catalog.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

incorporating new changes
  modules/getting-started/proc-add-source-control-rhdh-catalog.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: b5ccea8da3109527325cbc7ced7536a7b8076c8a
  pr-507/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-507/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-507/admin-rhdh/images/rhdh/operator-install-2.png
  pr-507/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-507/admin-rhdh/images/rhdh/template-editor.png
  pr-507/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-507/admin-rhdh/index.html
  pr-507/authentication/index.html
  pr-507/authorization/index.html
  pr-507/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-507/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-507/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-507/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-507/getting-started-rhdh/index.html
  pr-507/index.html
  pr-507/install-rhdh-air-gapped/index.html
  pr-507/install-rhdh-aks/index.html
  pr-507/install-rhdh-eks/index.html
  pr-507/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-507/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-507/install-rhdh-ocp/index.html
  pr-507/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-507/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-507/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-507/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-507/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-507/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-507/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-507/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-507/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-507/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-507/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-507/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-507/plugin-rhdh/index.html
  pr-507/rel-notes-rhdh/index.html
  pr-507/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: a77bd7f532436da4aca4333d310f8e47acca0d87
  pr-508/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-508/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-508/admin-rhdh/images/rhdh/operator-install-2.png
  pr-508/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-508/admin-rhdh/images/rhdh/template-editor.png
  pr-508/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-508/admin-rhdh/index.html
  pr-508/authentication/index.html
  pr-508/authorization/index.html
  pr-508/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-508/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-508/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-508/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-508/getting-started-rhdh/index.html
  pr-508/index.html
  pr-508/install-rhdh-air-gapped/index.html
  pr-508/install-rhdh-aks/index.html
  pr-508/install-rhdh-eks/index.html
  pr-508/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-508/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-508/install-rhdh-ocp/index.html
  pr-508/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-508/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-508/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-508/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-508/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-508/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-508/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-508/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-508/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-508/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-508/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-508/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-508/plugin-rhdh/index.html
  pr-508/rel-notes-rhdh/index.html
  pr-508/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[1.2.x] removing incorrect references (#507)
  modules/getting-started/proc-add-source-control-rhdh-catalog.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 04c6f929f30ada325a334a3523065b167deb3214
  1.2.x/admin-rhdh/index.html
  1.2.x/authentication/index.html
  1.2.x/authorization/index.html
  1.2.x/getting-started-rhdh/index.html
  1.2.x/install-rhdh-air-gapped/index.html
  1.2.x/install-rhdh-aks/index.html
  1.2.x/install-rhdh-eks/index.html
  1.2.x/install-rhdh-ocp/index.html
  1.2.x/plugin-rhdh/index.html
  1.2.x/rel-notes-rhdh/index.html
  1.2.x/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[1.3.x] removing incorrect references (#508)
  modules/getting-started/proc-add-source-control-rhdh-catalog.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: b8b3c6bb8d2fb9a162cb6d7e877520218f1c3bf7
  1.3.x/admin-rhdh/index.html
  1.3.x/authentication/index.html
  1.3.x/authorization/index.html
  1.3.x/getting-started-rhdh/index.html
  1.3.x/install-rhdh-air-gapped/index.html
  1.3.x/install-rhdh-aks/index.html
  1.3.x/install-rhdh-eks/index.html
  1.3.x/install-rhdh-ocp/index.html
  1.3.x/plugin-rhdh/index.html
  1.3.x/rel-notes-rhdh/index.html
  1.3.x/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 26b8e3296b5b114b11783ca094ec42c3508ec6a0
  pr-503/admin-rhdh/index.html
  pr-503/authentication/index.html
  pr-503/authorization/index.html
  pr-503/getting-started-rhdh/index.html
  pr-503/install-rhdh-air-gapped/index.html
  pr-503/install-rhdh-aks/index.html
  pr-503/install-rhdh-eks/index.html
  pr-503/install-rhdh-ocp/index.html
  pr-503/plugin-rhdh/index.html
  pr-503/rel-notes-rhdh/index.html
  pr-503/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update ref-community-plugins.adoc - update support statement
  modules/dynamic-plugins/ref-community-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 26b8e3296b5b114b11783ca094ec42c3508ec6a0
  pr-503/admin-rhdh/index.html
  pr-503/authentication/index.html
  pr-503/authorization/index.html
  pr-503/getting-started-rhdh/index.html
  pr-503/install-rhdh-air-gapped/index.html
  pr-503/install-rhdh-aks/index.html
  pr-503/install-rhdh-eks/index.html
  pr-503/install-rhdh-ocp/index.html
  pr-503/plugin-rhdh/index.html
  pr-503/rel-notes-rhdh/index.html
  pr-503/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-2 CX: Reorganize the Dynamic Plugin Support Matrix based on the Support Level
  modules/dynamic-plugins/ref-community-plugins.template.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 26b8e3296b5b114b11783ca094ec42c3508ec6a0
  pr-503/admin-rhdh/index.html
  pr-503/authentication/index.html
  pr-503/authorization/index.html
  pr-503/getting-started-rhdh/index.html
  pr-503/install-rhdh-air-gapped/index.html
  pr-503/install-rhdh-aks/index.html
  pr-503/install-rhdh-eks/index.html
  pr-503/install-rhdh-ocp/index.html
  pr-503/plugin-rhdh/index.html
  pr-503/rel-notes-rhdh/index.html
  pr-503/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 26b8e3296b5b114b11783ca094ec42c3508ec6a0
  pr-509/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-509/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-509/admin-rhdh/images/rhdh/operator-install-2.png
  pr-509/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-509/admin-rhdh/images/rhdh/template-editor.png
  pr-509/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-509/admin-rhdh/index.html
  pr-509/authentication/index.html
  pr-509/authorization/index.html
  pr-509/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-509/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-509/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-509/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-509/getting-started-rhdh/index.html
  pr-509/index.html
  pr-509/install-rhdh-air-gapped/index.html
  pr-509/install-rhdh-aks/index.html
  pr-509/install-rhdh-eks/index.html
  pr-509/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-509/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-509/install-rhdh-ocp/index.html
  pr-509/install-rhdh-osd-gcp/index.html
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-509/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-509/plugin-rhdh/index.html
  pr-509/rel-notes-rhdh/index.html
  pr-509/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 26b8e3296b5b114b11783ca094ec42c3508ec6a0
  pr-509/admin-rhdh/index.html
  pr-509/authentication/index.html
  pr-509/authorization/index.html
  pr-509/getting-started-rhdh/index.html
  pr-509/install-rhdh-air-gapped/index.html
  pr-509/install-rhdh-aks/index.html
  pr-509/install-rhdh-eks/index.html
  pr-509/install-rhdh-ocp/index.html
  pr-509/install-rhdh-osd-gcp/index.html
  pr-509/plugin-rhdh/index.html
  pr-509/rel-notes-rhdh/index.html
  pr-509/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3709: how admins can track RHDH usage by users
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
  modules/admin/con-rbac-rest-api.adoc
  modules/admin/con-user-stats-rhdh.adoc
  modules/admin/proc-download-user-stats-rhdh.adoc
  modules/admin/ref-rbac-rest-api-endpoints.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

deploy: 26b8e3296b5b114b11783ca094ec42c3508ec6a0
  pr-498/admin-rhdh/index.html
  pr-498/authentication/index.html
  pr-498/authorization/index.html
  pr-498/getting-started-rhdh/index.html
  pr-498/install-rhdh-air-gapped/index.html
  pr-498/install-rhdh-aks/index.html
  pr-498/install-rhdh-eks/index.html
  pr-498/install-rhdh-ocp/index.html
  pr-498/plugin-rhdh/index.html
  pr-498/rel-notes-rhdh/index.html
  pr-498/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Peer comments
  modules/admin/con-user-stats-rhdh.adoc
  modules/admin/ref-rbac-rest-api-endpoints.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 26b8e3296b5b114b11783ca094ec42c3508ec6a0
  pr-498/admin-rhdh/index.html
  pr-498/authentication/index.html
  pr-498/authorization/index.html
  pr-498/getting-started-rhdh/index.html
  pr-498/install-rhdh-air-gapped/index.html
  pr-498/install-rhdh-aks/index.html
  pr-498/install-rhdh-eks/index.html
  pr-498/install-rhdh-ocp/index.html
  pr-498/plugin-rhdh/index.html
  pr-498/rel-notes-rhdh/index.html
  pr-498/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 26b8e3296b5b114b11783ca094ec42c3508ec6a0
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 26b8e3296b5b114b11783ca094ec42c3508ec6a0
  pr-502/admin-rhdh/index.html
  pr-502/authentication/index.html
  pr-502/authorization/index.html
  pr-502/getting-started-rhdh/index.html
  pr-502/install-rhdh-air-gapped/index.html
  pr-502/install-rhdh-aks/index.html
  pr-502/install-rhdh-eks/index.html
  pr-502/install-rhdh-ocp/index.html
  pr-502/plugin-rhdh/index.html
  pr-502/rel-notes-rhdh/index.html
  pr-502/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 26b8e3296b5b114b11783ca094ec42c3508ec6a0
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 26b8e3296b5b114b11783ca094ec42c3508ec6a0
  pr-496/admin-rhdh/index.html
  pr-496/authentication/index.html
  pr-496/authorization/index.html
  pr-496/getting-started-rhdh/index.html
  pr-496/install-rhdh-air-gapped/index.html
  pr-496/install-rhdh-aks/index.html
  pr-496/install-rhdh-eks/index.html
  pr-496/install-rhdh-ocp/index.html
  pr-496/plugin-rhdh/index.html
  pr-496/rel-notes-rhdh/index.html
  pr-496/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-2 CX: Reorganize the Dynamic Plugin Support Matrix based on the Support Level (#503)
  artifacts/snip-dynamic-plugins-support.adoc
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/ref-community-plugins.template.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.template.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.template.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: db5899b177290d02b08cc513303f845d0f07f09a
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Revert "Merge branch 'main' into RHIDP-1786"
  artifacts/attributes.adoc
  artifacts/snip-dynamic-plugins-support.adoc
  assemblies/assembly-authenticationg-with-the-guest-user.adoc
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
  assemblies/assembly-enabling-authentication.adoc
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/admin/con-rbac-conditional-policies-rhdh.adoc
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
  modules/authentication/proc-authenticationg-with-the-guest-user-on-a-helm-based-installation.adoc
  modules/authentication/proc-authenticationg-with-the-guest-user-on-an-operator-based-installation.adoc
  modules/dynamic-plugins/con-ansible-plugin.adoc
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/ref-community-plugins.template.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.template.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.template.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
  modules/getting-started/proc-add-source-control-rhdh-catalog.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

RHIDP-1786-2 CX: Explain what is a dynamic plugin and why it matters
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: db5899b177290d02b08cc513303f845d0f07f09a
  pr-487/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-487/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-487/admin-rhdh/images/rhdh/operator-install-2.png
  pr-487/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-487/admin-rhdh/images/rhdh/template-editor.png
  pr-487/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-487/admin-rhdh/index.html
  pr-487/authentication/index.html
  pr-487/authorization/index.html
  pr-487/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-487/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-487/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-487/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-487/getting-started-rhdh/index.html
  pr-487/index.html
  pr-487/install-rhdh-air-gapped/index.html
  pr-487/install-rhdh-aks/index.html
  pr-487/install-rhdh-eks/index.html
  pr-487/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-487/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-487/install-rhdh-ocp/index.html
  pr-487/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-487/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-487/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-487/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-487/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-487/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-487/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-487/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-487/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-487/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-487/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-487/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-487/plugin-rhdh/index.html
  pr-487/rel-notes-rhdh/index.html
  pr-487/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-1786-1 CX: Explain what is a dynamic plugin and why it matters
  modules/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
  titles/plugin-rhdh/title-plugin.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: db5899b177290d02b08cc513303f845d0f07f09a
  pr-510/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-510/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-510/admin-rhdh/images/rhdh/operator-install-2.png
  pr-510/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-510/admin-rhdh/images/rhdh/template-editor.png
  pr-510/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-510/admin-rhdh/index.html
  pr-510/authentication/index.html
  pr-510/authorization/index.html
  pr-510/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-510/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-510/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-510/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-510/getting-started-rhdh/index.html
  pr-510/index.html
  pr-510/install-rhdh-air-gapped/index.html
  pr-510/install-rhdh-aks/index.html
  pr-510/install-rhdh-eks/index.html
  pr-510/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-510/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-510/install-rhdh-ocp/index.html
  pr-510/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-510/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-510/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-510/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-510/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-510/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-510/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-510/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-510/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-510/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-510/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-510/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-510/plugin-rhdh/index.html
  pr-510/rel-notes-rhdh/index.html
  pr-510/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: db5899b177290d02b08cc513303f845d0f07f09a
  pr-505/admin-rhdh/index.html
  pr-505/authentication/index.html
  pr-505/authorization/index.html
  pr-505/getting-started-rhdh/index.html
  pr-505/install-rhdh-air-gapped/index.html
  pr-505/install-rhdh-aks/index.html
  pr-505/install-rhdh-eks/index.html
  pr-505/install-rhdh-ocp/index.html
  pr-505/plugin-rhdh/index.html
  pr-505/rel-notes-rhdh/index.html
  pr-505/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(dynamic plugins): fixed namespace for community plugins and pagerduty (RHIDP-4079) (#505)
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 95347c058e9614676408afe5241f0ce54f0fb536
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 95347c058e9614676408afe5241f0ce54f0fb536
  pr-510/admin-rhdh/index.html
  pr-510/authentication/index.html
  pr-510/authorization/index.html
  pr-510/getting-started-rhdh/index.html
  pr-510/install-rhdh-air-gapped/index.html
  pr-510/install-rhdh-aks/index.html
  pr-510/install-rhdh-eks/index.html
  pr-510/install-rhdh-ocp/index.html
  pr-510/plugin-rhdh/index.html
  pr-510/rel-notes-rhdh/index.html
  pr-510/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(dynamic plugins): fixed namespace for community plugins and pagerduty (RHIDP-4079) (#505)
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

RHIDP-3440-2 CX: Reorganize the Dynamic Plugin Support Matrix based on the Support Level (#503)
  artifacts/snip-dynamic-plugins-support.adoc
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/dynamic-plugins/ref-community-plugins.adoc
  modules/dynamic-plugins/ref-community-plugins.template.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.adoc
  modules/dynamic-plugins/ref-rh-supported-plugins.template.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.template.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

RHIDP-3900 Document caching for dynamic plugins
  modules/dynamic-plugins/con-dynamic-plugins-cache.adoc
  modules/dynamic-plugins/proc-using-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 95347c058e9614676408afe5241f0ce54f0fb536
  pr-513/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-513/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-513/admin-rhdh/images/rhdh/operator-install-2.png
  pr-513/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-513/admin-rhdh/images/rhdh/template-editor.png
  pr-513/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-513/admin-rhdh/index.html
  pr-513/authentication/index.html
  pr-513/authorization/index.html
  pr-513/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-513/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-513/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-513/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-513/getting-started-rhdh/index.html
  pr-513/index.html
  pr-513/install-rhdh-air-gapped/index.html
  pr-513/install-rhdh-aks/index.html
  pr-513/install-rhdh-eks/index.html
  pr-513/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-513/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-513/install-rhdh-ocp/index.html
  pr-513/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-513/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-513/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-513/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-513/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-513/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-513/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-513/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-513/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-513/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-513/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-513/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-513/plugin-rhdh/index.html
  pr-513/rel-notes-rhdh/index.html
  pr-513/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 95347c058e9614676408afe5241f0ce54f0fb536
  pr-498/admin-rhdh/index.html
  pr-498/authentication/index.html
  pr-498/authorization/index.html
  pr-498/getting-started-rhdh/index.html
  pr-498/install-rhdh-air-gapped/index.html
  pr-498/install-rhdh-aks/index.html
  pr-498/install-rhdh-eks/index.html
  pr-498/install-rhdh-ocp/index.html
  pr-498/plugin-rhdh/index.html
  pr-498/rel-notes-rhdh/index.html
  pr-498/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca
