Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

RHIDP-3970 - Authentication - Authenticating with Microsoft Azure (#492) (#598)
  artifacts/attributes.adoc
  assemblies/assembly-authenticating-with-microsoft-azure.adoc
  assemblies/assembly-enabling-authentication.adoc
  modules/auth/proc-adding-azure-as-an-authentication-provider.adoc
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @hmanwani-rh, @themr0c, @schultzp2020, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash

deploy: a3f224e9b659f5ac64af4e2e88692921d1a47bd3
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

docs: update CVE list (#596)
  assemblies/assembly-release-notes-fixed-security-issues.adoc
  build/scripts/single-source-security-fixes.sh
  modules/release-notes/list-fixed-security-issues-in-product-1.3.0.txt
  modules/release-notes/list-fixed-security-issues-in-rpm-1.3.0.txt
  modules/release-notes/single-source-fixed-security-issues.sh
  modules/release-notes/snip-fixed-security-issues-in-product-1.3.0.adoc
  modules/release-notes/snip-fixed-security-issues-in-rpm-1.3.0.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @nickboldt

chore: update CVE list (#596) (#599)
  assemblies/assembly-release-notes-fixed-security-issues.adoc
  build/scripts/single-source-security-fixes.sh
  modules/release-notes/list-fixed-security-issues-in-product-1.3.0.txt
  modules/release-notes/list-fixed-security-issues-in-rpm-1.3.0.txt
  modules/release-notes/single-source-fixed-security-issues.sh
  modules/release-notes/snip-fixed-security-issues-in-product-1.3.0.adoc
  modules/release-notes/snip-fixed-security-issues-in-rpm-1.3.0.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @nickboldt

deploy: 2601ef419850451bbdb3b0d563a009a3467368c5
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: fixed typos
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

chore: fixed typos (#600)
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: d9db160f19582500aa6936a71bd0ae8b08b58c65
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: fixed typos
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

[release-1.3] chore: fixed typos (#601)
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 5164528669a09eb3b2e8fceca95534cea4bc4c5e
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 703cb20eda538b02ef550830c054f9b8b4ff2ac7
  pr-592/admin-rhdh/index.html
  pr-592/authentication/index.html
  pr-592/authorization/index.html
  pr-592/getting-started-rhdh/index.html
  pr-592/install-rhdh-air-gapped/index.html
  pr-592/install-rhdh-aks/index.html
  pr-592/install-rhdh-eks/index.html
  pr-592/install-rhdh-ocp/index.html
  pr-592/plugin-rhdh/index.html
  pr-592/rel-notes-rhdh/index.html
  pr-592/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 703cb20eda538b02ef550830c054f9b8b4ff2ac7
  pr-592/admin-rhdh/index.html
  pr-592/authentication/index.html
  pr-592/authorization/index.html
  pr-592/getting-started-rhdh/index.html
  pr-592/install-rhdh-air-gapped/index.html
  pr-592/install-rhdh-aks/index.html
  pr-592/install-rhdh-eks/index.html
  pr-592/install-rhdh-ocp/index.html
  pr-592/plugin-rhdh/index.html
  pr-592/rel-notes-rhdh/index.html
  pr-592/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

add RN text for 1.2.5
  build/scripts/single-source-security-fixes.sh
  modules/release-notes/con-relnotes-fixed-issues.adoc
  modules/release-notes/cve-list-1.2.5.txt
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt, @josephca, @redhat-developer/rhdh-team

deploy: 703cb20eda538b02ef550830c054f9b8b4ff2ac7
  pr-592/admin-rhdh/index.html
  pr-592/authentication/index.html
  pr-592/authorization/index.html
  pr-592/getting-started-rhdh/index.html
  pr-592/install-rhdh-air-gapped/index.html
  pr-592/install-rhdh-aks/index.html
  pr-592/install-rhdh-eks/index.html
  pr-592/install-rhdh-ocp/index.html
  pr-592/plugin-rhdh/index.html
  pr-592/rel-notes-rhdh/index.html
  pr-592/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 703cb20eda538b02ef550830c054f9b8b4ff2ac7
  pr-592/admin-rhdh/index.html
  pr-592/authentication/index.html
  pr-592/authorization/index.html
  pr-592/getting-started-rhdh/index.html
  pr-592/install-rhdh-air-gapped/index.html
  pr-592/install-rhdh-aks/index.html
  pr-592/install-rhdh-eks/index.html
  pr-592/install-rhdh-ocp/index.html
  pr-592/plugin-rhdh/index.html
  pr-592/rel-notes-rhdh/index.html
  pr-592/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 703cb20eda538b02ef550830c054f9b8b4ff2ac7
  pr-592/admin-rhdh/index.html
  pr-592/authentication/index.html
  pr-592/authorization/index.html
  pr-592/getting-started-rhdh/index.html
  pr-592/install-rhdh-air-gapped/index.html
  pr-592/install-rhdh-aks/index.html
  pr-592/install-rhdh-eks/index.html
  pr-592/install-rhdh-ocp/index.html
  pr-592/plugin-rhdh/index.html
  pr-592/rel-notes-rhdh/index.html
  pr-592/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 703cb20eda538b02ef550830c054f9b8b4ff2ac7
  pr-592/admin-rhdh/index.html
  pr-592/authentication/index.html
  pr-592/authorization/index.html
  pr-592/getting-started-rhdh/index.html
  pr-592/install-rhdh-air-gapped/index.html
  pr-592/install-rhdh-aks/index.html
  pr-592/install-rhdh-eks/index.html
  pr-592/install-rhdh-ocp/index.html
  pr-592/plugin-rhdh/index.html
  pr-592/rel-notes-rhdh/index.html
  pr-592/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

refactor to align with latest improvements/filenames in 1.3
  artifacts/attributes.adoc
  build/scripts/single-source-security-fixes.sh
  modules/release-notes/con-relnotes-fixed-issues.adoc
  modules/release-notes/list-fixed-security-issues-in-product-1.2.5.txt
  modules/release-notes/list-fixed-security-issues-in-rpm-1.2.5.txt
  modules/release-notes/single-source-fixed-security-issues.sh
  modules/release-notes/snip-fixed-security-issues-in-product-1.2.5.adoc
  modules/release-notes/snip-fixed-security-issues-in-rpm-1.2.5.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @nickboldt

deploy: 703cb20eda538b02ef550830c054f9b8b4ff2ac7
  pr-592/admin-rhdh/index.html
  pr-592/authentication/index.html
  pr-592/authorization/index.html
  pr-592/getting-started-rhdh/index.html
  pr-592/install-rhdh-air-gapped/index.html
  pr-592/install-rhdh-aks/index.html
  pr-592/install-rhdh-eks/index.html
  pr-592/install-rhdh-ocp/index.html
  pr-592/plugin-rhdh/index.html
  pr-592/rel-notes-rhdh/index.html
  pr-592/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

indent security fixes one level lower
  modules/release-notes/con-relnotes-fixed-issues.adoc
  modules/release-notes/single-source-fixed-security-issues.sh
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 703cb20eda538b02ef550830c054f9b8b4ff2ac7
  pr-592/admin-rhdh/index.html
  pr-592/authentication/index.html
  pr-592/authorization/index.html
  pr-592/getting-started-rhdh/index.html
  pr-592/install-rhdh-air-gapped/index.html
  pr-592/install-rhdh-aks/index.html
  pr-592/install-rhdh-eks/index.html
  pr-592/install-rhdh-ocp/index.html
  pr-592/plugin-rhdh/index.html
  pr-592/rel-notes-rhdh/index.html
  pr-592/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

backport workflow updates from 1.3+ in 1.2
  .github/pull_request_template.md
  .github/workflows/build-asciidoc.yml
  .github/workflows/pr.yml
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt

deploy: 703cb20eda538b02ef550830c054f9b8b4ff2ac7
  pr-603/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-603/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-603/admin-rhdh/images/rhdh/operator-install-2.png
  pr-603/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-603/admin-rhdh/images/rhdh/template-editor.png
  pr-603/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-603/admin-rhdh/index.html
  pr-603/authentication/index.html
  pr-603/authorization/index.html
  pr-603/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-603/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-603/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-603/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-603/getting-started-rhdh/index.html
  pr-603/index.html
  pr-603/install-rhdh-air-gapped/index.html
  pr-603/install-rhdh-aks/index.html
  pr-603/install-rhdh-eks/index.html
  pr-603/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-603/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-603/install-rhdh-ocp/index.html
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-603/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-603/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-603/plugin-rhdh/index.html
  pr-603/rel-notes-rhdh/index.html
  pr-603/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 00dd8eabed32499485f898cffb8231ef67aafab0
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: d9db160f19582500aa6936a71bd0ae8b08b58c65
  pr-604/admin-rhdh/index.html
  pr-604/authentication/index.html
  pr-604/authorization/index.html
  pr-604/getting-started-rhdh/index.html
  pr-604/install-rhdh-air-gapped/index.html
  pr-604/install-rhdh-aks/index.html
  pr-604/install-rhdh-eks/index.html
  pr-604/install-rhdh-ocp/index.html
  pr-604/install-rhdh-osd-gcp/index.html
  pr-604/plugin-rhdh/index.html
  pr-604/plugins-rhdh-about/index.html
  pr-604/plugins-rhdh-configure/index.html
  pr-604/plugins-rhdh-install/index.html
  pr-604/plugins-rhdh-reference/index.html
  pr-604/plugins-rhdh-troubleshooting/index.html
  pr-604/plugins-rhdh-using/index.html
  pr-604/rel-notes-rhdh/index.html
  pr-604/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove CVE-2024-45590 for now, not yet done
  modules/release-notes/list-fixed-security-issues-in-product-1.2.5.txt
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

remove CVE-2024-45590 for now, not yet done
  modules/release-notes/snip-fixed-security-issues-in-product-1.2.5.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 703cb20eda538b02ef550830c054f9b8b4ff2ac7
  pr-592/admin-rhdh/index.html
  pr-592/authentication/index.html
  pr-592/authorization/index.html
  pr-592/getting-started-rhdh/index.html
  pr-592/install-rhdh-air-gapped/index.html
  pr-592/install-rhdh-aks/index.html
  pr-592/install-rhdh-eks/index.html
  pr-592/install-rhdh-ocp/index.html
  pr-592/plugin-rhdh/index.html
  pr-592/rel-notes-rhdh/index.html
  pr-592/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: uniquely version sort CVEs
  modules/release-notes/single-source-fixed-security-issues.sh
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

chore: uniquely version sort CVEs
  modules/release-notes/single-source-fixed-security-issues.sh
  modules/release-notes/snip-fixed-security-issues-in-rpm-1.2.5.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 703cb20eda538b02ef550830c054f9b8b4ff2ac7
  pr-592/admin-rhdh/index.html
  pr-592/authentication/index.html
  pr-592/authorization/index.html
  pr-592/getting-started-rhdh/index.html
  pr-592/install-rhdh-air-gapped/index.html
  pr-592/install-rhdh-aks/index.html
  pr-592/install-rhdh-eks/index.html
  pr-592/install-rhdh-ocp/index.html
  pr-592/plugin-rhdh/index.html
  pr-592/rel-notes-rhdh/index.html
  pr-592/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: uniquely version sort CVEs
  modules/release-notes/single-source-fixed-security-issues.sh
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 00dd8eabed32499485f898cffb8231ef67aafab0
  pr-605/admin-rhdh/index.html
  pr-605/authentication/index.html
  pr-605/authorization/index.html
  pr-605/getting-started-rhdh/index.html
  pr-605/install-rhdh-air-gapped/index.html
  pr-605/install-rhdh-aks/index.html
  pr-605/install-rhdh-eks/index.html
  pr-605/install-rhdh-ocp/index.html
  pr-605/install-rhdh-osd-gcp/index.html
  pr-605/plugin-rhdh/index.html
  pr-605/plugins-rhdh-about/index.html
  pr-605/plugins-rhdh-configure/index.html
  pr-605/plugins-rhdh-install/index.html
  pr-605/plugins-rhdh-reference/index.html
  pr-605/plugins-rhdh-troubleshooting/index.html
  pr-605/plugins-rhdh-using/index.html
  pr-605/rel-notes-rhdh/index.html
  pr-605/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Fixed merge conflicts
  artifacts/attributes.adoc
  modules/admin/proc-rbac-send-request-rbac-rest-api.adoc
  modules/admin/proc-rhdh-monitoring-logging-aks.adoc
  modules/admin/proc-using-azure-auth-provider.adoc
  modules/getting-started/proc-add-source-control-rhdh-catalog.adoc
  modules/getting-started/proc-customize-rhdh-homepage.adoc
  modules/getting-started/proc-customize-rhdh-learning-paths.adoc
  modules/getting-started/proc-customize-rhdh-tech-radar-page.adoc
  modules/getting-started/proc-enable-servicenow-custom-actions-plugin.adoc
  modules/installation/proc-enable-signin.adoc
  modules/upgrade/proc-upgrade-rhdh-operator.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @themr0c

Incorporated Heena's peer review comments
  modules/admin/proc-rbac-send-request-rbac-rest-api.adoc
  modules/admin/proc-rhdh-monitoring-logging-aks.adoc
  modules/admin/proc-using-azure-auth-provider.adoc
  modules/getting-started/proc-add-source-control-rhdh-catalog.adoc
  modules/getting-started/proc-customize-rhdh-homepage.adoc
  modules/upgrade/proc-upgrade-rhdh-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: d9db160f19582500aa6936a71bd0ae8b08b58c65
  pr-538/admin-rhdh/index.html
  pr-538/authentication/index.html
  pr-538/authorization/index.html
  pr-538/getting-started-rhdh/index.html
  pr-538/install-rhdh-air-gapped/index.html
  pr-538/install-rhdh-aks/index.html
  pr-538/install-rhdh-eks/index.html
  pr-538/install-rhdh-ocp/index.html
  pr-538/install-rhdh-osd-gcp/index.html
  pr-538/plugin-rhdh/index.html
  pr-538/plugins-rhdh-about/index.html
  pr-538/plugins-rhdh-configure/index.html
  pr-538/plugins-rhdh-install/images/rhdh/operator-install-2.png
  pr-538/plugins-rhdh-install/index.html
  pr-538/plugins-rhdh-reference/index.html
  pr-538/plugins-rhdh-troubleshooting/index.html
  pr-538/plugins-rhdh-using/images/rhdh-plugins-reference/argocd.png
  pr-538/plugins-rhdh-using/images/rhdh-plugins-reference/deployment_summary.png
  pr-538/plugins-rhdh-using/images/rhdh-plugins-reference/group1.jpg
  pr-538/plugins-rhdh-using/images/rhdh-plugins-reference/link.png
  pr-538/plugins-rhdh-using/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-538/plugins-rhdh-using/images/rhdh-plugins-reference/sidebar.png
  pr-538/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-538/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-538/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user1.png
  pr-538/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user2.png
  pr-538/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user3.png
  pr-538/plugins-rhdh-using/images/rhdh-plugins-reference/user-list.jpg
  pr-538/plugins-rhdh-using/images/rhdh-plugins-reference/user2.jpg
  pr-538/plugins-rhdh-using/images/rhdh-plugins-reference/users.jpg
  pr-538/plugins-rhdh-using/index.html
  pr-538/rel-notes-rhdh/index.html
  pr-538/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: d9db160f19582500aa6936a71bd0ae8b08b58c65
  pr-604/admin-rhdh/index.html
  pr-604/authentication/index.html
  pr-604/authorization/index.html
  pr-604/getting-started-rhdh/index.html
  pr-604/install-rhdh-air-gapped/index.html
  pr-604/install-rhdh-aks/index.html
  pr-604/install-rhdh-eks/index.html
  pr-604/install-rhdh-ocp/index.html
  pr-604/install-rhdh-osd-gcp/index.html
  pr-604/plugin-rhdh/index.html
  pr-604/plugins-rhdh-about/index.html
  pr-604/plugins-rhdh-configure/index.html
  pr-604/plugins-rhdh-install/index.html
  pr-604/plugins-rhdh-reference/index.html
  pr-604/plugins-rhdh-troubleshooting/index.html
  pr-604/plugins-rhdh-using/index.html
  pr-604/rel-notes-rhdh/index.html
  pr-604/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: d9db160f19582500aa6936a71bd0ae8b08b58c65
  pr-604/admin-rhdh/index.html
  pr-604/authentication/index.html
  pr-604/authorization/index.html
  pr-604/getting-started-rhdh/index.html
  pr-604/install-rhdh-air-gapped/index.html
  pr-604/install-rhdh-aks/index.html
  pr-604/install-rhdh-eks/index.html
  pr-604/install-rhdh-ocp/index.html
  pr-604/install-rhdh-osd-gcp/index.html
  pr-604/plugin-rhdh/index.html
  pr-604/plugins-rhdh-about/index.html
  pr-604/plugins-rhdh-configure/index.html
  pr-604/plugins-rhdh-install/index.html
  pr-604/plugins-rhdh-reference/index.html
  pr-604/plugins-rhdh-troubleshooting/index.html
  pr-604/plugins-rhdh-using/index.html
  pr-604/rel-notes-rhdh/index.html
  pr-604/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: d9db160f19582500aa6936a71bd0ae8b08b58c65
  pr-604/admin-rhdh/index.html
  pr-604/authentication/index.html
  pr-604/authorization/index.html
  pr-604/getting-started-rhdh/index.html
  pr-604/install-rhdh-air-gapped/index.html
  pr-604/install-rhdh-aks/index.html
  pr-604/install-rhdh-eks/index.html
  pr-604/install-rhdh-ocp/index.html
  pr-604/install-rhdh-osd-gcp/index.html
  pr-604/plugin-rhdh/index.html
  pr-604/plugins-rhdh-about/index.html
  pr-604/plugins-rhdh-configure/index.html
  pr-604/plugins-rhdh-install/index.html
  pr-604/plugins-rhdh-reference/index.html
  pr-604/plugins-rhdh-troubleshooting/index.html
  pr-604/plugins-rhdh-using/index.html
  pr-604/rel-notes-rhdh/index.html
  pr-604/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
