Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-480/admin-rhdh/index.html
  pr-480/authentication/index.html
  pr-480/authorization/index.html
  pr-480/getting-started-rhdh/index.html
  pr-480/index.html
  pr-480/install-rhdh-aks/index.html
  pr-480/install-rhdh-eks/index.html
  pr-480/install-rhdh-ocp/index.html
  pr-480/install-rhdh-osd-gcp/index.html
  pr-480/plugin-rhdh/index.html
  pr-480/plugins-rhdh-about/index.html
  pr-480/plugins-rhdh-configure/index.html
  pr-480/plugins-rhdh-install/index.html
  pr-480/plugins-rhdh-reference/index.html
  pr-480/plugins-rhdh-troubleshooting/index.html
  pr-480/plugins-rhdh-using/index.html
  pr-480/rel-notes-rhdh/index.html
  pr-480/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/install-rhdh-osd-gcp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/plugins-rhdh-about/index.html
  pr-492/plugins-rhdh-configure/index.html
  pr-492/plugins-rhdh-install/index.html
  pr-492/plugins-rhdh-reference/index.html
  pr-492/plugins-rhdh-troubleshooting/index.html
  pr-492/plugins-rhdh-using/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Apply suggestions from code review
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/install-rhdh-osd-gcp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/plugins-rhdh-about/index.html
  pr-492/plugins-rhdh-configure/index.html
  pr-492/plugins-rhdh-install/index.html
  pr-492/plugins-rhdh-reference/index.html
  pr-492/plugins-rhdh-troubleshooting/index.html
  pr-492/plugins-rhdh-using/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-about CX: Adding contnet to About Pplugins
  assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

Authority is an optional field
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/install-rhdh-osd-gcp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/plugins-rhdh-about/index.html
  pr-492/plugins-rhdh-configure/index.html
  pr-492/plugins-rhdh-install/index.html
  pr-492/plugins-rhdh-reference/index.html
  pr-492/plugins-rhdh-troubleshooting/index.html
  pr-492/plugins-rhdh-using/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-install CX:Add installation and configuration content
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
  modules/dynamic-plugins/con-basic-config-dynamic-plugins.adoc
  modules/dynamic-plugins/proc-using-custom-npm-registry.adoc
  titles/plugins-rhdh-install/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

HIDP-3440-troubleshooting CX: Add troubleshooting content
  assemblies/dynamic-plugins/assembly-troubleshooting-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-troubleshooting-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

RHIDP-3440-install CX: Add plugin install content
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-547/admin-rhdh/index.html
  pr-547/authentication/index.html
  pr-547/authorization/index.html
  pr-547/getting-started-rhdh/index.html
  pr-547/install-rhdh-air-gapped/index.html
  pr-547/install-rhdh-aks/index.html
  pr-547/install-rhdh-eks/index.html
  pr-547/install-rhdh-ocp/index.html
  pr-547/install-rhdh-osd-gcp/index.html
  pr-547/plugin-rhdh/index.html
  pr-547/plugins-rhdh-about/index.html
  pr-547/plugins-rhdh-configure/index.html
  pr-547/plugins-rhdh-install/index.html
  pr-547/plugins-rhdh-reference/index.html
  pr-547/plugins-rhdh-troubleshooting/index.html
  pr-547/plugins-rhdh-using/index.html
  pr-547/rel-notes-rhdh/index.html
  pr-547/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: fix links from RN -> Plugins guide (RHIDP-3187)
  modules/release-notes/con-relnotes-notable-features.adoc
  modules/release-notes/con-relnotes-techpreview-features.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

Update modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
  modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
  modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-525/admin-rhdh/index.html
  pr-525/authentication/index.html
  pr-525/authorization/index.html
  pr-525/getting-started-rhdh/index.html
  pr-525/install-rhdh-air-gapped/index.html
  pr-525/install-rhdh-aks/index.html
  pr-525/install-rhdh-eks/index.html
  pr-525/install-rhdh-ocp/index.html
  pr-525/install-rhdh-osd-gcp/index.html
  pr-525/plugin-rhdh/index.html
  pr-525/rel-notes-rhdh/index.html
  pr-525/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-525/admin-rhdh/index.html
  pr-525/authentication/index.html
  pr-525/authorization/index.html
  pr-525/getting-started-rhdh/index.html
  pr-525/index.html
  pr-525/install-rhdh-air-gapped/index.html
  pr-525/install-rhdh-aks/index.html
  pr-525/install-rhdh-eks/index.html
  pr-525/install-rhdh-ocp/index.html
  pr-525/install-rhdh-osd-gcp/index.html
  pr-525/plugin-rhdh/index.html
  pr-525/plugins-rhdh-about/index.html
  pr-525/plugins-rhdh-configure/index.html
  pr-525/plugins-rhdh-install/index.html
  pr-525/plugins-rhdh-reference/index.html
  pr-525/plugins-rhdh-troubleshooting/index.html
  pr-525/plugins-rhdh-using/index.html
  pr-525/rel-notes-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(typo): remove duplicate backtick
  modules/dynamic-plugins/con-preinstalled-dynamic-plugins.adoc
  modules/dynamic-plugins/con-preinstalled-dynamic-plugins.template.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

fix for safari?
  .asciidoctor/docs.css
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-550/admin-rhdh/index.html
  pr-550/authentication/index.html
  pr-550/authorization/index.html
  pr-550/getting-started-rhdh/index.html
  pr-550/install-rhdh-air-gapped/index.html
  pr-550/install-rhdh-aks/index.html
  pr-550/install-rhdh-eks/index.html
  pr-550/install-rhdh-ocp/index.html
  pr-550/install-rhdh-osd-gcp/index.html
  pr-550/plugin-rhdh/index.html
  pr-550/plugins-rhdh-about/index.html
  pr-550/plugins-rhdh-configure/index.html
  pr-550/plugins-rhdh-install/index.html
  pr-550/plugins-rhdh-reference/index.html
  pr-550/plugins-rhdh-troubleshooting/index.html
  pr-550/plugins-rhdh-using/index.html
  pr-550/rel-notes-rhdh/index.html
  pr-550/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update .asciidoctor/docs.css
  .asciidoctor/docs.css
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 01f2930af26187f4d6ec2856fca197ccb9f9e6fb
  pr-550/admin-rhdh/index.html
  pr-550/authentication/index.html
  pr-550/authorization/index.html
  pr-550/getting-started-rhdh/index.html
  pr-550/install-rhdh-air-gapped/index.html
  pr-550/install-rhdh-aks/index.html
  pr-550/install-rhdh-eks/index.html
  pr-550/install-rhdh-ocp/index.html
  pr-550/install-rhdh-osd-gcp/index.html
  pr-550/plugin-rhdh/index.html
  pr-550/plugins-rhdh-about/index.html
  pr-550/plugins-rhdh-configure/index.html
  pr-550/plugins-rhdh-install/index.html
  pr-550/plugins-rhdh-reference/index.html
  pr-550/plugins-rhdh-troubleshooting/index.html
  pr-550/plugins-rhdh-using/index.html
  pr-550/rel-notes-rhdh/index.html
  pr-550/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

feat: add doc about compatible plugins... (#525)
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
  modules/dynamic-plugins/rhdh-supported-plugins.sh
  modules/release-notes/con-relnotes-notable-features.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

deploy: 11e4a18c67d6bb80153ded10986a0bb5f3dae18b
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

fix link to 1.2-rc
  modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

feat: add doc about compatible plugins (RHIDP-4150)
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
  modules/release-notes/con-relnotes-notable-features.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

Update modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
  modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

cross-link the AAP plugin in TP section with the new AAP plugin in compatible section; add notes
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
  modules/dynamic-plugins/rhdh-supported-plugins.sh
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

apply Preeti's suggestions
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/release-notes/con-relnotes-notable-features.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

Update modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
  modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: fdcf1b2156305216d632f252425448fa5ebc17a9
  pr-551/admin-rhdh/index.html
  pr-551/authentication/index.html
  pr-551/authorization/index.html
  pr-551/getting-started-rhdh/index.html
  pr-551/install-rhdh-air-gapped/index.html
  pr-551/install-rhdh-aks/index.html
  pr-551/install-rhdh-eks/index.html
  pr-551/install-rhdh-ocp/index.html
  pr-551/install-rhdh-osd-gcp/index.html
  pr-551/plugin-rhdh/index.html
  pr-551/plugins-rhdh-about/index.html
  pr-551/plugins-rhdh-configure/index.html
  pr-551/plugins-rhdh-install/index.html
  pr-551/plugins-rhdh-reference/index.html
  pr-551/plugins-rhdh-troubleshooting/index.html
  pr-551/plugins-rhdh-using/index.html
  pr-551/rel-notes-rhdh/index.html
  pr-551/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[release-1.3] feat: add doc about compatible plugins... (#551)
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
  modules/dynamic-plugins/ref-rh-tech-preview-plugins.adoc
  modules/dynamic-plugins/rhdh-supported-plugins.csv
  modules/dynamic-plugins/rhdh-supported-plugins.sh
  modules/release-notes/con-relnotes-notable-features.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

deploy: dbaf60965194e88e692559010d726f10996cd157
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(typo): remove duplicate backtick and fix CSS rendering on MacOS Safari (#550)
  .asciidoctor/docs.css
  modules/dynamic-plugins/con-preinstalled-dynamic-plugins.adoc
  modules/dynamic-plugins/con-preinstalled-dynamic-plugins.template.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

Update .asciidoctor/docs.css
  .asciidoctor/docs.css
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore(typo): remove duplicate backtick
  modules/dynamic-plugins/con-preinstalled-dynamic-plugins.adoc
  modules/dynamic-plugins/con-preinstalled-dynamic-plugins.template.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

fix for safari?
  .asciidoctor/docs.css
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ee308f6dbbcb1afc30c9fe37efb7b6e9b0b9ab9a
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[release-1.3] chore(typo): remove duplicate backtick and fix CSS rendering on MacOS Safari (#552)
  .asciidoctor/docs.css
  modules/dynamic-plugins/con-preinstalled-dynamic-plugins.adoc
  modules/dynamic-plugins/con-preinstalled-dynamic-plugins.template.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: d0ce4eefd9d916b73fe5f9be093a3dcd46685b2d
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
