Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt

release notes update
  modules/release-notes/con-release-notes-overview.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

update version
  artifacts/attributes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  assemblies/assembly-release-notes-breaking-changes.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  modules/release-notes/snip-removed-functionality-rhidp-2847.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  jira2asciidoc.yml
  modules/release-notes/snip-deprecated-functionality-rhidp-1138.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2794.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2796.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2847.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3048.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
  modules/release-notes/snip-technology-preview-rhidp-1397.adoc
  modules/release-notes/snip-technology-preview-rhidp-3713.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-plugins Peer review feedback
  modules/dynamic-plugins/con-dynamic-plugins-cache.adoc
  modules/dynamic-plugins/proc-topology-configure.adoc
  modules/dynamic-plugins/proc-topology-install.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

release notes update
  modules/release-notes/snip-bug-fix-rhidp-2716.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-556/admin-rhdh/index.html
  pr-556/authentication/index.html
  pr-556/authorization/index.html
  pr-556/getting-started-rhdh/index.html
  pr-556/install-rhdh-air-gapped/index.html
  pr-556/install-rhdh-aks/index.html
  pr-556/install-rhdh-eks/index.html
  pr-556/install-rhdh-ocp/index.html
  pr-556/install-rhdh-osd-gcp/index.html
  pr-556/plugin-rhdh/index.html
  pr-556/plugins-rhdh-about/index.html
  pr-556/plugins-rhdh-configure/index.html
  pr-556/plugins-rhdh-install/index.html
  pr-556/plugins-rhdh-reference/index.html
  pr-556/plugins-rhdh-troubleshooting/index.html
  pr-556/plugins-rhdh-using/index.html
  pr-556/rel-notes-rhdh/index.html
  pr-556/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  modules/release-notes/snip-bug-fix-rhidp-2716.adoc
  modules/release-notes/snip-enhancement-rhidp-2818.adoc
  titles/rel-notes-rhdh/title-rhdh-release-notes.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  modules/release-notes/snip-bug-fix-rhidp-2728.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

RHIDP-3440-plugins - Split plugin docs into admin/user titles (#556)
  artifacts/rhdh-plugins-reference/argocd/argocd-plugin-admin.adoc
  artifacts/rhdh-plugins-reference/argocd/argocd-plugin-user.adoc
  artifacts/rhdh-plugins-reference/keycloak/keycloak-plugin-admin.adoc
  artifacts/rhdh-plugins-reference/keycloak/keycloak-plugin-user.adoc
  artifacts/rhdh-plugins-reference/nexus-repository-manager/nexus-repository-manager-plugin-admin.adoc
  artifacts/rhdh-plugins-reference/nexus-repository-manager/nexus-repository-manager-plugin-user.adoc
  artifacts/rhdh-plugins-reference/tekton/tekton-plugin-admin.adoc
  artifacts/rhdh-plugins-reference/tekton/tekton-plugin-user.adoc
  artifacts/rhdh-plugins-reference/topology/topology-plugin-admin.adoc
  artifacts/rhdh-plugins-reference/topology/topology-plugin-user.adoc
  assemblies/dynamic-plugins/assembly-configuring-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-using-rhdh-plugins.adoc
  assemblies/images
  modules/dynamic-plugins/con-ansible-plugin-admin.adoc
  modules/dynamic-plugins/con-ansible-plugin-user.adoc
  modules/dynamic-plugins/con-dynamic-plugins-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
  modules/dynamic-plugins/proc-topology-configure.adoc
  modules/dynamic-plugins/proc-topology-install.adoc
  modules/dynamic-plugins/proc-using-topology-plugin.adoc
  titles/plugins-rhdh-configure/docinfo.xml
  titles/plugins-rhdh-configure/master.adoc
  titles/plugins-rhdh-using/docinfo.xml
  titles/plugins-rhdh-using/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

release notes update
  modules/release-notes/snip-bug-fix-rhidp-1334.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 3198f1ca80c48f051a0126602e32362b69f1f881
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/images/rhdh-plugins-reference/argocd.png
  main/plugins-rhdh-using/images/rhdh-plugins-reference/deployment_summary.png
  main/plugins-rhdh-using/images/rhdh-plugins-reference/group1.jpg
  main/plugins-rhdh-using/images/rhdh-plugins-reference/link.png
  main/plugins-rhdh-using/images/rhdh-plugins-reference/nexus-repository-manager.png
  main/plugins-rhdh-using/images/rhdh-plugins-reference/sidebar.png
  main/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  main/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  main/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user1.png
  main/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user2.png
  main/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user3.png
  main/plugins-rhdh-using/images/rhdh-plugins-reference/user-list.jpg
  main/plugins-rhdh-using/images/rhdh-plugins-reference/user2.jpg
  main/plugins-rhdh-using/images/rhdh-plugins-reference/users.jpg
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3198f1ca80c48f051a0126602e32362b69f1f881
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  assemblies/assembly-release-notes-breaking-changes.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2794.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2796.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2847.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

deploy: 3198f1ca80c48f051a0126602e32362b69f1f881
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  modules/release-notes/snip-removed-functionality-rhidp-2794.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 3198f1ca80c48f051a0126602e32362b69f1f881
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  modules/release-notes/snip-enhancement-rhidp-2790.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 3198f1ca80c48f051a0126602e32362b69f1f881
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3198f1ca80c48f051a0126602e32362b69f1f881
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/images/rhdh-plugins-reference/argocd.png
  pr-559/plugins-rhdh-using/images/rhdh-plugins-reference/deployment_summary.png
  pr-559/plugins-rhdh-using/images/rhdh-plugins-reference/group1.jpg
  pr-559/plugins-rhdh-using/images/rhdh-plugins-reference/link.png
  pr-559/plugins-rhdh-using/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-559/plugins-rhdh-using/images/rhdh-plugins-reference/sidebar.png
  pr-559/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-559/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-559/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user1.png
  pr-559/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user2.png
  pr-559/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user3.png
  pr-559/plugins-rhdh-using/images/rhdh-plugins-reference/user-list.jpg
  pr-559/plugins-rhdh-using/images/rhdh-plugins-reference/user2.jpg
  pr-559/plugins-rhdh-using/images/rhdh-plugins-reference/users.jpg
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  assemblies/assembly-release-notes-fixed-security-issues.adoc
  modules/release-notes/snip-cve---common-vulnerabilities-and-exposures-rhidp-3403.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

deploy: 3198f1ca80c48f051a0126602e32362b69f1f881
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  assemblies/assembly-release-notes-breaking-changes.adoc
  modules/release-notes/snip-enhancement-rhidp-2790.adoc
  modules/release-notes/snip-removed-functionality-rhidp-2794.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

deploy: 3198f1ca80c48f051a0126602e32362b69f1f881
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 9dd6f054dc74f5f333e07fcedaba1196ce12daea
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-enhancement-rhidp-3728.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
  modules/release-notes/snip-bug-fix-rhidp-2728.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  modules/release-notes/snip-enhancement-rhidp-3728.adoc
  modules/release-notes/snip-feature-rhidp-3666.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
  assemblies/assembly-release-notes-new-features.adoc
  modules/release-notes/snip-enhancement-rhidp-3064.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
  modules/release-notes/snip-bug-fix-rhidp-2728.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
  modules/release-notes/snip-bug-fix-rhidp-2716.adoc
  modules/release-notes/snip-bug-fix-rhidp-3159.adoc
  modules/release-notes/snip-bug-fix-rhidp-3217.adoc
  modules/release-notes/snip-bug-fix-rhidp-3260.adoc
  modules/release-notes/snip-bug-fix-rhidp-3458.adoc
  modules/release-notes/snip-bug-fix-rhidp-3471.adoc
  modules/release-notes/snip-bug-fix-rhidp-3580.adoc
  modules/release-notes/snip-bug-fix-rhidp-3601.adoc
  modules/release-notes/snip-bug-fix-rhidp-3612.adoc
  modules/release-notes/snip-bug-fix-rhidp-3735.adoc
  modules/release-notes/snip-bug-fix-rhidp-3896.adoc
  modules/release-notes/snip-bug-fix-rhidp-4013.adoc
  modules/release-notes/snip-bug-fix-rhidp-4046.adoc
  modules/release-notes/snip-bug-fix-rhidp-4200.adoc
  modules/release-notes/snip-deprecated-functionality-rhidp-2794.adoc
  modules/release-notes/snip-deprecated-functionality-rhidp-2847.adoc
  modules/release-notes/snip-enhancement-rhidp-3728.adoc
  modules/release-notes/snip-feature-rhidp-2644.adoc
  modules/release-notes/snip-feature-rhidp-2888.adoc
  modules/release-notes/snip-feature-rhidp-3666.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3048.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

release notes update
  assemblies/assembly-release-notes-fixed-issues.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

release notes update
  assemblies/assembly-release-notes-breaking-changes.adoc
  assemblies/assembly-release-notes-fixed-issues.adoc
  assemblies/assembly-release-notes-new-features.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca
