Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

chore: fix rendering bug in pantheon when more than one link on the same line and no link text provided (RHIDP-4301)
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 08c23f1c1295ee40364415660d4cc60a20ff8c06
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[release-1.3] RHIDP-4330 - Topology plugin updates (#585)
  modules/dynamic-plugins/proc-using-topology-plugin.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

[release-1.3] RHIDP-4332 - Formatted user-replaced values (#586)
  modules/admin/ref-rbac-rest-api-endpoints.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 8abf8f21aef390390a53db1326d31b624a2fbb1a
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[release-1.3] RHIDP-4187 [DOC] Getting Started >Customizing the Home Page 4.1 and 4.2 header update (#587)
  modules/getting-started/proc-customize-rhdh-homepage.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: d5eb2e6fe1f046450bbda596b16d0da38d256c1b
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[release-1.3] chore: fix rendering bug in pantheon when more than one link on the same line and no link text provided (RHIDP-4301) (#588)
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 03bc3b96db6bf0048c630fd42503d8ad4cf3d8cc
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 5065d4d3c06dd9e82977b384252fecaa4a6f69f4
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Removing duplicate fixes
  modules/getting-started/proc-customize-rhdh-homepage.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

RHIDP-4050, 4099, 4324: Fix doc issues
  modules/getting-started/proc-customize-rhdh-homepage.adoc
  modules/getting-started/proc-customize-rhdh-learning-paths.adoc
  modules/installation/proc-rhdh-deploy-eks-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020, @themr0c

deploy: 2970d3a5e6d5b011f729dd044580fe2cdf8ae657
  pr-589/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-589/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-589/admin-rhdh/images/rhdh/operator-install-2.png
  pr-589/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-589/admin-rhdh/images/rhdh/template-editor.png
  pr-589/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-589/admin-rhdh/index.html
  pr-589/authentication/index.html
  pr-589/authorization/index.html
  pr-589/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-589/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-589/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-589/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-589/getting-started-rhdh/index.html
  pr-589/index.html
  pr-589/install-rhdh-air-gapped/index.html
  pr-589/install-rhdh-aks/index.html
  pr-589/install-rhdh-eks/index.html
  pr-589/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-589/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-589/install-rhdh-ocp/index.html
  pr-589/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-589/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-589/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-589/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-589/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-589/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-589/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-589/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-589/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-589/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-589/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-589/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-589/plugin-rhdh/index.html
  pr-589/rel-notes-rhdh/index.html
  pr-589/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[1.2.x] RHIDP-4050, 4099: Fix doc issues (#589)
  modules/getting-started/proc-customize-rhdh-learning-paths.adoc
  modules/installation/proc-rhdh-deploy-eks-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020, @themr0c

deploy: 703cb20eda538b02ef550830c054f9b8b4ff2ac7
  1.2.x/admin-rhdh/index.html
  1.2.x/authentication/index.html
  1.2.x/authorization/index.html
  1.2.x/getting-started-rhdh/index.html
  1.2.x/install-rhdh-air-gapped/index.html
  1.2.x/install-rhdh-aks/index.html
  1.2.x/install-rhdh-eks/index.html
  1.2.x/install-rhdh-ocp/index.html
  1.2.x/plugin-rhdh/index.html
  1.2.x/rel-notes-rhdh/index.html
  1.2.x/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

added attribute
  assemblies/assembly-add-custom-app-file-openshift.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-4345 - Fix link in Using Dynamic Plugins
  artifacts/rhdh-plugins-reference/argocd/argocd-plugin-user.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

added attribute
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
Owners: @redhat-developer/rhdh-content, @themr0c, @josephca, @schultzp2020

deploy: 08c23f1c1295ee40364415660d4cc60a20ff8c06
  pr-590/admin-rhdh/index.html
  pr-590/authentication/index.html
  pr-590/authorization/index.html
  pr-590/getting-started-rhdh/index.html
  pr-590/install-rhdh-air-gapped/index.html
  pr-590/install-rhdh-aks/index.html
  pr-590/install-rhdh-eks/index.html
  pr-590/install-rhdh-ocp/index.html
  pr-590/install-rhdh-osd-gcp/index.html
  pr-590/plugin-rhdh/index.html
  pr-590/plugins-rhdh-about/index.html
  pr-590/plugins-rhdh-configure/index.html
  pr-590/plugins-rhdh-install/index.html
  pr-590/plugins-rhdh-reference/index.html
  pr-590/plugins-rhdh-troubleshooting/index.html
  pr-590/plugins-rhdh-using/index.html
  pr-590/rel-notes-rhdh/index.html
  pr-590/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 703cb20eda538b02ef550830c054f9b8b4ff2ac7
  pr-592/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-592/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-592/admin-rhdh/images/rhdh/operator-install-2.png
  pr-592/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-592/admin-rhdh/images/rhdh/template-editor.png
  pr-592/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-592/admin-rhdh/index.html
  pr-592/authentication/index.html
  pr-592/authorization/index.html
  pr-592/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-592/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-592/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-592/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-592/getting-started-rhdh/index.html
  pr-592/index.html
  pr-592/install-rhdh-air-gapped/index.html
  pr-592/install-rhdh-aks/index.html
  pr-592/install-rhdh-eks/index.html
  pr-592/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-592/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-592/install-rhdh-ocp/index.html
  pr-592/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-592/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-592/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-592/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-592/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-592/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-592/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-592/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-592/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-592/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-592/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-592/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-592/plugin-rhdh/index.html
  pr-592/rel-notes-rhdh/index.html
  pr-592/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 703cb20eda538b02ef550830c054f9b8b4ff2ac7
  pr-592/admin-rhdh/index.html
  pr-592/authentication/index.html
  pr-592/authorization/index.html
  pr-592/getting-started-rhdh/index.html
  pr-592/install-rhdh-air-gapped/index.html
  pr-592/install-rhdh-aks/index.html
  pr-592/install-rhdh-eks/index.html
  pr-592/install-rhdh-ocp/index.html
  pr-592/plugin-rhdh/index.html
  pr-592/rel-notes-rhdh/index.html
  pr-592/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-4362 - Fix link in Using Dynamic Plugins
  modules/dynamic-plugins/proc-using-topology-plugin.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

RHIDP-4362 - Add VM images to Using Dynamic Plugins docs
  modules/dynamic-plugins/proc-using-topology-plugin.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

RHIDP-4362 - Add VM images to Using Dynamic Plugins docs
  modules/dynamic-plugins/proc-using-topology-plugin.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

RHIDP-4362 - Add VM images to Using Dynamic Plugins docs
  images/rhdh-plugins-reference/topology-vm-1.png
  images/rhdh-plugins-reference/topology-vm-2.png
  images/rhdh-plugins-reference/topology-vm-3.png
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 08c23f1c1295ee40364415660d4cc60a20ff8c06
  pr-480/admin-rhdh/index.html
  pr-480/authentication/index.html
  pr-480/authorization/index.html
  pr-480/getting-started-rhdh/index.html
  pr-480/install-rhdh-air-gapped/index.html
  pr-480/install-rhdh-aks/index.html
  pr-480/install-rhdh-eks/index.html
  pr-480/install-rhdh-ocp/index.html
  pr-480/install-rhdh-osd-gcp/index.html
  pr-480/plugin-rhdh/index.html
  pr-480/plugins-rhdh-about/index.html
  pr-480/plugins-rhdh-configure/index.html
  pr-480/plugins-rhdh-install/images/rhdh/operator-install-2.png
  pr-480/plugins-rhdh-install/index.html
  pr-480/plugins-rhdh-reference/index.html
  pr-480/plugins-rhdh-troubleshooting/index.html
  pr-480/plugins-rhdh-using/images/rhdh-plugins-reference/argocd.png
  pr-480/plugins-rhdh-using/images/rhdh-plugins-reference/deployment_summary.png
  pr-480/plugins-rhdh-using/images/rhdh-plugins-reference/group1.jpg
  pr-480/plugins-rhdh-using/images/rhdh-plugins-reference/link.png
  pr-480/plugins-rhdh-using/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-480/plugins-rhdh-using/images/rhdh-plugins-reference/sidebar.png
  pr-480/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-480/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-480/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user1.png
  pr-480/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user2.png
  pr-480/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user3.png
  pr-480/plugins-rhdh-using/images/rhdh-plugins-reference/user-list.jpg
  pr-480/plugins-rhdh-using/images/rhdh-plugins-reference/user2.jpg
  pr-480/plugins-rhdh-using/images/rhdh-plugins-reference/users.jpg
  pr-480/plugins-rhdh-using/index.html
  pr-480/rel-notes-rhdh/index.html
  pr-480/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 08c23f1c1295ee40364415660d4cc60a20ff8c06
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/install-rhdh-osd-gcp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/plugins-rhdh-about/index.html
  pr-492/plugins-rhdh-configure/index.html
  pr-492/plugins-rhdh-install/images/rhdh/operator-install-2.png
  pr-492/plugins-rhdh-install/index.html
  pr-492/plugins-rhdh-reference/index.html
  pr-492/plugins-rhdh-troubleshooting/index.html
  pr-492/plugins-rhdh-using/images/rhdh-plugins-reference/argocd.png
  pr-492/plugins-rhdh-using/images/rhdh-plugins-reference/deployment_summary.png
  pr-492/plugins-rhdh-using/images/rhdh-plugins-reference/group1.jpg
  pr-492/plugins-rhdh-using/images/rhdh-plugins-reference/link.png
  pr-492/plugins-rhdh-using/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-492/plugins-rhdh-using/images/rhdh-plugins-reference/sidebar.png
  pr-492/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-492/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-492/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user1.png
  pr-492/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user2.png
  pr-492/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user3.png
  pr-492/plugins-rhdh-using/images/rhdh-plugins-reference/user-list.jpg
  pr-492/plugins-rhdh-using/images/rhdh-plugins-reference/user2.jpg
  pr-492/plugins-rhdh-using/images/rhdh-plugins-reference/users.jpg
  pr-492/plugins-rhdh-using/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

docs: updated procedure
  artifacts/attributes.adoc
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @hmanwani-rh, @themr0c, @kim-tsao, @JessicaJHee, @04kash

deploy: 08c23f1c1295ee40364415660d4cc60a20ff8c06
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/install-rhdh-osd-gcp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/plugins-rhdh-about/index.html
  pr-492/plugins-rhdh-configure/index.html
  pr-492/plugins-rhdh-install/index.html
  pr-492/plugins-rhdh-reference/index.html
  pr-492/plugins-rhdh-troubleshooting/index.html
  pr-492/plugins-rhdh-using/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

docs: applied suggestion
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 08c23f1c1295ee40364415660d4cc60a20ff8c06
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/install-rhdh-osd-gcp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/plugins-rhdh-about/index.html
  pr-492/plugins-rhdh-configure/index.html
  pr-492/plugins-rhdh-install/index.html
  pr-492/plugins-rhdh-reference/index.html
  pr-492/plugins-rhdh-troubleshooting/index.html
  pr-492/plugins-rhdh-using/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 08c23f1c1295ee40364415660d4cc60a20ff8c06
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/install-rhdh-osd-gcp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/plugins-rhdh-about/index.html
  pr-492/plugins-rhdh-configure/index.html
  pr-492/plugins-rhdh-install/index.html
  pr-492/plugins-rhdh-reference/index.html
  pr-492/plugins-rhdh-troubleshooting/index.html
  pr-492/plugins-rhdh-using/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

docs: tidy
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 08c23f1c1295ee40364415660d4cc60a20ff8c06
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/install-rhdh-osd-gcp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/plugins-rhdh-about/index.html
  pr-492/plugins-rhdh-configure/index.html
  pr-492/plugins-rhdh-install/index.html
  pr-492/plugins-rhdh-reference/index.html
  pr-492/plugins-rhdh-troubleshooting/index.html
  pr-492/plugins-rhdh-using/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

docs: tidy
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 08c23f1c1295ee40364415660d4cc60a20ff8c06
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/install-rhdh-osd-gcp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/plugins-rhdh-about/index.html
  pr-492/plugins-rhdh-configure/index.html
  pr-492/plugins-rhdh-install/index.html
  pr-492/plugins-rhdh-reference/index.html
  pr-492/plugins-rhdh-troubleshooting/index.html
  pr-492/plugins-rhdh-using/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

docs: formatting
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
