Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

Update modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: db9704c81200ad1c96defae7c2230896d7707e5e
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

docs: added procedure
  assemblies/assembly-authenticating-with-rhsso.adoc
  modules/authentication/proc-enabling-authentication-with-rhsso.adoc
  modules/authentication/proc-provisioning-users-from-rhsso-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @hmanwani-rh, @themr0c, @kim-tsao, @JessicaJHee, @04kash

deploy: db9704c81200ad1c96defae7c2230896d7707e5e
  pr-480/admin-rhdh/index.html
  pr-480/authentication/index.html
  pr-480/authorization/index.html
  pr-480/getting-started-rhdh/index.html
  pr-480/install-rhdh-air-gapped/index.html
  pr-480/install-rhdh-aks/index.html
  pr-480/install-rhdh-eks/index.html
  pr-480/install-rhdh-ocp/index.html
  pr-480/plugin-rhdh/index.html
  pr-480/rel-notes-rhdh/index.html
  pr-480/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

docs: added procedure
  modules/authentication/proc-provisioning-users-from-rhsso-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: db9704c81200ad1c96defae7c2230896d7707e5e
  pr-480/admin-rhdh/index.html
  pr-480/authentication/index.html
  pr-480/authorization/index.html
  pr-480/getting-started-rhdh/index.html
  pr-480/install-rhdh-air-gapped/index.html
  pr-480/install-rhdh-aks/index.html
  pr-480/install-rhdh-eks/index.html
  pr-480/install-rhdh-ocp/index.html
  pr-480/plugin-rhdh/index.html
  pr-480/rel-notes-rhdh/index.html
  pr-480/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: db9704c81200ad1c96defae7c2230896d7707e5e
  pr-480/admin-rhdh/index.html
  pr-480/authentication/index.html
  pr-480/authorization/index.html
  pr-480/getting-started-rhdh/index.html
  pr-480/install-rhdh-air-gapped/index.html
  pr-480/install-rhdh-aks/index.html
  pr-480/install-rhdh-eks/index.html
  pr-480/install-rhdh-ocp/index.html
  pr-480/plugin-rhdh/index.html
  pr-480/rel-notes-rhdh/index.html
  pr-480/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

docs: added procedure
  modules/authentication/proc-provisioning-users-from-rhsso-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: db9704c81200ad1c96defae7c2230896d7707e5e
  pr-480/admin-rhdh/index.html
  pr-480/authentication/index.html
  pr-480/authorization/index.html
  pr-480/getting-started-rhdh/index.html
  pr-480/install-rhdh-air-gapped/index.html
  pr-480/install-rhdh-aks/index.html
  pr-480/install-rhdh-eks/index.html
  pr-480/install-rhdh-ocp/index.html
  pr-480/plugin-rhdh/index.html
  pr-480/rel-notes-rhdh/index.html
  pr-480/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: db9704c81200ad1c96defae7c2230896d7707e5e
  pr-525/admin-rhdh/index.html
  pr-525/authentication/index.html
  pr-525/authorization/index.html
  pr-525/getting-started-rhdh/index.html
  pr-525/install-rhdh-air-gapped/index.html
  pr-525/install-rhdh-aks/index.html
  pr-525/install-rhdh-eks/index.html
  pr-525/install-rhdh-ocp/index.html
  pr-525/plugin-rhdh/index.html
  pr-525/rel-notes-rhdh/index.html
  pr-525/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Modifies the Customizing Home Page
  modules/getting-started/proc-customize-rhdh-homepage.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: db9704c81200ad1c96defae7c2230896d7707e5e
  pr-529/admin-rhdh/index.html
  pr-529/authentication/index.html
  pr-529/authorization/index.html
  pr-529/getting-started-rhdh/index.html
  pr-529/install-rhdh-air-gapped/index.html
  pr-529/install-rhdh-aks/index.html
  pr-529/install-rhdh-eks/index.html
  pr-529/install-rhdh-ocp/index.html
  pr-529/plugin-rhdh/index.html
  pr-529/rel-notes-rhdh/index.html
  pr-529/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Modifies the Customizing Home Page
  modules/getting-started/proc-customize-rhdh-homepage.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: db9704c81200ad1c96defae7c2230896d7707e5e
  pr-529/admin-rhdh/index.html
  pr-529/authentication/index.html
  pr-529/authorization/index.html
  pr-529/getting-started-rhdh/index.html
  pr-529/install-rhdh-air-gapped/index.html
  pr-529/install-rhdh-aks/index.html
  pr-529/install-rhdh-eks/index.html
  pr-529/install-rhdh-ocp/index.html
  pr-529/plugin-rhdh/index.html
  pr-529/rel-notes-rhdh/index.html
  pr-529/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

docs(rbac): Document how to mount the RBAC policy CSV file using the Operator [RHIDP-1783] (#499)
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
  modules/admin/con-rbac-config-permission-policies-external-file.adoc
  modules/admin/proc-mounting-the-policy-csv-file-using-helm.adoc
  modules/admin/proc-mounting-the-policy-csv-file-using-the-operator.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

deploy: 592d29d687611d38e929b52e42750fbb7da9268e
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Apply suggestions from code review
  modules/admin/proc-mounting-the-policy-csv-file-using-the-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

Document how to mount the RBAC policy CSV file using the Operator
  modules/admin/con-rbac-config-permission-policies-external-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

Move operator procedure to a dedicated proc file
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
  modules/admin/con-rbac-config-permission-policies-external-file.adoc
  modules/admin/proc-mounting-the-policy-csv-file-using-the-operator.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

Fix how `Verification` renders after the Operator procedure
  modules/admin/proc-mounting-the-policy-csv-file-using-the-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

Move Helm procedure to a dedicated proc file, for consistency
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
  modules/admin/con-rbac-config-permission-policies-external-file.adoc
  modules/admin/proc-mounting-the-policy-csv-file-using-helm.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

Apply suggestions from code review
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
  modules/admin/proc-mounting-the-policy-csv-file-using-the-operator.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

[release-1.3] docs(rbac): Document how to mount the RBAC policy CSV file using the Operator [RHIDP-1783] (#533)
  assemblies/assembly-configuring-authorization-in-rhdh.adoc
  modules/admin/con-rbac-config-permission-policies-external-file.adoc
  modules/admin/proc-mounting-the-policy-csv-file-using-helm.adoc
  modules/admin/proc-mounting-the-policy-csv-file-using-the-operator.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

deploy: c87343fdbed2153879056937d3d15d76dfcc3378
  pr-533/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-533/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-533/admin-rhdh/images/rhdh/operator-install-2.png
  pr-533/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-533/admin-rhdh/images/rhdh/template-editor.png
  pr-533/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-533/admin-rhdh/index.html
  pr-533/authentication/index.html
  pr-533/authorization/index.html
  pr-533/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-533/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-533/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-533/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-533/getting-started-rhdh/index.html
  pr-533/index.html
  pr-533/install-rhdh-air-gapped/index.html
  pr-533/install-rhdh-aks/index.html
  pr-533/install-rhdh-eks/index.html
  pr-533/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-533/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-533/install-rhdh-ocp/index.html
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-533/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-533/plugin-rhdh/index.html
  pr-533/rel-notes-rhdh/index.html
  pr-533/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ed69be084dfcba117408e491951b4b2ffda00777
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

remove merged PR branches
  pr-533/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-533/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-533/admin-rhdh/images/rhdh/operator-install-2.png
  pr-533/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-533/admin-rhdh/images/rhdh/template-editor.png
  pr-533/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-533/admin-rhdh/index.html
  pr-533/authentication/index.html
  pr-533/authorization/index.html
  pr-533/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-533/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-533/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-533/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-533/getting-started-rhdh/index.html
  pr-533/index.html
  pr-533/install-rhdh-air-gapped/index.html
  pr-533/install-rhdh-aks/index.html
  pr-533/install-rhdh-eks/index.html
  pr-533/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-533/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-533/install-rhdh-ocp/index.html
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-533/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-533/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-533/plugin-rhdh/index.html
  pr-533/rel-notes-rhdh/index.html
  pr-533/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3389: Install and Run RHDH on OSD on GCP (#509)
  artifacts/attributes.adoc
  assemblies/assembly-install-rhdh-osd-gcp.adoc
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
  modules/installation/proc-install-rhdh-osd-gcp-operator.adoc
  titles/install-rhdh-osd-gcp/artifacts
  titles/install-rhdh-osd-gcp/assemblies
  titles/install-rhdh-osd-gcp/docinfo.xml
  titles/install-rhdh-osd-gcp/images
  titles/install-rhdh-osd-gcp/master.adoc
  titles/install-rhdh-osd-gcp/modules
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @schultzp2020

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Fixed links
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
  modules/installation/proc-install-rhdh-osd-gcp-operator.adoc
Owners: @redhat-developer/rhdh-content, @themr0c, @josephca, @schultzp2020

Peer review comments
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
  modules/installation/proc-install-rhdh-osd-gcp-operator.adoc
Owners: @redhat-developer/rhdh-content, @themr0c, @josephca, @schultzp2020

RHIDP-3389: Install and Run RHDH on OSD on GCP
  artifacts/attributes.adoc
  assemblies/assembly-install-rhdh-osd-gcp.adoc
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
  modules/installation/proc-install-rhdh-osd-gcp-operator.adoc
  titles/install-rhdh-osd-gcp/artifacts
  titles/install-rhdh-osd-gcp/assemblies
  titles/install-rhdh-osd-gcp/docinfo.xml
  titles/install-rhdh-osd-gcp/images
  titles/install-rhdh-osd-gcp/master.adoc
  titles/install-rhdh-osd-gcp/modules
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @schultzp2020

Peer suggestion
  titles/install-rhdh-osd-gcp/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

SME review suggestions incorporated
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
Owners: @redhat-developer/rhdh-content, @themr0c, @josephca, @schultzp2020

remove merged PR branches
  pr-509/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-509/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-509/admin-rhdh/images/rhdh/operator-install-2.png
  pr-509/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-509/admin-rhdh/images/rhdh/template-editor.png
  pr-509/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-509/admin-rhdh/index.html
  pr-509/authentication/index.html
  pr-509/authorization/index.html
  pr-509/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-509/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-509/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-509/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-509/getting-started-rhdh/index.html
  pr-509/index.html
  pr-509/install-rhdh-air-gapped/index.html
  pr-509/install-rhdh-aks/index.html
  pr-509/install-rhdh-eks/index.html
  pr-509/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-509/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-509/install-rhdh-ocp/index.html
  pr-509/install-rhdh-osd-gcp/index.html
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-509/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-509/plugin-rhdh/index.html
  pr-509/rel-notes-rhdh/index.html
  pr-509/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 592d29d687611d38e929b52e42750fbb7da9268e
  pr-509/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-509/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-509/admin-rhdh/images/rhdh/operator-install-2.png
  pr-509/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-509/admin-rhdh/images/rhdh/template-editor.png
  pr-509/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-509/admin-rhdh/index.html
  pr-509/authentication/index.html
  pr-509/authorization/index.html
  pr-509/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-509/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-509/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-509/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-509/getting-started-rhdh/index.html
  pr-509/index.html
  pr-509/install-rhdh-air-gapped/index.html
  pr-509/install-rhdh-aks/index.html
  pr-509/install-rhdh-eks/index.html
  pr-509/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-509/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-509/install-rhdh-ocp/index.html
  pr-509/install-rhdh-osd-gcp/index.html
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-509/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-509/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-509/plugin-rhdh/index.html
  pr-509/rel-notes-rhdh/index.html
  pr-509/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ed69be084dfcba117408e491951b4b2ffda00777
  pr-534/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-534/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-534/admin-rhdh/images/rhdh/operator-install-2.png
  pr-534/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-534/admin-rhdh/images/rhdh/template-editor.png
  pr-534/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-534/admin-rhdh/index.html
  pr-534/authentication/index.html
  pr-534/authorization/index.html
  pr-534/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-534/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-534/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-534/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-534/getting-started-rhdh/index.html
  pr-534/index.html
  pr-534/install-rhdh-air-gapped/index.html
  pr-534/install-rhdh-aks/index.html
  pr-534/install-rhdh-eks/index.html
  pr-534/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-534/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-534/install-rhdh-ocp/index.html
  pr-534/install-rhdh-osd-gcp/index.html
  pr-534/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-534/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-534/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-534/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-534/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-534/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-534/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-534/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-534/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-534/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-534/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-534/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-534/plugin-rhdh/index.html
  pr-534/rel-notes-rhdh/index.html
  pr-534/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[release-1.3] RHIDP-3389: Install and Run RHDH on OSD on GCP (#534)
  artifacts/attributes.adoc
  assemblies/assembly-install-rhdh-osd-gcp.adoc
  modules/installation/proc-install-rhdh-osd-gcp-helm.adoc
  modules/installation/proc-install-rhdh-osd-gcp-operator.adoc
  titles/install-rhdh-osd-gcp/artifacts
  titles/install-rhdh-osd-gcp/assemblies
  titles/install-rhdh-osd-gcp/docinfo.xml
  titles/install-rhdh-osd-gcp/images
  titles/install-rhdh-osd-gcp/master.adoc
  titles/install-rhdh-osd-gcp/modules
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @schultzp2020

deploy: 6dd9bc4ee264a6b622123878adeb5862efb494c9
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 428eb5ededaa63f5af8ad090be889575aa8af932
  pr-527/admin-rhdh/index.html
  pr-527/authentication/index.html
  pr-527/authorization/index.html
  pr-527/getting-started-rhdh/index.html
  pr-527/install-rhdh-air-gapped/index.html
  pr-527/install-rhdh-aks/index.html
  pr-527/install-rhdh-eks/index.html
  pr-527/install-rhdh-ocp/index.html
  pr-527/plugin-rhdh/index.html
  pr-527/rel-notes-rhdh/index.html
  pr-527/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[1.2.x] Fix: Added archived module (#527)
  archive/proc-customize-rhdh-branding.adoc
  assemblies/assembly-customize-rhdh-theme.adoc
  modules/customization/proc-customize-rhdh-branding-logo.adoc
  modules/customization/proc-customize-rhdh-sidebar-logo.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
