Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

chore: add missing content about renamed plugins; fix links to the new books and remove hardcoded link to 1.2 docs (RHIDP-4293)
  artifacts/attributes.adoc
  artifacts/rhdh-plugins-reference/argocd/argocd-plugin-admin.adoc
  assemblies/assembly-release-notes-breaking-changes.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
  modules/release-notes/snip-removed-functionality-rhidp-4293.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

chore(broken link): fix link to https://github.com/janus-idp/backstage-showcase/blob/main/docs/auth.md#enabling-authentication-in-showcase RHIDP-4294 (#569)
  modules/getting-started/proc-adding-github-to-frontend.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

chore(broken link): fix link to https://github.com/janus-idp/backstage-showcase/blob/main/docs/auth.md#enabling-authentication-in-showcase RHIDP-4294
  modules/getting-started/proc-adding-github-to-frontend.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

Update artifacts/rhdh-plugins-reference/argocd/argocd-plugin-admin.adoc
  artifacts/rhdh-plugins-reference/argocd/argocd-plugin-admin.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 7251708393629b34f70c22285597d6175347bc1c
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 7251708393629b34f70c22285597d6175347bc1c
  pr-570/admin-rhdh/index.html
  pr-570/authentication/index.html
  pr-570/authorization/index.html
  pr-570/getting-started-rhdh/index.html
  pr-570/install-rhdh-air-gapped/index.html
  pr-570/install-rhdh-aks/index.html
  pr-570/install-rhdh-eks/index.html
  pr-570/install-rhdh-ocp/index.html
  pr-570/install-rhdh-osd-gcp/index.html
  pr-570/plugin-rhdh/index.html
  pr-570/plugins-rhdh-about/index.html
  pr-570/plugins-rhdh-configure/index.html
  pr-570/plugins-rhdh-install/index.html
  pr-570/plugins-rhdh-reference/index.html
  pr-570/plugins-rhdh-troubleshooting/index.html
  pr-570/plugins-rhdh-using/index.html
  pr-570/rel-notes-rhdh/index.html
  pr-570/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update artifacts/rhdh-plugins-reference/argocd/argocd-plugin-admin.adoc
  artifacts/rhdh-plugins-reference/argocd/argocd-plugin-admin.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 7251708393629b34f70c22285597d6175347bc1c
  pr-570/admin-rhdh/index.html
  pr-570/authentication/index.html
  pr-570/authorization/index.html
  pr-570/getting-started-rhdh/index.html
  pr-570/install-rhdh-air-gapped/index.html
  pr-570/install-rhdh-aks/index.html
  pr-570/install-rhdh-eks/index.html
  pr-570/install-rhdh-ocp/index.html
  pr-570/install-rhdh-osd-gcp/index.html
  pr-570/plugin-rhdh/index.html
  pr-570/plugins-rhdh-about/index.html
  pr-570/plugins-rhdh-configure/index.html
  pr-570/plugins-rhdh-install/index.html
  pr-570/plugins-rhdh-reference/index.html
  pr-570/plugins-rhdh-troubleshooting/index.html
  pr-570/plugins-rhdh-using/index.html
  pr-570/rel-notes-rhdh/index.html
  pr-570/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update artifacts/attributes.adoc
  artifacts/attributes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 7251708393629b34f70c22285597d6175347bc1c
  pr-570/admin-rhdh/index.html
  pr-570/authentication/index.html
  pr-570/authorization/index.html
  pr-570/getting-started-rhdh/index.html
  pr-570/install-rhdh-air-gapped/index.html
  pr-570/install-rhdh-aks/index.html
  pr-570/install-rhdh-eks/index.html
  pr-570/install-rhdh-ocp/index.html
  pr-570/install-rhdh-osd-gcp/index.html
  pr-570/plugin-rhdh/index.html
  pr-570/plugins-rhdh-about/index.html
  pr-570/plugins-rhdh-configure/index.html
  pr-570/plugins-rhdh-install/index.html
  pr-570/plugins-rhdh-reference/index.html
  pr-570/plugins-rhdh-troubleshooting/index.html
  pr-570/plugins-rhdh-using/index.html
  pr-570/rel-notes-rhdh/index.html
  pr-570/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Apply suggestions from code review
  artifacts/attributes.adoc
  artifacts/rhdh-plugins-reference/argocd/argocd-plugin-admin.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

Update modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 7251708393629b34f70c22285597d6175347bc1c
  pr-570/admin-rhdh/index.html
  pr-570/authentication/index.html
  pr-570/authorization/index.html
  pr-570/getting-started-rhdh/index.html
  pr-570/install-rhdh-air-gapped/index.html
  pr-570/install-rhdh-aks/index.html
  pr-570/install-rhdh-eks/index.html
  pr-570/install-rhdh-ocp/index.html
  pr-570/install-rhdh-osd-gcp/index.html
  pr-570/plugin-rhdh/index.html
  pr-570/plugins-rhdh-about/index.html
  pr-570/plugins-rhdh-configure/index.html
  pr-570/plugins-rhdh-install/index.html
  pr-570/plugins-rhdh-reference/index.html
  pr-570/plugins-rhdh-troubleshooting/index.html
  pr-570/plugins-rhdh-using/index.html
  pr-570/rel-notes-rhdh/index.html
  pr-570/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Apply suggestions from code review
  modules/release-notes/snip-removed-functionality-rhidp-4293.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

Update modules/release-notes/snip-removed-functionality-rhidp-4293.adoc
  modules/release-notes/snip-removed-functionality-rhidp-4293.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

Update modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 7251708393629b34f70c22285597d6175347bc1c
  pr-570/admin-rhdh/index.html
  pr-570/authentication/index.html
  pr-570/authorization/index.html
  pr-570/getting-started-rhdh/index.html
  pr-570/install-rhdh-air-gapped/index.html
  pr-570/install-rhdh-aks/index.html
  pr-570/install-rhdh-eks/index.html
  pr-570/install-rhdh-ocp/index.html
  pr-570/install-rhdh-osd-gcp/index.html
  pr-570/plugin-rhdh/index.html
  pr-570/plugins-rhdh-about/index.html
  pr-570/plugins-rhdh-configure/index.html
  pr-570/plugins-rhdh-install/index.html
  pr-570/plugins-rhdh-reference/index.html
  pr-570/plugins-rhdh-troubleshooting/index.html
  pr-570/plugins-rhdh-using/index.html
  pr-570/rel-notes-rhdh/index.html
  pr-570/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update artifacts/rhdh-plugins-reference/argocd/argocd-plugin-admin.adoc
  artifacts/rhdh-plugins-reference/argocd/argocd-plugin-admin.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 7251708393629b34f70c22285597d6175347bc1c
  pr-570/admin-rhdh/index.html
  pr-570/authentication/index.html
  pr-570/authorization/index.html
  pr-570/getting-started-rhdh/index.html
  pr-570/install-rhdh-air-gapped/index.html
  pr-570/install-rhdh-aks/index.html
  pr-570/install-rhdh-eks/index.html
  pr-570/install-rhdh-ocp/index.html
  pr-570/install-rhdh-osd-gcp/index.html
  pr-570/plugin-rhdh/index.html
  pr-570/plugins-rhdh-about/index.html
  pr-570/plugins-rhdh-configure/index.html
  pr-570/plugins-rhdh-install/index.html
  pr-570/plugins-rhdh-reference/index.html
  pr-570/plugins-rhdh-troubleshooting/index.html
  pr-570/plugins-rhdh-using/index.html
  pr-570/rel-notes-rhdh/index.html
  pr-570/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[release-1.3] chore(broken link): fix link to https://github.com/janus-idp/backstage-showcase/blob/main/docs/auth.md#enabling-authentication-in-showcase RHIDP-4294 (#571)
  modules/getting-started/proc-adding-github-to-frontend.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: bad960bdfb17ada04f003eab6b8b04cb7f646203
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: add missing content about renamed plugins; fix links to the new books and remove hardcoded link to 1.2 docs (RHIDP-4293) (#570)
  artifacts/attributes.adoc
  artifacts/rhdh-plugins-reference/argocd/argocd-plugin-admin.adoc
  assemblies/assembly-release-notes-breaking-changes.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
  modules/release-notes/snip-removed-functionality-rhidp-4293.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

deploy: 77d7f9dd7617fd2eb4def0e3cf2882d479492be8
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: add missing content about renamed plugins; fix links to the new books and remove hardcoded link to 1.2 docs (RHIDP-4293) (#570)
  artifacts/attributes.adoc
  artifacts/rhdh-plugins-reference/argocd/argocd-plugin-admin.adoc
  assemblies/assembly-release-notes-breaking-changes.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
  modules/release-notes/snip-removed-functionality-rhidp-4293.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

Cherry pick #570 (#572)
  artifacts/attributes.adoc
  artifacts/rhdh-plugins-reference/argocd/argocd-plugin-admin.adoc
  assemblies/assembly-release-notes-breaking-changes.adoc
  modules/release-notes/snip-removed-functionality-rhidp-3187.adoc
  modules/release-notes/snip-removed-functionality-rhidp-4293.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @nickboldt

deploy: 654aa826f558e87a667136c420b02ae35eb97423
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Modifies the customizing Home page
  modules/getting-started/proc-customize-rhdh-homepage.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: 77d7f9dd7617fd2eb4def0e3cf2882d479492be8
  pr-529/admin-rhdh/index.html
  pr-529/authentication/index.html
  pr-529/authorization/index.html
  pr-529/getting-started-rhdh/index.html
  pr-529/install-rhdh-air-gapped/index.html
  pr-529/install-rhdh-aks/index.html
  pr-529/install-rhdh-eks/index.html
  pr-529/install-rhdh-ocp/index.html
  pr-529/plugin-rhdh/index.html
  pr-529/rel-notes-rhdh/index.html
  pr-529/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

HIDP-3440-plugins-1-3-using-dynamic-plugins Manual cherrypick
  artifacts/rhdh-plugins-reference/argocd/argocd-plugin-user.adoc
  artifacts/rhdh-plugins-reference/keycloak/keycloak-plugin-user.adoc
  artifacts/rhdh-plugins-reference/nexus-repository-manager/nexus-repository-manager-plugin-user.adoc
  artifacts/rhdh-plugins-reference/tekton/tekton-plugin-user.adoc
  assemblies/dynamic-plugins/assembly-using-rhdh-plugins.adoc
  modules/dynamic-plugins/con-ansible-plugin-user.adoc
  modules/dynamic-plugins/proc-using-topology-plugin.adoc
  titles/plugins-rhdh-using/docinfo.xml
  titles/plugins-rhdh-using/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: 654aa826f558e87a667136c420b02ae35eb97423
  pr-573/admin-rhdh/index.html
  pr-573/authentication/index.html
  pr-573/authorization/index.html
  pr-573/getting-started-rhdh/index.html
  pr-573/install-rhdh-air-gapped/index.html
  pr-573/install-rhdh-aks/index.html
  pr-573/install-rhdh-eks/index.html
  pr-573/install-rhdh-ocp/index.html
  pr-573/install-rhdh-osd-gcp/index.html
  pr-573/plugin-rhdh/index.html
  pr-573/plugins-rhdh-about/index.html
  pr-573/plugins-rhdh-configure/index.html
  pr-573/plugins-rhdh-install/index.html
  pr-573/plugins-rhdh-reference/index.html
  pr-573/plugins-rhdh-troubleshooting/index.html
  pr-573/plugins-rhdh-using/index.html
  pr-573/rel-notes-rhdh/index.html
  pr-573/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

HIDP-3440-plugins-1-3-using-dynamic-plugins Manual cherrypick (#573)
  artifacts/rhdh-plugins-reference/argocd/argocd-plugin-user.adoc
  artifacts/rhdh-plugins-reference/keycloak/keycloak-plugin-user.adoc
  artifacts/rhdh-plugins-reference/nexus-repository-manager/nexus-repository-manager-plugin-user.adoc
  artifacts/rhdh-plugins-reference/tekton/tekton-plugin-user.adoc
  assemblies/dynamic-plugins/assembly-using-rhdh-plugins.adoc
  modules/dynamic-plugins/con-ansible-plugin-user.adoc
  modules/dynamic-plugins/proc-using-topology-plugin.adoc
  titles/plugins-rhdh-using/docinfo.xml
  titles/plugins-rhdh-using/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: 2e8af420d49b143427cddaa5e22811ef8d451075
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/images/rhdh-plugins-reference/argocd.png
  release-1.3/plugins-rhdh-using/images/rhdh-plugins-reference/deployment_summary.png
  release-1.3/plugins-rhdh-using/images/rhdh-plugins-reference/group1.jpg
  release-1.3/plugins-rhdh-using/images/rhdh-plugins-reference/link.png
  release-1.3/plugins-rhdh-using/images/rhdh-plugins-reference/nexus-repository-manager.png
  release-1.3/plugins-rhdh-using/images/rhdh-plugins-reference/sidebar.png
  release-1.3/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  release-1.3/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  release-1.3/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user1.png
  release-1.3/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user2.png
  release-1.3/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user3.png
  release-1.3/plugins-rhdh-using/images/rhdh-plugins-reference/user-list.jpg
  release-1.3/plugins-rhdh-using/images/rhdh-plugins-reference/user2.jpg
  release-1.3/plugins-rhdh-using/images/rhdh-plugins-reference/users.jpg
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-4290 - Update CVE list for release 1.3
  assemblies/assembly-release-notes-fixed-security-issues.adoc
  build/scripts/single-source-security-fixes.sh
  cve-list.txt
  jira2asciidoc.yml
  modules/release-notes/snip-common-vulnerabilities-and-exposures.adoc
  modules/release-notes/snip-cve---common-vulnerabilities-and-exposures-rhidp-3403.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @themr0c, @nickboldt

RHIDP-3440 Fix broken links
  artifacts/attributes.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 2e8af420d49b143427cddaa5e22811ef8d451075
  pr-575/admin-rhdh/index.html
  pr-575/authentication/index.html
  pr-575/authorization/index.html
  pr-575/getting-started-rhdh/index.html
  pr-575/install-rhdh-air-gapped/index.html
  pr-575/install-rhdh-aks/index.html
  pr-575/install-rhdh-eks/index.html
  pr-575/install-rhdh-ocp/index.html
  pr-575/install-rhdh-osd-gcp/index.html
  pr-575/plugin-rhdh/index.html
  pr-575/plugins-rhdh-about/index.html
  pr-575/plugins-rhdh-configure/index.html
  pr-575/plugins-rhdh-install/index.html
  pr-575/plugins-rhdh-reference/index.html
  pr-575/plugins-rhdh-troubleshooting/index.html
  pr-575/plugins-rhdh-using/images/rhdh-plugins-reference/argocd.png
  pr-575/plugins-rhdh-using/images/rhdh-plugins-reference/deployment_summary.png
  pr-575/plugins-rhdh-using/images/rhdh-plugins-reference/group1.jpg
  pr-575/plugins-rhdh-using/images/rhdh-plugins-reference/link.png
  pr-575/plugins-rhdh-using/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-575/plugins-rhdh-using/images/rhdh-plugins-reference/sidebar.png
  pr-575/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-575/plugins-rhdh-using/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-575/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user1.png
  pr-575/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user2.png
  pr-575/plugins-rhdh-using/images/rhdh-plugins-reference/topology-tab-user3.png
  pr-575/plugins-rhdh-using/images/rhdh-plugins-reference/user-list.jpg
  pr-575/plugins-rhdh-using/images/rhdh-plugins-reference/user2.jpg
  pr-575/plugins-rhdh-using/images/rhdh-plugins-reference/users.jpg
  pr-575/plugins-rhdh-using/index.html
  pr-575/rel-notes-rhdh/index.html
  pr-575/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

chore: fix rendering bug in pantheon when more than one link on the same line and no link text provided (RHIDP-4301)
  modules/admin/proc-rbac-config-conditional-policy-file.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

use Red Hat description
  build/scripts/single-source-security-fixes.sh
  modules/release-notes/snip-common-vulnerabilities-and-exposures.adoc
Owners: @redhat-developer/rhdh-content, @themr0c, @nickboldt, @josephca, @redhat-developer/rhdh-team

deploy: 2e8af420d49b143427cddaa5e22811ef8d451075
  pr-574/admin-rhdh/index.html
  pr-574/authentication/index.html
  pr-574/authorization/index.html
  pr-574/getting-started-rhdh/index.html
  pr-574/install-rhdh-air-gapped/index.html
  pr-574/install-rhdh-aks/index.html
  pr-574/install-rhdh-eks/index.html
  pr-574/install-rhdh-ocp/index.html
  pr-574/install-rhdh-osd-gcp/index.html
  pr-574/plugin-rhdh/index.html
  pr-574/plugins-rhdh-about/index.html
  pr-574/plugins-rhdh-configure/index.html
  pr-574/plugins-rhdh-install/index.html
  pr-574/plugins-rhdh-reference/index.html
  pr-574/plugins-rhdh-troubleshooting/index.html
  pr-574/plugins-rhdh-using/index.html
  pr-574/rel-notes-rhdh/index.html
  pr-574/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

manual cleanup
  modules/release-notes/snip-common-vulnerabilities-and-exposures.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
