Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

Update docinfo.xml
  titles/plugins-rhdh-configure/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update docinfo.xml
  titles/plugins-rhdh-install/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update docinfo.xml
  titles/plugins-rhdh-reference/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update docinfo.xml
  titles/plugins-rhdh-configure/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update docinfo.xml
  titles/plugins-rhdh-troubleshooting/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update docinfo.xml
  titles/plugins-rhdh-configure/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update docinfo.xml
  titles/plugins-rhdh-install/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update docinfo.xml
  titles/plugins-rhdh-reference/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update docinfo.xml
  titles/plugins-rhdh-install/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update docinfo.xml
  titles/plugins-rhdh-troubleshooting/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update docinfo.xml
  titles/plugins-rhdh-using/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3394: Customize sidebar nav menu items
  assemblies/assembly-customize-rhdh-theme.adoc
  modules/customization/proc-customize-rhdh-sidebar-menuitems.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020

incorporated review suggestions and static menu items configuration
  modules/customization/proc-customize-rhdh-sidebar-menuitems.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

review comments
  modules/customization/proc-customize-rhdh-sidebar-menuitems.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

Review suggestions incorporated
  modules/customization/proc-customize-rhdh-sidebar-menuitems.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-490/admin-rhdh/index.html
  pr-490/authentication/index.html
  pr-490/authorization/index.html
  pr-490/getting-started-rhdh/index.html
  pr-490/index.html
  pr-490/install-rhdh-air-gapped/index.html
  pr-490/install-rhdh-aks/index.html
  pr-490/install-rhdh-eks/index.html
  pr-490/install-rhdh-ocp/index.html
  pr-490/install-rhdh-osd-gcp/index.html
  pr-490/plugin-rhdh/index.html
  pr-490/rel-notes-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update assemblies/dynamic-plugins/assembly-configuring-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-configuring-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update titles/plugins-rhdh-about/docinfo.xml
  titles/plugins-rhdh-about/docinfo.xml
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update assemblies/dynamic-plugins/assembly-configuring-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-configuring-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update assemblies/dynamic-plugins/assembly-reference-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-reference-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update assemblies/dynamic-plugins/assembly-troubleshooting-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-troubleshooting-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update assemblies/dynamic-plugins/assembly-using-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-using-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-537/admin-rhdh/index.html
  pr-537/authentication/index.html
  pr-537/authorization/index.html
  pr-537/getting-started-rhdh/index.html
  pr-537/install-rhdh-air-gapped/index.html
  pr-537/install-rhdh-aks/index.html
  pr-537/install-rhdh-eks/index.html
  pr-537/install-rhdh-ocp/index.html
  pr-537/install-rhdh-osd-gcp/index.html
  pr-537/plugin-rhdh/index.html
  pr-537/plugins-rhdh-about/index.html
  pr-537/plugins-rhdh-configure/index.html
  pr-537/plugins-rhdh-install/index.html
  pr-537/plugins-rhdh-reference/index.html
  pr-537/plugins-rhdh-troubleshooting/index.html
  pr-537/plugins-rhdh-using/index.html
  pr-537/rel-notes-rhdh/index.html
  pr-537/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-538/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-538/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-538/admin-rhdh/images/rhdh/operator-install-2.png
  pr-538/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-538/admin-rhdh/images/rhdh/template-editor.png
  pr-538/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-538/admin-rhdh/index.html
  pr-538/authentication/index.html
  pr-538/authorization/index.html
  pr-538/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-538/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-538/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-538/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-538/getting-started-rhdh/index.html
  pr-538/index.html
  pr-538/install-rhdh-air-gapped/index.html
  pr-538/install-rhdh-aks/index.html
  pr-538/install-rhdh-eks/index.html
  pr-538/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-538/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-538/install-rhdh-ocp/index.html
  pr-538/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-538/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-538/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-538/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-538/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-538/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-538/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-538/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-538/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-538/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-538/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-538/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-538/plugin-rhdh/index.html
  pr-538/rel-notes-rhdh/index.html
  pr-538/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-538/admin-rhdh/index.html
  pr-538/authentication/index.html
  pr-538/authorization/index.html
  pr-538/getting-started-rhdh/index.html
  pr-538/index.html
  pr-538/install-rhdh-air-gapped/index.html
  pr-538/install-rhdh-eks/index.html
  pr-538/install-rhdh-ocp/index.html
  pr-538/install-rhdh-osd-gcp/index.html
  pr-538/plugin-rhdh/index.html
  pr-538/rel-notes-rhdh/index.html
  pr-538/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: ba89a7da2b685cdf937ecd63b216a3f91d9d96ae
  pr-538/admin-rhdh/index.html
  pr-538/authentication/index.html
  pr-538/authorization/index.html
  pr-538/getting-started-rhdh/index.html
  pr-538/install-rhdh-air-gapped/index.html
  pr-538/install-rhdh-aks/index.html
  pr-538/install-rhdh-eks/index.html
  pr-538/install-rhdh-ocp/index.html
  pr-538/install-rhdh-osd-gcp/index.html
  pr-538/plugin-rhdh/index.html
  pr-538/rel-notes-rhdh/index.html
  pr-538/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
