Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

deploy: 49efb030b3c7c071cbb32a4e0faf3c044bcb5c27
  pr-488/admin-rhdh/index.html
  pr-488/authentication/index.html
  pr-488/authorization/index.html
  pr-488/getting-started-rhdh/index.html
  pr-488/install-rhdh-air-gapped/index.html
  pr-488/install-rhdh-aks/index.html
  pr-488/install-rhdh-eks/index.html
  pr-488/install-rhdh-ocp/index.html
  pr-488/plugin-rhdh/index.html
  pr-488/rel-notes-rhdh/index.html
  pr-488/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/auth/proc-enabling-authentication-with-rhsso.adoc
  modules/auth/proc-enabling-authentication-with-rhsso.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @schultzp2020, @PatAKnight

deploy: 49efb030b3c7c071cbb32a4e0faf3c044bcb5c27
  pr-480/admin-rhdh/index.html
  pr-480/authentication/index.html
  pr-480/authorization/index.html
  pr-480/getting-started-rhdh/index.html
  pr-480/install-rhdh-air-gapped/index.html
  pr-480/install-rhdh-aks/index.html
  pr-480/install-rhdh-eks/index.html
  pr-480/install-rhdh-ocp/index.html
  pr-480/plugin-rhdh/index.html
  pr-480/rel-notes-rhdh/index.html
  pr-480/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Apply suggestions from code review
  modules/auth/proc-enabling-authentication-with-rhsso.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @schultzp2020, @PatAKnight

deploy: 49efb030b3c7c071cbb32a4e0faf3c044bcb5c27
  pr-480/admin-rhdh/index.html
  pr-480/authentication/index.html
  pr-480/authorization/index.html
  pr-480/getting-started-rhdh/index.html
  pr-480/install-rhdh-air-gapped/index.html
  pr-480/install-rhdh-aks/index.html
  pr-480/install-rhdh-eks/index.html
  pr-480/install-rhdh-ocp/index.html
  pr-480/plugin-rhdh/index.html
  pr-480/rel-notes-rhdh/index.html
  pr-480/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Update modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
  modules/authentication/proc-enabling-authentication-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 49efb030b3c7c071cbb32a4e0faf3c044bcb5c27
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3970 Authenticating with Microsoft Azure
  assemblies/assembly-enabling-authentication.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3970 Authenticating with Microsoft Azure
  assemblies/assembly-authenticating-with-microsoft-azure.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 49efb030b3c7c071cbb32a4e0faf3c044bcb5c27
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 49efb030b3c7c071cbb32a4e0faf3c044bcb5c27
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

removing incorrect references
  modules/getting-started/proc-add-source-control-rhdh-catalog.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

RHIDP-3970 Authenticating with Microsoft Azure
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 49efb030b3c7c071cbb32a4e0faf3c044bcb5c27
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3970 Authenticating with Microsoft Azure
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

RHIDP-3970 Authenticating with Microsoft Azure
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 49efb030b3c7c071cbb32a4e0faf3c044bcb5c27
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3970 Authenticating with Microsoft Azure
  modules/authentication/proc-provisioning-users-from-microsoft-azure-to-the-software-catalog.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

deploy: 49efb030b3c7c071cbb32a4e0faf3c044bcb5c27
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 49efb030b3c7c071cbb32a4e0faf3c044bcb5c27
  pr-486/admin-rhdh/index.html
  pr-486/authentication/index.html
  pr-486/authorization/index.html
  pr-486/getting-started-rhdh/index.html
  pr-486/install-rhdh-air-gapped/index.html
  pr-486/install-rhdh-aks/index.html
  pr-486/install-rhdh-eks/index.html
  pr-486/install-rhdh-ocp/index.html
  pr-486/plugin-rhdh/index.html
  pr-486/rel-notes-rhdh/index.html
  pr-486/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 49efb030b3c7c071cbb32a4e0faf3c044bcb5c27
  pr-492/admin-rhdh/index.html
  pr-492/authentication/index.html
  pr-492/authorization/index.html
  pr-492/getting-started-rhdh/index.html
  pr-492/install-rhdh-air-gapped/index.html
  pr-492/install-rhdh-aks/index.html
  pr-492/install-rhdh-eks/index.html
  pr-492/install-rhdh-ocp/index.html
  pr-492/plugin-rhdh/index.html
  pr-492/rel-notes-rhdh/index.html
  pr-492/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3874 Authenticating with the guest user (#479)
  assemblies/assembly-authenticationg-with-the-guest-user.adoc
  assemblies/assembly-enabling-authentication.adoc
  modules/authentication/proc-authenticationg-with-the-guest-user-on-a-helm-based-installation.adoc
  modules/authentication/proc-authenticationg-with-the-guest-user-on-an-operator-based-installation.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @hmanwani-rh, @themr0c, @kim-tsao, @JessicaJHee, @04kash

deploy: 3a5edad4138d6a41862b20db545f84e83713408b
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/plugin-rhdh/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

Apply suggestions from code review
  modules/auth/proc-authenticationg-with-the-guest-user.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @schultzp2020, @PatAKnight

Update modules/auth/proc-authenticationg-with-the-guest-user.adoc
  modules/auth/proc-authenticationg-with-the-guest-user.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @schultzp2020, @PatAKnight

Update modules/auth/proc-authenticationg-with-the-guest-user.adoc
  modules/auth/proc-authenticationg-with-the-guest-user.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @schultzp2020, @PatAKnight

Update modules/auth/proc-authenticationg-with-the-guest-user.adoc
  modules/auth/proc-authenticationg-with-the-guest-user.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @schultzp2020, @PatAKnight

Update modules/authentication/proc-authenticationg-with-the-guest-user-on-a-helm-based-installation.adoc
  modules/authentication/proc-authenticationg-with-the-guest-user-on-a-helm-based-installation.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

docs - updates from review suggestions
  assemblies/assembly-authenticationg-with-the-guest-user.adoc
  assemblies/assembly-enabling-authentication.adoc
  modules/auth/proc-authenticationg-with-the-guest-user.adoc
  modules/authentication/proc-authenticationg-with-the-guest-user-on-a-helm-based-installation.adoc
  modules/authentication/proc-authenticationg-with-the-guest-user-on-an-operator-based-installation.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @hmanwani-rh, @themr0c, @schultzp2020, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash

Update modules/auth/proc-authenticationg-with-the-guest-user.adoc
  modules/auth/proc-authenticationg-with-the-guest-user.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @schultzp2020, @PatAKnight

Update modules/authentication/proc-authenticationg-with-the-guest-user-on-an-operator-based-installation.adoc
  modules/authentication/proc-authenticationg-with-the-guest-user-on-an-operator-based-installation.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @kim-tsao, @JessicaJHee, @04kash

Update modules/auth/proc-authenticationg-with-the-guest-user.adoc
  modules/auth/proc-authenticationg-with-the-guest-user.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @schultzp2020, @PatAKnight

RHIDP-3874 Authenticating with the guest user
  assemblies/assembly-enabling-authentication.adoc
  modules/auth/proc-authenticationg-with-the-guest-user.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @hmanwani-rh, @themr0c, @schultzp2020, @PatAKnight

Update modules/auth/proc-authenticationg-with-the-guest-user.adoc
  modules/auth/proc-authenticationg-with-the-guest-user.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @schultzp2020, @PatAKnight

Update modules/auth/proc-authenticationg-with-the-guest-user.adoc
  modules/auth/proc-authenticationg-with-the-guest-user.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @schultzp2020, @PatAKnight

Update modules/auth/proc-authenticationg-with-the-guest-user.adoc
  modules/auth/proc-authenticationg-with-the-guest-user.adoc
Owners: @redhat-developer/rhdh-content, @hmanwani-rh, @themr0c, @josephca, @schultzp2020, @PatAKnight

deploy: f8bb2615472e1122fdab7b1dfe36031f60cfeb5d
  pr-494/admin-rhdh/images/rhdh/disabling-telemetry.png
  pr-494/admin-rhdh/images/rhdh/helm-upgrade.png
  pr-494/admin-rhdh/images/rhdh/operator-install-2.png
  pr-494/admin-rhdh/images/rhdh/segment-source-helm.png
  pr-494/admin-rhdh/images/rhdh/template-editor.png
  pr-494/admin-rhdh/images/rhdh/upgrade-helm-metrics.png
  pr-494/admin-rhdh/index.html
  pr-494/authentication/index.html
  pr-494/authorization/index.html
  pr-494/getting-started-rhdh/images/rhdh/enable-gh-discovery.png
  pr-494/getting-started-rhdh/images/rhdh/enable-gh-member-discovery.png
  pr-494/getting-started-rhdh/images/rhdh/operator-install-2.png
  pr-494/getting-started-rhdh/images/user-guide/custom-theme-mode-1.png
  pr-494/getting-started-rhdh/index.html
  pr-494/index.html
  pr-494/install-rhdh-air-gapped/index.html
  pr-494/install-rhdh-aks/index.html
  pr-494/install-rhdh-eks/index.html
  pr-494/install-rhdh-ocp/images/rhdh/operator-install-1.png
  pr-494/install-rhdh-ocp/images/rhdh/rhdh-helm-install.png
  pr-494/install-rhdh-ocp/index.html
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/argocd.png
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/deployment_summary.png
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/group1.jpg
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/link.png
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/nexus-repository-manager.png
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/sidebar.png
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline-expand.png
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/tekton-plugin-pipeline.png
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/user-list.jpg
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/user2.jpg
  pr-494/plugin-rhdh/images/rhdh-plugins-reference/users.jpg
  pr-494/plugin-rhdh/images/rhdh/operator-install-2.png
  pr-494/plugin-rhdh/index.html
  pr-494/rel-notes-rhdh/index.html
  pr-494/upgrade-rhdh/index.html
  pulls.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[1.3.x] RHIDP-3874 Authenticating with the guest user (#494)
  assemblies/assembly-authenticationg-with-the-guest-user.adoc
  assemblies/assembly-enabling-authentication.adoc
  modules/authentication/proc-authenticationg-with-the-guest-user-on-a-helm-based-installation.adoc
  modules/authentication/proc-authenticationg-with-the-guest-user-on-an-operator-based-installation.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @hmanwani-rh, @themr0c, @kim-tsao, @JessicaJHee, @04kash

deploy: 3a5edad4138d6a41862b20db545f84e83713408b
  pr-460/admin-rhdh/index.html
  pr-460/authentication/index.html
  pr-460/authorization/index.html
  pr-460/getting-started-rhdh/index.html
  pr-460/install-rhdh-air-gapped/index.html
  pr-460/install-rhdh-aks/index.html
  pr-460/install-rhdh-eks/index.html
  pr-460/install-rhdh-ocp/index.html
  pr-460/plugin-rhdh/index.html
  pr-460/rel-notes-rhdh/index.html
  pr-460/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 3a5edad4138d6a41862b20db545f84e83713408b
  pr-480/admin-rhdh/index.html
  pr-480/authentication/index.html
  pr-480/authorization/index.html
  pr-480/getting-started-rhdh/index.html
  pr-480/install-rhdh-air-gapped/index.html
  pr-480/install-rhdh-aks/index.html
  pr-480/install-rhdh-eks/index.html
  pr-480/install-rhdh-ocp/index.html
  pr-480/plugin-rhdh/index.html
  pr-480/rel-notes-rhdh/index.html
  pr-480/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt
