Repository redhat-developer/red-hat-developers-documentation-rhdh, changes with the owners that .github/CODEOWNERS names for each.
All owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @schultzp2020, @hmanwani-rh, @themr0c, @PatAKnight, @kim-tsao, @JessicaJHee, @04kash, @Gerry-Forde, @kadel, @jesuino, @gashcrumb, @nickboldt

.github/CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most precedence.

# Global owners
* @redhat-developer/rhdh-content @redhat-developer/rhdh-team @josephca
# Specific areas
/modules/admin @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/auth @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @schultzp2020 @PatAKnight
/modules/authentication @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @kim-tsao @JessicaJHee @04kash 
/modules/authorization @redhat-developer/rhdh-content @hmanwani-rh @themr0c @josephca @PatAKnight
/modules/customization @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/dynamic-plugins @redhat-developer/rhdh-content @Gerry-Forde @josephca @kadel @jesuino @gashcrumb
/modules/getting-started @redhat-developer/rhdh-content @josephca @schultzp2020
/modules/installation @redhat-developer/rhdh-content @themr0c @josephca @schultzp2020
/modules/observability @redhat-developer/rhdh-content @josephca @schultzp2020 @kim-tsao 
/modules/release-notes @redhat-developer/rhdh-content @josephca @redhat-developer/rhdh-team @nickboldt
/modules/upgrade @redhat-developer/rhdh-content @josephca @schultzp2020
/.github/ @redhat-developer/rhdh-content @themr0c @nickboldt
/.vale-style/ @redhat-developer/rhdh-content @themr0c
/build/ @redhat-developer/rhdh-content @themr0c @nickboldt

RHIDP-3440-install Add Dynamic plugins cache
  modules/dynamic-plugins/con-dynamic-plugins-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

Update modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
  modules/dynamic-plugins/proc-installing-and-configuring-redis-cache.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

RHIDP-3440-install Remove caching documentation
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-install
  assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

chore: fix links from RN -> Plugins guide (RHIDP-3187) (#554)
  modules/release-notes/con-relnotes-techpreview-features.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @redhat-developer/rhdh-team, @nickboldt

deploy: 52b344d833e80b0c0ac252c3515db70dd6c9704b
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 52b344d833e80b0c0ac252c3515db70dd6c9704b
  pr-562/admin-rhdh/index.html
  pr-562/authentication/index.html
  pr-562/authorization/index.html
  pr-562/getting-started-rhdh/index.html
  pr-562/install-rhdh-air-gapped/index.html
  pr-562/install-rhdh-aks/index.html
  pr-562/install-rhdh-eks/index.html
  pr-562/install-rhdh-ocp/index.html
  pr-562/install-rhdh-osd-gcp/index.html
  pr-562/plugin-rhdh/index.html
  pr-562/plugins-rhdh-about/index.html
  pr-562/plugins-rhdh-configure/index.html
  pr-562/plugins-rhdh-install/index.html
  pr-562/plugins-rhdh-reference/index.html
  pr-562/plugins-rhdh-troubleshooting/index.html
  pr-562/plugins-rhdh-using/index.html
  pr-562/rel-notes-rhdh/index.html
  pr-562/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 187c12b2b4b62cfa54d65b8b24f14262532460ec
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 187c12b2b4b62cfa54d65b8b24f14262532460ec
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 187c12b2b4b62cfa54d65b8b24f14262532460ec
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 187c12b2b4b62cfa54d65b8b24f14262532460ec
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

[release-1.3] RHIDP-3440-install CX: Add plugin install content (#562)
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
  modules/dynamic-plugins/con-basic-config-dynamic-plugins.adoc
  modules/dynamic-plugins/con-install-dynamic-plugin-helm.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/proc-config-dynamic-plugins-rhdh-operator.adoc
  modules/dynamic-plugins/proc-using-custom-npm-registry.adoc
  titles/plugins-rhdh-install/docinfo.xml
  titles/plugins-rhdh-install/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: 83e11e0ab1da786d2510c453352909bb15c2b976
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/images/rhdh/operator-install-2.png
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 187c12b2b4b62cfa54d65b8b24f14262532460ec
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 187c12b2b4b62cfa54d65b8b24f14262532460ec
  pr-559/admin-rhdh/index.html
  pr-559/authentication/index.html
  pr-559/authorization/index.html
  pr-559/getting-started-rhdh/index.html
  pr-559/install-rhdh-air-gapped/index.html
  pr-559/install-rhdh-aks/index.html
  pr-559/install-rhdh-eks/index.html
  pr-559/install-rhdh-ocp/index.html
  pr-559/install-rhdh-osd-gcp/index.html
  pr-559/plugin-rhdh/index.html
  pr-559/plugins-rhdh-about/index.html
  pr-559/plugins-rhdh-configure/index.html
  pr-559/plugins-rhdh-install/index.html
  pr-559/plugins-rhdh-reference/index.html
  pr-559/plugins-rhdh-troubleshooting/index.html
  pr-559/plugins-rhdh-using/index.html
  pr-559/rel-notes-rhdh/index.html
  pr-559/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 187c12b2b4b62cfa54d65b8b24f14262532460ec
  pr-546/admin-rhdh/index.html
  pr-546/authentication/index.html
  pr-546/authorization/index.html
  pr-546/getting-started-rhdh/index.html
  pr-546/install-rhdh-air-gapped/index.html
  pr-546/install-rhdh-aks/index.html
  pr-546/install-rhdh-eks/index.html
  pr-546/install-rhdh-ocp/index.html
  pr-546/install-rhdh-osd-gcp/index.html
  pr-546/plugin-rhdh/index.html
  pr-546/plugins-rhdh-about/index.html
  pr-546/plugins-rhdh-configure/index.html
  pr-546/plugins-rhdh-install/images/rhdh/operator-install-2.png
  pr-546/plugins-rhdh-install/index.html
  pr-546/plugins-rhdh-reference/index.html
  pr-546/plugins-rhdh-troubleshooting/index.html
  pr-546/plugins-rhdh-using/index.html
  pr-546/rel-notes-rhdh/index.html
  pr-546/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-reference - CX: Add plugins tables (#546)
  artifacts/attributes.adoc
  assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-reference-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/dynamic-plugins/con-preinstalled-dynamic-plugins.adoc
  modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
  titles/plugins-rhdh-reference/docinfo.xml
  titles/plugins-rhdh-reference/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: 1d4e67611d340fed7c70350114e16edac598ccd9
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-reference 1.3 Add tables
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/dynamic-plugins/con-preinstalled-dynamic-plugins.adoc
  modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
  titles/plugins-rhdh-reference/docinfo.xml
  titles/plugins-rhdh-reference/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

RHIDP-3440-reference 1.3 Add tables (#564)
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/dynamic-plugins/con-preinstalled-dynamic-plugins.adoc
  modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
  titles/plugins-rhdh-reference/docinfo.xml
  titles/plugins-rhdh-reference/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

deploy: db6f68104937be81f84f3217ad64c95a35c98d20
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-about Peer review feedback edits
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @Gerry-Forde, @josephca, @kadel, @jesuino, @gashcrumb

deploy: 1d4e67611d340fed7c70350114e16edac598ccd9
  pr-555/admin-rhdh/index.html
  pr-555/authentication/index.html
  pr-555/authorization/index.html
  pr-555/getting-started-rhdh/index.html
  pr-555/install-rhdh-air-gapped/index.html
  pr-555/install-rhdh-aks/index.html
  pr-555/install-rhdh-eks/index.html
  pr-555/install-rhdh-ocp/index.html
  pr-555/install-rhdh-osd-gcp/index.html
  pr-555/plugin-rhdh/index.html
  pr-555/plugins-rhdh-about/index.html
  pr-555/plugins-rhdh-configure/index.html
  pr-555/plugins-rhdh-install/index.html
  pr-555/plugins-rhdh-reference/index.html
  pr-555/plugins-rhdh-troubleshooting/index.html
  pr-555/plugins-rhdh-using/index.html
  pr-555/rel-notes-rhdh/index.html
  pr-555/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-about-1 Resolve merge conflicts
  titles/plugins-rhdh-about/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-about-1 Resolve merge conflicts (#565)
  titles/plugins-rhdh-about/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  main/admin-rhdh/index.html
  main/authentication/index.html
  main/authorization/index.html
  main/getting-started-rhdh/index.html
  main/install-rhdh-air-gapped/index.html
  main/install-rhdh-aks/index.html
  main/install-rhdh-eks/index.html
  main/install-rhdh-ocp/index.html
  main/install-rhdh-osd-gcp/index.html
  main/plugin-rhdh/index.html
  main/plugins-rhdh-about/index.html
  main/plugins-rhdh-configure/index.html
  main/plugins-rhdh-install/index.html
  main/plugins-rhdh-reference/index.html
  main/plugins-rhdh-troubleshooting/index.html
  main/plugins-rhdh-using/index.html
  main/rel-notes-rhdh/index.html
  main/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-about-1 Resolve merge conflicts
  titles/plugins-rhdh-about/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-about-1 Resolve merge conflicts (#566)
  titles/plugins-rhdh-about/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 4d6983342a3d97afa434316d9421758f7dd4af2a
  release-1.3/admin-rhdh/index.html
  release-1.3/authentication/index.html
  release-1.3/authorization/index.html
  release-1.3/getting-started-rhdh/index.html
  release-1.3/install-rhdh-air-gapped/index.html
  release-1.3/install-rhdh-aks/index.html
  release-1.3/install-rhdh-eks/index.html
  release-1.3/install-rhdh-ocp/index.html
  release-1.3/install-rhdh-osd-gcp/index.html
  release-1.3/plugin-rhdh/index.html
  release-1.3/plugins-rhdh-about/index.html
  release-1.3/plugins-rhdh-configure/index.html
  release-1.3/plugins-rhdh-install/index.html
  release-1.3/plugins-rhdh-reference/index.html
  release-1.3/plugins-rhdh-troubleshooting/index.html
  release-1.3/plugins-rhdh-using/index.html
  release-1.3/rel-notes-rhdh/index.html
  release-1.3/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-plugins Remove unwanted files from PR
  assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

RHIDP-3440-install CX: Add plugin install content (#547)
  assemblies/dynamic-plugins/assembly-installing-rhdh-plugins.adoc
  modules/dynamic-plugins/con-basic-config-dynamic-plugins.adoc
  modules/dynamic-plugins/con-install-dynamic-plugin-helm.adoc
  modules/dynamic-plugins/con-rhdh-plugins.adoc
  modules/dynamic-plugins/proc-config-dynamic-plugins-rhdh-operator.adoc
  modules/dynamic-plugins/proc-using-custom-npm-registry.adoc
  titles/plugins-rhdh-install/docinfo.xml
  titles/plugins-rhdh-install/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

added missing modules (#560)
  titles/admin-rhdh/title-admin.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

fix typo on region parameter (#531)
  modules/getting-started/ref-techdocs-example-config-plugin-helm.adoc
  modules/getting-started/ref-techdocs-example-config-plugin-operator.adoc
Owners: @redhat-developer/rhdh-content, @josephca, @schultzp2020

RHIDP-3440-reference - CX: Add plugins tables (#546)
  artifacts/attributes.adoc
  assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-reference-rhdh-plugins.adoc
  assemblies/dynamic-plugins/assembly-rhdh-installing-dynamic-plugins.adoc
  modules/dynamic-plugins/con-preinstalled-dynamic-plugins.adoc
  modules/dynamic-plugins/ref-rh-compatible-plugins.adoc
  titles/plugins-rhdh-reference/docinfo.xml
  titles/plugins-rhdh-reference/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca, @Gerry-Forde, @kadel, @jesuino, @gashcrumb

RHIDP-3440-about-1 Resolve merge conflicts (#565)
  titles/plugins-rhdh-about/master.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-plugins Remove unwanted files from PR
  assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

deploy: 8727b0e034e9f6d6d5f6e9abd5b00c1118a9d8aa
  pr-556/admin-rhdh/index.html
  pr-556/authentication/index.html
  pr-556/authorization/index.html
  pr-556/getting-started-rhdh/index.html
  pr-556/install-rhdh-air-gapped/index.html
  pr-556/install-rhdh-aks/index.html
  pr-556/install-rhdh-eks/index.html
  pr-556/install-rhdh-ocp/index.html
  pr-556/install-rhdh-osd-gcp/index.html
  pr-556/plugin-rhdh/index.html
  pr-556/plugins-rhdh-about/index.html
  pr-556/plugins-rhdh-configure/index.html
  pr-556/plugins-rhdh-install/images/rhdh/operator-install-2.png
  pr-556/plugins-rhdh-install/index.html
  pr-556/plugins-rhdh-reference/index.html
  pr-556/plugins-rhdh-troubleshooting/index.html
  pr-556/plugins-rhdh-using/index.html
  pr-556/rel-notes-rhdh/index.html
  pr-556/upgrade-rhdh/index.html
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca

RHIDP-3440-reference - CX: Add plugins tables (#546)
  assemblies/dynamic-plugins/assembly-about-rhdh-plugins.adoc
Owners: @redhat-developer/rhdh-content, @redhat-developer/rhdh-team, @josephca
